<ion-header>
  <ion-toolbar>
    <ion-title>
      {{'system.modal.dictionary'| languageTransform : language.currentLanguage}}
    </ion-title>
    <ion-icon class="icon" slot="end" name="close-outline" (click)="dismiss()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--Selection of Language-->
  <ion-segment [(ngModel)]="currentLanguageCode" (ionChange)="onChangeLanguage()">
    <ion-segment-button *ngFor="let selection of languageSelection" [value]="selection.code">
      {{selection.flag}} {{ selection.name | languageTransform : language.currentLanguage}}
    </ion-segment-button>
  </ion-segment>

  <!--Search Bar-->
  <ion-searchbar [animated]="true" placeholder="" [(ngModel)]="transformDictionarySearchQuery"></ion-searchbar>

  <!--Key Pair Header-->
  <ion-list-header>
    <ion-label color="danger">{{'system.modal.key' | languageTransform : language.currentLanguage}}</ion-label>
    <ion-label color="danger">{{'system.modal.value' | languageTransform : language.currentLanguage}}</ion-label>
  </ion-list-header>

  <!--Key Pair Value-->
  <ion-list *ngFor="let item of transformDictionary | filter: transformDictionarySearchQuery">
    <ion-item>
      <ion-label>{{item.key}}</ion-label>
      <ion-label>{{item.value}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
