.dynamic-popover-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 80px;
  --width: fit-content;
}

.center-popover-container::part(content) {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.reservation-mobile-popover-container::part(content) {
  --min-width: 300px;
  --max-width: 300px;
}

.date-popover-container::part(content) {
  --min-width: 300px;
  --max-width: 300px;
}

.popover-container::part(content) {
  top: 50% !important;
  --min-width: 200px;
}

.add-break-time-container::part(content) {
  top: 50% !important;
  left: 50% !important;
  --min-width: 300px;
  --max-width: 300px;
  display: flex;
  justify-content: center;
}

.signature-transfer-popover-container::part(content) {
  top: 40% !important;
  left: 40% !important;
  --min-width: 210px;
  --max-width: 210px;
  --min-height: 240px;
  --max-height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .signature-transfer-popover-container::part(content) {
    top: 40% !important;
    left: 30% !important;
  }
}

@media (max-width: 450px) {
  .signature-transfer-popover-container::part(content) {
    top: 40% !important;
    left: 25% !important;
  }
}
