<ion-header>
  <!-- Title -->
  <ion-toolbar>
    <ion-title>{{'transform.title.name'| languageTransform | async }}</ion-title>
    <ion-icon class="modal-toolbar-icon" name="add-outline" slot="start" (click)="openAddLanguageTransform()"></ion-icon>
    <ion-icon class="modal-toolbar-icon" name="close-outline" slot="end" (click)="dismissDictonary()"></ion-icon>
  </ion-toolbar>

  <!--Language Selection-->
  <ion-item>
    <ion-segment id="language-selection" interface="popover" [scrollable]="true" [(ngModel)]="selectedLanguageCode" (ionChange)="onChangeLanguageSelection()">
      <ion-segment-button *ngFor="let lang of language.languageSelection | async" [value]="lang.code">  {{lang.flag}} {{lang.description | languageTransform | async }} </ion-segment-button>
    </ion-segment>
  </ion-item>

  <!--Search bar-->
  <ion-searchbar type="text" [(ngModel)]="selectedKeyPairValue"></ion-searchbar>

</ion-header>

<!--Key Pair Value-->
<ion-content>
  <ion-list *ngFor="let pair of keyPairValue | filter:selectedKeyPairValue">
    <ion-item>
      <ion-label>{{pair.key}} </ion-label>
      <ion-label>{{pair.value}}</ion-label>
      <language-key-pair-select-option [languageCode]='selectedLanguageCode' [keyPairValue]='pair'></language-key-pair-select-option>
    </ion-item>
  </ion-list>
</ion-content>

