.available-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: auto;
  max-height: 300px;
  overflow: hidden;
  overflow-y: auto;
}

.available-container {
  margin: auto;
  margin: 0px 15px 10px;
}

.no-available {
  color: var(--active);
}
