<ion-header>
  <ion-toolbar>
    <!-- Menu -->
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="true"></ion-menu-button>
    </ion-buttons>
    <!-- Title -->
    <ion-title>{{'menucontent.title.employeeschedule'| languageTransform:'System' | async }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <shop-employee-roster-management
    *ngIf="loaded()"
    [employees]="scheduledEmployees()"></shop-employee-roster-management>

  <div class="loading-container" *ngIf="!loaded()">
    <kendo-loader size="large"></kendo-loader>
  </div>
</ion-content>
