<ion-header>
  <ion-toolbar>
    <!-- Menu -->
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="true"></ion-menu-button>
    </ion-buttons>
    <!-- Title -->
    <ion-title
      >{{'menu.content.usermanagement'| languageTransform | async }}</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--
  <kendo-buttongroup selection="single" width="100%">
    <button
      kendoButton
      *ngFor="let button of systemMenu"
      [toggleable]="true"
      [selected]="button.name === selectedSystemMenu.name"
      (selectedChange)="processSystemMenuOption(button)"
    >
      {{button.name}}
    </button>
  </kendo-buttongroup>
  -->
  <gender-selection
    [(gender)]="gender"
    mode="form"
    [readOnly]="false"
  ></gender-selection>
</ion-content>
