<flex-col>
  <flex-col-item>
    <kendo-textbox
      *ngIf="filterable"
      [(ngModel)]="query"
      (ngModelChange)="onQueryChange()"
      placeholder="{{ 'placeholder.title.search' | languageTransform | async }}"></kendo-textbox>
  </flex-col-item>
  <flex-col-item>
    <kendo-grid
      id="dropdown-list"
      [style.max-height]="maxHeight"
      [kendoGridBinding]="gridData"
      [selectable]="true"
      [rowClass]="rowClass"
      [hideHeader]="true"
      (cellClick)="onClickCell($event)">
      <kendo-grid-column>
        <ng-template kendoGridCellTemplate let-data>
          {{ data.name | languageTransform | async }}
        </ng-template>
      </kendo-grid-column>
      <ng-template kendoGridNoRecordsTemplate>
        <p>{{ 'placeholder.description.nodata' | languageTransform | async }}</p>
      </ng-template>
    </kendo-grid>
  </flex-col-item>
</flex-col>
