<div id="menu-management-container">
  <menu-category-card
    [menuCategories]="menuCategories"
    [(category)]="selectedCategory"
    (onUpdate)="onUpdate()"></menu-category-card>
  <ng-container *ngFor="let category of menuCategories">
    <menu-category-content-card
      *ngIf="selectedCategory.id === category.id"
      [selectedMenuContents]="category.content"
      [selectedMenuCategoryId]="category.id"
      [selectedCategoryName]="category.name"
      (onUpdate)="onUpdate()"></menu-category-content-card>
  </ng-container>
</div>
