#menu-management-container {
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;

  menu-category-card {
    height: 300px;
    width: 50%;
  }
  menu-category-content-card {
    height: 300px;
    width: 50%;
  }
}

// For iPhone devices
@media screen and (max-width: 1400px) {
  #menu-management-container {
    margin-top: 50px;
    flex-direction: column;
    menu-category-card {
      margin-bottom: 20px;
      width: 100%;
      height: 300px;
    }
    menu-category-content-card {
      width: 100%;
      height: 300px;
    }
  }
}
