<div id="menu-management-container">
  <menu-category-card
    [menuCategories]="menuCategories | async"
    [(category)]="selectedCategory"
  ></menu-category-card>
  <ng-container *ngFor="let category of menuCategories | async">
    <menu-category-content-card
      *ngIf="selectedCategory.id === category.id"
      [selectedMenuContents]="category.content"
      [selectedMenuCategoryId]="category.id"
      [selectedCategoryName]="category.name"
    ></menu-category-content-card>
  </ng-container>
</div>
