#shop-employee-schedule {
  display: flex;
  justify-content: center;
  justify-self: center;
  margin-top: 25px;
}

#scheduler {
  max-width: 1000px;
  margin: auto;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 50vh;
}

.employee-name {
  margin: 5px;
  display: flex;
  align-items: center;
}

.day {
  display: flex;
  align-items: center;
  margin: 0px 15px 0px 15px;
}

#line {
  margin: 0;
  border-bottom: 1px solid var(--active);
}

#employee {
  margin: 0;
  height: 50px;
  border-bottom: 1px solid var(--active);
  justify-content: flex-start;
}

#name {
  font-size: 14px;
  font-weight: 900;
  margin: 0;
}

@media (max-width: 900px) {
  .employee-name {
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70px;
  }
}

@media (max-width: 800px) {
  .employee-name {
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 60px;
  }
}

@media (max-width: 700px) {
  .employee-name {
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70px;
  }
  #name {
    font-size: 10px;
  }
  .day {
    margin: 0px;
  }
}

@media (max-width: 600px) {
  .employee-name {
    max-width: 50px;
  }
}

@media (max-width: 500px) {
  #name {
    font-size: 8px;
  }
  .day {
    margin: 0px;
  }
}

@media (max-width: 450px) {
  .employee-name {
    max-width: 45px;
  }
}

@media (max-width: 1180px) {
  #employee {
    height: 100px;
  }
}
