<flex-col id="shop-employee-schedule">
  <employee-schedule-title
    *ngIf="!loading()"
    [schedulerTime]="schedulerTime"
    [(type)]="type"></employee-schedule-title>
  <flex-row id="line" *ngIf="!loading()"> </flex-row>
  <ng-container *ngFor="let emp of scheduledEmployees">
    <flex-row id="employee">
      <flex-row-item class="employee-name">
        <p id="name">{{ emp.firstName }} {{ emp.lastName }}</p></flex-row-item
      >
      <flex-row-item class="day">
        <shop-employee-schedule-btn
          [type]="type"
          [employee]="emp"
          [dayIndex]="0"
          [scheduleTime]="schedulerTime"
          [operatingHours]="schedulerTime.operatingHours"></shop-employee-schedule-btn>
      </flex-row-item>
      <flex-row-item class="day">
        <shop-employee-schedule-btn
          [type]="type"
          [employee]="emp"
          [dayIndex]="1"
          [scheduleTime]="schedulerTime"
          [operatingHours]="schedulerTime.operatingHours"></shop-employee-schedule-btn>
      </flex-row-item>
      <flex-row-item class="day">
        <shop-employee-schedule-btn
          [type]="type"
          [employee]="emp"
          [dayIndex]="2"
          [scheduleTime]="schedulerTime"
          [operatingHours]="schedulerTime.operatingHours"></shop-employee-schedule-btn
      ></flex-row-item>
      <flex-row-item class="day">
        <shop-employee-schedule-btn
          [type]="type"
          [employee]="emp"
          [dayIndex]="3"
          [scheduleTime]="schedulerTime"
          [operatingHours]="schedulerTime.operatingHours"></shop-employee-schedule-btn>
      </flex-row-item>
      <flex-row-item class="day">
        <shop-employee-schedule-btn
          [type]="type"
          [employee]="emp"
          [dayIndex]="4"
          [scheduleTime]="schedulerTime"
          [operatingHours]="schedulerTime.operatingHours"></shop-employee-schedule-btn>
      </flex-row-item>
      <flex-row-item class="day">
        <shop-employee-schedule-btn
          [type]="type"
          [employee]="emp"
          [dayIndex]="5"
          [scheduleTime]="schedulerTime"
          [operatingHours]="schedulerTime.operatingHours"></shop-employee-schedule-btn>
      </flex-row-item>
      <flex-row-item class="day">
        <shop-employee-schedule-btn
          [type]="type"
          [employee]="emp"
          [dayIndex]="6"
          [scheduleTime]="schedulerTime"
          [operatingHours]="schedulerTime.operatingHours"></shop-employee-schedule-btn>
      </flex-row-item>
    </flex-row>
  </ng-container>

  <div class="loading-container" *ngIf="loading()">
    <kendo-loader size="large"></kendo-loader>
  </div>
</flex-col>
