<section class="modal-container">
  <!--Format-->
  <key-pair-value-dropdown-single-selection
    title="label.title.componentoption"
    [selection]="componentSelection"
    [(selected)]="selectedComponent"
    (selectedChange)="onChangeFormatSelection()"></key-pair-value-dropdown-single-selection>
  <!--Format-->
  <key-pair-value-dropdown-single-selection
    title="label.title.format"
    [selection]="formatSelection"
    [(selected)]="selectedFormat"
    (selectedChange)="onChangeFormatSelection()"></key-pair-value-dropdown-single-selection>

  <!-- Transform Key -->
  <text-box
    title="label.title.key"
    [(value)]="keyValue"
    [(validate)]="validator.text"
    (valueChange)="onChangeKeyValue()">
  </text-box>

  <text-box title="label.title.value" [(value)]="languageTransform.value"> </text-box>

  <!--Save Button-->
  <ion-button
    expand="block"
    (click)="onClickSaveButton()"
    [disabled]="!validator.text && !languageTransform.value"
    >{{ 'button.title.save' | languageTransform | async }}</ion-button
  >
</section>
