<section class="modal-container">
  <!--Component-->
  <name-value-pair-single-dropdown-selection
    title="label.title.componentoption"
    [isRequired]="true"
    [selection]="componentSelection"
    [(selected)]="selectedComponent"
    (selectedChange)="onChangeFormatSelection()"></name-value-pair-single-dropdown-selection>
  <!--Format-->
  <name-value-pair-single-dropdown-selection
    title="label.title.format"
    [isRequired]="true"
    [selection]="formatSelection"
    [(selected)]="selectedFormat"
    (selectedChange)="onChangeFormatSelection()"></name-value-pair-single-dropdown-selection>

  <!-- Transform Key -->
  <text-box title="label.title.key" [(value)]="keyValue" (valueChange)="onChangeKeyValue()">
  </text-box>

  <text-box title="label.title.value" [(value)]="languageTransform.value"> </text-box>

  <!--Save Button-->
  <ion-button expand="block" (click)="onClickSaveButton()" [disabled]="!validator.name">{{
    'button.title.save' | languageTransform | async
  }}</ion-button>
</section>
