<ion-header *ngIf="loaded$ | async">
  <ion-toolbar>
    <button class="goback-btn" slot="start" kendoButton (click)="onClickGoback()">
      {{'label.title.goback' | languageTransform:'System' | async}}
    </button>
    <!-- Title -->
    <ion-title>{{'label.title.selectspecialist'| languageTransform:'System' | async }}</ion-title>
    <button class="next-btn" slot="end" kendoButton (click)="onClickNext()">
      {{'label.title.next' | languageTransform:'System' | async}}
    </button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> </ion-content>
