<kendo-label text="{{ title | languageTransform | async }}" *ngIf="isRequiredTitle">
  <kendo-button id="dropdown-list-btn" #dropdownListBtn>
    <span id="selected-name" #selectedName>{{ selectedText | languageTransform | async }} </span>
    <span #dropDownArrow id="dropdown-list-down" class="k-icon k-i-arrow-60-down"></span>
  </kendo-button>
</kendo-label>

<kendo-button id="dropdown-list-btn" #dropdownListBtn *ngIf="!isRequiredTitle">
  <span id="selected-name" #selectedName>{{ selectedText | languageTransform | async }} </span>
  <span #dropDownArrow id="dropdown-list-down" class="k-icon k-i-arrow-60-down"></span>
</kendo-button>
