<kendo-label text="{{ title | languageTransform: 'System' | async }}" *ngIf="isRequiredTitle">
  <kendo-button id="dropdown-list-btn" #dropdownListBtn>
    <span id="selected-name" #selectedName
      >{{ selectedSelection?.name | languageTransform: 'System' | async }}
    </span>
    <span #dropDownArrow id="dropdown-list-down">
      <kendo-svgicon [icon]="kendo.icon.down"></kendo-svgicon>
    </span>
  </kendo-button>
</kendo-label>

<kendo-button id="dropdown-list-btn" #dropdownListBtn *ngIf="!isRequiredTitle">
  <span id="selected-name" #selectedName
    >{{ selectedSelection?.name | languageTransform: 'System' | async }}
  </span>
  <span #dropDownArrow id="dropdown-list-down">
    <kendo-svgicon [icon]="kendo.icon.down"></kendo-svgicon>
  </span>
</kendo-button>
