<ion-content [scrollable]="true">
  <form-header
    [title]="form.headerTitle"
    [readOnly]="form.readOnly"
    [enabledSavebutton]="form.enabledSavebutton"
    [action]="form.action"
    (onClickDismiss)="dismiss()"
    (onClickCreate)="handleCreate()"
    (onClickEdit)="handleEdit()"
    (onClickSave)="handleSave()"
    (onClickDelete)="handleDelete()">
  </form-header>
  <form-container>
    <!-- Button -->
    <kendo-buttongroup selection="single" width="100%">
      <!--Information Button -->
      <button kendoButton [toggleable]="true" (click)="onClickInfo()" [(selected)]="display.info">
        {{ 'label.title.info' | languageTransform | async }}
      </button>
      <!--Subscription Button-->
      <button
        kendoButton
        [toggleable]="true"
        (click)="onClickHours()"
        [(selected)]="display.workHours">
        {{ 'label.title.workhours' | languageTransform | async }}
      </button>
      <!--Address Button-->
      <button
        kendoButton
        [toggleable]="true"
        (click)="onClickAddress()"
        [(selected)]="display.address">
        {{ 'label.title.address' | languageTransform | async }}
      </button>
      <!--Subscription Button-->
      <button
        kendoButton
        [toggleable]="true"
        (click)="onClickSubscription()"
        [(selected)]="display.subscription">
        {{ 'label.title.subscription' | languageTransform | async }}
      </button>
    </kendo-buttongroup>

    <!--Information-->
    <div *ngIf="display.info" id="info-container">
      <flex-row>
        <flow-row-item>
          <legend>{{ 'label.title.info' | languageTransform | async }}</legend>
        </flow-row-item>
        <!--Active-->
        <flex-row-item id="active-box">
          <kendo-label text="{{ 'label.title.active' | languageTransform | async }}">
            <input type="checkbox" kendoCheckBox [checked]="config.active" [disabled]="true" />
          </kendo-label>
        </flex-row-item>
      </flex-row>
      <flex-row>
        <flex-row-item>
          <text-box
            #businessName
            title="label.title.businessname"
            [readOnly]="form.readOnly"
            [(value)]="config.name"
            [(validate)]="validator.name"
            [isTitleFormat]="true"
            [isRequired]="true"
            [min]="2"
            (valueChange)="onChangeForm()">
          </text-box>
        </flex-row-item>
        <flex-row-item>
          <text-box
            #taxNumber
            title="label.title.taxnumber"
            [readOnly]="form.readOnly"
            [(value)]="config.taxNumber"
            [(validate)]="validator.taxNumber"
            [isTitleFormat]="true"
            [maxLength]="15"
            [isRequired]="true"
            [showCounter]="false"
            (valueChange)="onChangeForm()">
          </text-box>
        </flex-row-item>
      </flex-row>
      <!--Phone Number and Email-->
      <flex-row>
        <flex-row-item>
          <phone-number
            mode="form"
            [readOnly]="form.readOnly"
            [(phone)]="config.phoneNumber"
            [(validate)]="validator.phonNumber"
            (phoneChange)="onChangeForm()">
          </phone-number>
        </flex-row-item>
        <flex-row-item>
          <e-mail
            #email
            [(email)]="config.email"
            [(validate)]="validator.email"
            [readOnly]="form.readOnly"
            [isRequired]="true"
            (emailChange)="onChangeForm()">
          </e-mail>
        </flex-row-item>
      </flex-row>
      <!--Shop Category and Shop Country-->
      <flex-col>
        <flex-col-item>
          <shop-category
            #category
            [readOnly]="form.readOnly"
            [(shopCategory)]="config.category"
            [(validate)]="validator.category"
            (shopCategoryChange)="onChangeForm()">
          </shop-category>
        </flex-col-item>
      </flex-col>
    </div>
    <!-- Operating Hours -->
    <div *ngIf="display.workHours">
      <flex-col>
        <flex-col-item>
          <operating-hours
            [intervalMin]="config.setting.timePicker.intervalMin"
            [(workHours)]="config.operatingHours"
            [readOnly]="form.readOnly"
            [action]="form.action"
            [timezone]="config.timezone"
            [(validate)]="validator.workHours"
            (workHoursChange)="onChangeForm()"></operating-hours>
        </flex-col-item>
      </flex-col>
    </div>

    <!--Address-->
    <div *ngIf="display.address">
      <address
        [isRequired]="true"
        [(address)]="config.address"
        [(validate)]="validator.address"
        [readOnly]="form.readOnly"
        [excludeStreet]="false"
        (addressChange)="onChangeForm()"></address>
      <flex-col>
        <flex-col-item id="country">
          <shop-country
            #country
            [(shopCountry)]="config.country"
            [(validate)]="validator.country"
            [readOnly]="form.readOnly"
            (shopCountryChange)="onChangeForm()">
          </shop-country>
        </flex-col-item>
        <flex-col-item id="timezone">
          <time-zone
            #timezone
            [(timeZone)]="config.timezone"
            [(validate)]="validator.timeZone"
            [readOnly]="form.readOnly"
            (timeZoneChange)="onChangeForm()">
          </time-zone>
        </flex-col-item>
      </flex-col>
    </div>

    <!--Subscription-->
    <flex-col *ngIf="display.subscription">
      <flex-row id="subscription-title">
        <flex-row-item>
          <legend>
            {{ 'label.title.subscription' | languageTransform | async }}
          </legend>
        </flex-row-item>
        <flex-row-item id="active-box">
          <kendo-label text="{{ 'label.title.overdue' | languageTransform | async }}">
            <input
              type="checkbox"
              kendoCheckBox
              [checked]="config.plan.isOverDue"
              [disabled]="true" />
          </kendo-label>
        </flex-row-item>
      </flex-row>
      <flex-col-item>
        <shop-plan
          [(planId)]="config.plan.configurationId"
          [(validate)]="validator.plan"
          [readOnly]="form.readOnly"
          (planIdChange)="onChangePlan()"></shop-plan>
      </flex-col-item>
      <flex-row>
        <flex-row-item>
          <date-period-picker
            [isPlanFormat]="true"
            [(period)]="config.plan.period"
            [readOnly]="form.readOnly"
            (periodChange)="onPlanPeriodChange()"></date-period-picker>
        </flex-row-item>
        <flex-row-item>
          <shop-plan-price
            [planId]="config.plan.configurationId"
            [period]="config.plan.period"></shop-plan-price>
        </flex-row-item>
      </flex-row>
      <flex-row>
        <flex-row-item>
          <date-picker
            title="label.title.lastpaymentdate"
            [dateFormatter]="config.country.dateFormat"
            [shopTimeZone]="config.timezone"
            [(date)]="config.plan.lastPaymentDate"
            (dateChange)="autoPaymentDateCalculation()"
            [readOnly]="form.readOnly"
            [restrictedFromToday]="false"></date-picker>
        </flex-row-item>
        <flex-row-item>
          <date-picker
            title="label.title.upcomingpaymentdate"
            [dateFormatter]="config.country.dateFormat"
            [shopTimeZone]="config.timezone"
            [(date)]="config.plan.paymentDate"
            [readOnly]="form.readOnly"
            [restrictedFromToday]="true"></date-picker>
        </flex-row-item>
      </flex-row>
    </flex-col>
  </form-container>
</ion-content>
