#active-box {
  position: absolute;
  right: 0;
  margin-left: 15px;
  margin-top: 15px;
  color: #b3b3b3;
  font-size: 11px;
  .k-checkbox {
    margin-left: 5px;
  }
}

#info-container {
  legend {
    margin: 15px;
  }
}

#operating-hours-container {
  margin: 25px;
}

#country,
#timezone {
  margin-top: 10px;
}

#capcity {
  margin-top: 15px;
}

#premium-capcity,
#test-capcity {
  display: flex;
  justify-content: flex-end;
}

#capacity-items {
  kendo-numerictextbox {
    height: 32px;
    margin: 0;
    margin-top: 16px;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 600px) {
  #info-btn,
  #subscription-btn,
  #address-btn,
  #workhours-btn {
    font-size: 10px;
  }
}

@media only screen and (max-width: 500px) {
  #business-info,
  #phone-email {
    flex-direction: column;
  }
}
