<flex-col>
  <flex-col-item>
    <kendo-label text="{{ 'label.title.password' | languageTransform: 'System' | async }}">
      <kendo-textbox
        #newPassword
        placeholder="{{ 'placeholder.title.required' | languageTransform: 'System' | async }}"
        [clearButton]="true"
        [(value)]="password.new"
        (valueChange)="onChangeNewPassword()">
        <ng-template kendoTextBoxSuffixTemplate>
          <button
            *ngIf="visible.new"
            kendoButton
            look="clear"
            icon="unlock"
            (click)="toggleVisibleNewPassword()"></button>
          <button
            *ngIf="!visible.new"
            kendoButton
            look="clear"
            icon="lock"
            (click)="toggleVisibleNewPassword()"></button>
        </ng-template>
      </kendo-textbox>
    </kendo-label>
  </flex-col-item>
  <flex-col-item>
    <kendo-label text="{{ 'label.title.passwordconfirmation' | languageTransform: 'System' | async }}">
      <kendo-textbox
        #confirmationPassword
        placeholder="{{ 'placeholder.title.required' | languageTransform: 'System' | async }}"
        [clearButton]="true"
        [(value)]="password.confirmation"
        (valueChange)="onChangeConfirmationPassword()">
        <ng-template kendoTextBoxSuffixTemplate>
          <button
            *ngIf="visible.confirmation"
            kendoButton
            look="clear"
            icon="unlock"
            (click)="toggleVisibleConfirmationPassword()"></button>
          <button
            *ngIf="!visible.confirmation"
            kendoButton
            look="clear"
            icon="lock"
            (click)="toggleVisibleConfirmationPassword()"></button>
        </ng-template>
      </kendo-textbox>
    </kendo-label>
  </flex-col-item>
  <flex-col-item>
    <kendo-formerror
      *ngIf="(!validator.new && entered.new) || (!validator.confirmation && entered.confirmation)"
      >{{ 'messageerror.description.passworderror' | languageTransform: 'System' | async }}</kendo-formerror
    >
    <kendo-formerror *ngIf="!validator.same && validator.new && validator.confirmation">
      {{ 'messageerror.description.passwordnotmatch' | languageTransform: 'System' | async }}
    </kendo-formerror>
  </flex-col-item>
</flex-col>
