<kendo-label text="{{ 'label.title.timezone' | languageTransform | async }}">
  <div class="form-error-container">
    <kendo-formerror *ngIf="!validate && entered">{{
      'messageerror.description.autocomplete' | languageTransform | async
    }}</kendo-formerror>
  </div>
  <kendo-autocomplete
    #suburb
    [data]="autoCompleteFilterList"
    [(ngModel)]="inputTimeZone"
    [readonly]="readOnly"
    (ngModelChange)="onChangeTimeZone()"
    [filterable]="true"
    (filterChange)="onChangeTimezoneInput($event)"
    placeholder="{{ 'placeholder.title.required' | languageTransform | async }}">
  </kendo-autocomplete>
</kendo-label>
