<ion-header>
  <ion-toolbar>
    <!-- Menu -->
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="true"></ion-menu-button>
    </ion-buttons>
    <!-- Title -->
    <ion-title>{{'label.title.languagemanagement'| languageTransform:'System' | async }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Button -->
  <kendo-buttongroup selection="single" width="100%">
    <button
      kendoButton
      *ngFor="let button of systemMenu"
      [toggleable]="true"
      [selected]="button.name === selectedSystemMenu.name"
      (selectedChange)="processSystemMenuOption(button)">
      {{button.name}}
    </button>
  </kendo-buttongroup>

  <language-dictonary *ngIf="selectedSystemMenu.isLanguageDictionary"></language-dictonary>
  <language-management *ngIf="selectedSystemMenu.isLanguageManagement"></language-management>
</ion-content>
