<ion-header *ngIf="loaded$ | async">
  <ion-toolbar>
    <kendo-button
      class="goback-btn"
      slot="start"
      *ngIf="category$ | async as cateogry"
      kendoButton
      (click)="onClickGoback(cateogry)">
      {{'label.title.goback' | languageTransform:'System' | async}}
    </kendo-button>
    <!-- Title -->
    <ion-title>{{'label.title.consultationoption'| languageTransform:'System' | async }} </ion-title>

    <kendo-button class="next-btn" *ngIf="cart$ | async as cart" slot="end" kendoButton (click)="onClickNext()">
      <ion-icon name="cart-outline"></ion-icon>
      <div class="qty">{{qty(cart)}}</div>
    </kendo-button>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" *ngIf="(loaded$ | async)">
  <waiting-list-stepper *ngIf="sessionId" title="label.title.cart" [sessionId]="sessionId"></waiting-list-stepper>
  <div class="cart-container" *ngIf="{criteria: criteria$ | async, cart: cart$ | async} as view">
    <waiting-list-cart
      *ngIf="view.cart !== null && view.criteria !== null"
      [cart]="view.cart"
      [criteria]="view.criteria"></waiting-list-cart>

    <div class="loading-container" *ngIf="view.cart === null || view.criteria === null">
      <kendo-loader size="large"></kendo-loader>
    </div>
  </div>
</ion-content>

<div class="loading-container" *ngIf="isLoading$ | async">
  <kendo-loader size="large"></kendo-loader>
</div>
