#language-selection {
  display: flex;
  justify-content: flex-end;
}

ion-header {
  max-width: 800px;
  margin: auto;
  ion-title {
    color: var(--title);
  }
}

button {
  margin: 0px 15px;
  background: transparent;
  &:hover {
    background: transparent;
  }
}

.cart-container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
}

.next-btn {
  background: transparent;
  &:hover {
    cursor: pointer;
    background: transparent;
  }
}
ion-icon {
  font-size: 20px;
  color: var(--title);
}
.qty {
  position: absolute;
  top: -1px;
  right: 2px;
  background: var(--title);
  padding: 0px;
  width: 16px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 700;
}
