<flex-row>
  <flex-row-item class="setting-title">
    <legend>{{ 'label.title.signature' | languageTransform: 'System' | async }}</legend>
    <kendo-button *ngIf="readOnly" (click)="provide()" class="edit-btn">
      {{ 'button.title.edit' | languageTransform: 'System' | async }}
    </kendo-button>
    <kendo-button
      *ngIf="!readOnly"
      class="save-btn"
      themeColor="success"
      (click)="onSave()"
      [disabled]="!enableSaveBtn || requesting">
      {{ 'button.title.save' | languageTransform: 'System' | async }}
    </kendo-button>
  </flex-row-item>
</flex-row>

<flex-row *ngIf="!requesting">
  <flex-row-item class="description">
    <p class="default-placeholder" *ngIf="signature === null && readOnly">
      <span>
        {{ 'label.description.nosignatureprovided' | languageTransform: 'System' | async }}
      </span>
      {{
        'label.description.singaturewillonlyusedwhenyouarebookingwithourtheraphiststoconfirmthatyouagreewiththetermandcondition'
          | languageTransform: 'System'
          | async
      }}
    </p>
    <p *ngIf="signature && signature !== null && signature.length > 0 && !enableSaveBtn && !readOnly">
      {{ 'label.description.doyouwanttoreset' | languageTransform: 'System' | async }}
      <input type="checkbox" kendoCheckBox [checked]="false" [disabled]="readOnly" (click)="reset()" />
    </p>
  </flex-row-item>
</flex-row>

<flex-col *ngIf="!requesting">
  <flex-col-item *ngIf="signature !== null">
    <signature-input
      [(signature)]="signature"
      [readOnly]="readOnly"
      (signatureChange)="onChangeSingature()"></signature-input>
  </flex-col-item>
</flex-col>

<flex-col>
  <flex-col-item>
    <kendo-loader *ngIf="requesting" size="large"></kendo-loader>
  </flex-col-item>
</flex-col>
