<kendo-label text="{{ title | languageTransform | async }}">
  <div class="form-error-container">
    <kendo-formerror
      *ngIf="!validate && mode === 'form' && entered && isRequired"
      >{{
        "message.error.textbox" | languageTransform | async
      }}</kendo-formerror
    >
  </div>
  <kendo-textbox
    [(ngModel)]="validatedValue"
    (ngModelChange)="onChangeValue()"
    [readonly]="readOnly"
    [maxlength]="max"
    [placeholder]="placeHolder"
    [clearButton]="true"
  >
    <ng-template kendoTextBoxSuffixTemplate *ngIf="showCounter">
      <span class="counter">{{ counter }}</span>
    </ng-template>
  </kendo-textbox>
</kendo-label>
