<form-header
  *ngIf="setting && timezone"
  [title]="form.headerTitle"
  [readOnly]="form.readOnly"
  [enabledSavebutton]="form.enabledSavebutton"
  [action]="form.action"
  [isDeleteRequired]="false"
  (onClickDismiss)="dismiss()"
  (onClickEdit)="handleEdit()"
  (onClickSave)="handleSave()">
</form-header>
<ion-content *ngIf="setting && timezone" [scrollable]="true">
  <flex-col class="modal-container">
    <flex-col-item>
      <name-value-pair-single-dropdown-selection
        [selection]="intervalMinSelection"
        [(selected)]="selectedIntervalMin"
        [orderByName]="false"
        [readOnly]="form.readOnly"
        [filterable]="false"
        (selectedChange)="onChangeIntervalMin()"
        title="label.title.intervalmin"></name-value-pair-single-dropdown-selection>
    </flex-col-item>
    <flex-col-item>
      <name-value-pair-single-dropdown-selection
        [selection]="nextAvailableMinSelection"
        [(selected)]="selectedNextAvailableMin"
        [orderByName]="false"
        [readOnly]="form.readOnly"
        [filterable]="false"
        (selectedChange)="onChangeNextAvailableMin()"
        title="label.title.earliestBookingTime"></name-value-pair-single-dropdown-selection>
    </flex-col-item>
    <flex-col-item>
      <name-value-pair-single-dropdown-selection
        [selection]="maximumAvailableFutureBookingDaysSelection"
        [(selected)]="selectedMaximumAvailableFutureBookingDays"
        [orderByName]="false"
        [readOnly]="form.readOnly"
        [filterable]="false"
        (selectedChange)="onChangeMaximumAvailableFutureBookingDays()"
        title="label.title.maximumavailablefuturebookingdays"></name-value-pair-single-dropdown-selection>
    </flex-col-item>
    <flex-col-item>
      <date-picker
        [displayCenter]="true"
        [displayNextDay]="setting.calendar.maximumAvailableFutureBookingDays"
        [restrictedFromToday]="true"
        [shopTimeZone]="timezone"
        title="label.title.preview"></date-picker>
    </flex-col-item>
  </flex-col>
</ion-content>
