<ion-content [scrollable]="true" *ngIf="setting && timezone">
  <form-header
    [title]="form.headerTitle"
    [readOnly]="form.readOnly"
    [enabledSavebutton]="form.enabledSavebutton"
    [action]="form.action"
    [isDeleteRequired]="false"
    (onClickDismiss)="dismiss()"
    (onClickEdit)="handleEdit()"
    (onClickSave)="handleSave()">
  </form-header>
  <flex-col class="modal-container">
    <flex-col-item>
      <name-value-pair-single-dropdown-selection
        title="label.title.intervalmin"
        [selection]="intervalMinSelection"
        [(selected)]="selectedIntervalMin"
        [orderByName]="false"
        [readOnly]="form.readOnly"
        [filterable]="false"
        (selectedChange)="onChangeIntervalMin()"></name-value-pair-single-dropdown-selection>
    </flex-col-item>
    <flex-col-item>
      <name-value-pair-single-dropdown-selection
        title="label.title.earliestBookingTime"
        [selection]="nextAvailableMinSelection"
        [(selected)]="selectedNextAvailableMin"
        [orderByName]="false"
        [readOnly]="form.readOnly"
        [filterable]="false"
        (selectedChange)="onChangeNextAvailableMin()"></name-value-pair-single-dropdown-selection>
    </flex-col-item>
    <flex-col-item>
      <name-value-pair-single-dropdown-selection
        title="label.title.maximumavailablefuturebookingdays"
        [selection]="maximumAvailableFutureBookingDaysSelection"
        [(selected)]="selectedMaximumAvailableFutureBookingDays"
        [orderByName]="false"
        [readOnly]="form.readOnly"
        [filterable]="false"
        (selectedChange)="
          onChangeMaximumAvailableFutureBookingDays()
        "></name-value-pair-single-dropdown-selection>
    </flex-col-item>
    <flex-col-item>
      <date-picker
        title="label.title.preview"
        [displayNextDay]="setting.calendar.maximumAvailableFutureBookingDays"
        [restrictedFromToday]="true"
        [shopTimeZone]="timezone"></date-picker>
    </flex-col-item>
  </flex-col>
</ion-content>
