<ion-toolbar>
  <ion-title>{{'language.management.title'| languageTransform | async }}</ion-title>
  <ion-icon class="toolbar-icon" name="add-outline" slot="start" (click)="onClickAddLanguage()"></ion-icon>
  <ion-icon class="toolbar-icon" name="close-outline" slot="end"></ion-icon>
</ion-toolbar>


<ion-content>
  <ion-list *ngFor="let lang of language.languageSelection | async let i = index">
      <!--Title-->
      <ion-list-header *ngIf="i === 0">
        <ion-label> <h2>{{'language.name.language'  | languageTransform | async }} </h2> </ion-label>
        <ion-label> <h2>{{'language.managment.default'  | languageTransform | async }} </h2> </ion-label>
      </ion-list-header>

      <!--Language List-->
      <ion-item-sliding>
        <!-- Language Title -->
        <ion-item>
          <ion-label><p>{{lang.flag}} {{lang.description | languageTransform | async}}</p></ion-label>
          <ion-label *ngIf="lang.isDefault"><ion-icon name="checkmark-outline"></ion-icon></ion-label>
        </ion-item>
        <!--Delete Option -->
        <ion-item-options side="end" *ngIf="!lang.isDefault">
          
          <!--TODO: will Implmenent with products and services-->
          <ion-item-option color="danger"> <p> {{'button.name.delete' | languageTransform | async }} </p> </ion-item-option>
        </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
