.phone-number {
  max-width: 400px;
  margin: 0px 15px 15px 15px;
}

.btn {
  max-width: 400px;
  min-width: 200px;
  margin: 0px 15px;
  kendo-button {
    width: 100%;
    height: 32px;
  }
}

.success-message {
  margin: 0px 15px;
  legend {
    color: var(--title);
  }
}

.margin-auto {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.success {
  height: 30vh;
}
