<div id="language-selection-list">
  <legend>
    {{ 'label.name.languageselection' | languageTransform | async }}
  </legend>
  <!--Grid-->
  <kendo-grid
    [kendoGridBinding]="languageSelection"
    [height]="500"
    [sortable]="true"
    [autoSize]="true"
    [selectable]="true"
    (cellClick)="onClickLanguage($event)">
    <!--
    <ng-template kendoGridToolbarTemplate>
      <button kendoGridAddCommand (click)="onClickCreate()">
        {{ "button.name.add" | languageTransform | async }}
      </button>
    </ng-template>
    -->

    <!-- Name -->
    <kendo-grid-column title="{{ 'label.name.name' | languageTransform | async }}" field="name">
    </kendo-grid-column>
    <!-- Code -->
    <kendo-grid-column title="{{ 'label.name.code' | languageTransform | async }}" field="code">
    </kendo-grid-column>

    <!--Default-->
    <kendo-grid-column
      title="{{ 'language.managment.default' | languageTransform | async }}"
      field="isDefault">
      <ng-template kendoGridCellTemplate let-selection>
        <input type="checkbox" kendoCheckBox [checked]="selection.isDefault" disabled />
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>
</div>
