<div id="language-selection-list">
  <div id="language-selection-title">
    <legend>
      {{ 'label.title.languageselection' | languageTransform | async }}
    </legend>
  </div>

  <!--Grid-->
  <kendo-grid
    [kendoGridBinding]="languageSelection"
    [height]="500"
    [sortable]="true"
    [autoSize]="true"
    [selectable]="true"
    (cellClick)="onClickLanguage($event)">
    <ng-template kendoGridToolbarTemplate>
      <button kendoGridAddCommand (click)="onClickCreate()">
        {{ 'button.title.add' | languageTransform | async }}
      </button>
    </ng-template>

    <!-- Name -->
    <kendo-grid-column title="{{ 'label.title.name' | languageTransform | async }}" field="name">
    </kendo-grid-column>
    <!-- Code -->
    <kendo-grid-column title="{{ 'label.title.code' | languageTransform | async }}" field="code">
    </kendo-grid-column>

    <!--Default-->
    <kendo-grid-column
      title="{{ 'label.title.default' | languageTransform | async }}"
      field="isDefault">
      <ng-template kendoGridCellTemplate let-selection>
        <input type="checkbox" kendoCheckBox [checked]="selection.isDefault" disabled />
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>
</div>
