<kendo-grid [kendoGridBinding]="packages" [height]="600" [sortable]="true">
  <!-- Add -->
  <ng-template kendoGridToolbarTemplate>
    <kendo-button kendoGridAddCommand (click)="onClickCreate()" *ngIf="isAuthorisedRole && !isReachMax">
      <kendo-svgicon [icon]="kendo.icon.plus"></kendo-svgicon>
    </kendo-button>
  </ng-template>

  <!-- Name -->
  <kendo-grid-column
    [sortable]="true"
    field="titleProp"
    title="{{ 'label.title.name' | languageTransform: 'System' | async }}">
    <ng-template kendoGridCellTemplate let-package>
      <p
        (click)="onClickEdit(package)"
        id="package-name"
        *ngIf="!isCompletedRequest(package.id) && translatedRequests">
        {{ package.titleProp }}
      </p>
      <p
        (click)="onClickEdit(package)"
        id="package-name"
        *ngIf="isCompletedRequest(package.id) && translatedRequests">
        {{ package.title | languageTransform: 'User' | async }}
      </p>
    </ng-template>
  </kendo-grid-column>

  <!-- Original Price -->
  <kendo-grid-column
    media="(min-width: 725px)"
    [sortable]="true"
    field="originalPrice"
    title="{{ 'label.title.originalprice' | languageTransform: 'System' | async }}">
    <ng-template kendoGridCellTemplate let-package>
      <p>{{ package.originalPrice | currencyTransform }}</p>
    </ng-template>
  </kendo-grid-column>

  <!-- Discounted Price -->
  <kendo-grid-column
    [sortable]="true"
    field="discountPrice"
    title="{{ 'label.title.discountedprice' | languageTransform: 'System' | async }}">
    <ng-template kendoGridCellTemplate let-package>
      <p>{{ package.discountPrice | currencyTransform }}</p>
    </ng-template>
  </kendo-grid-column>

  <!-- Total Min -->
  <kendo-grid-column
    media="(min-width: 450px)"
    [sortable]="true"
    field="totalMin"
    title="{{ 'label.title.minute' | languageTransform: 'System' | async }}">
    <ng-template kendoGridCellTemplate let-package>
      <p>{{ package.totalMin }}</p>
    </ng-template>
  </kendo-grid-column>

  <!-- Limited time -->
  <kendo-grid-column
    [sortable]="true"
    field="package.limitedTime !== null"
    title="{{ 'label.title.limitedoffer' | languageTransform: 'System' | async }}">
    <ng-template kendoGridCellTemplate let-package>
      <input kendoCheckBox type="checkbox" [disabled]="true" [ngModel]="isLimitedDate(package)" />
    </ng-template>
  </kendo-grid-column>

  <!-- Insurance -->
  <kendo-grid-column
    *ngIf="isRelatedToMedical$ | async"
    media="(min-width: 525px)"
    [sortable]="true"
    field="isInsuranceCover"
    title="{{ 'label.title.insurance' | languageTransform: 'System' | async }}">
    <ng-template kendoGridCellTemplate let-package>
      <input id="check-box" kendoCheckBox type="checkbox" [disabled]="true" [ngModel]="package.isInsuranceCover" />
    </ng-template>
  </kendo-grid-column>

  <!-- Pregnant -->
  <kendo-grid-column
    [sortable]="true"
    media="(min-width: 600px)"
    field="recommandForPregnant"
    title="{{ 'label.title.pregnant' | languageTransform: 'System' | async }}">
    <ng-template kendoGridCellTemplate let-package>
      <input
        id="check-box"
        kendoCheckBox
        type="checkbox"
        [disabled]="true"
        [ngModel]="package.recommandForPregnant" />
    </ng-template>
  </kendo-grid-column>

  <!--Oil-->
  <kendo-grid-column
    media="(min-width: 700px)"
    [sortable]="true"
    field="isOil"
    title="{{ 'label.title.oil' | languageTransform: 'System' | async }}">
    <ng-template kendoGridCellTemplate let-package>
      <input id="check-box" kendoCheckBox type="checkbox" [disabled]="true" [ngModel]="package.isOil" />
    </ng-template>
  </kendo-grid-column>

  <!-- Title -->
  <kendo-grid-column [width]="70" title="{{ 'label.title.title' | languageTransform: 'System' | async }}">
    <ng-template kendoGridCellTemplate let-service>
      <div *ngFor="let request of translatedRequests">
        <div
          class="translated-status-container"
          [ngClass]="{
            create: request.status === 'create',
            pending: request.status === 'pending',
            inprogress: request.status === 'inProgress',
            success: request.status === 'Success',
            completed: request.status === 'Completed',
            failed: request.status === 'Failed'
          }"
          (click)="handleRequeue(request, service)"
          *ngIf="request.serviceId === service.id && request.format === 'title'">
          <span id="create" *ngIf="request.status === 'create'">{{
            'label.title.created' | languageTransform: 'System' | async
          }}</span>
          <span id="pending" *ngIf="request.status === 'pending'">{{
            'label.title.pending' | languageTransform: 'System' | async
          }}</span>
          <span id="inprogress" *ngIf="request.status === 'inProgress'">{{
            'label.title.inprogress' | languageTransform: 'System' | async
          }}</span>
          <span id="success" *ngIf="request.status === 'Success'">{{
            'label.title.success' | languageTransform: 'System' | async
          }}</span>
          <span id="completed" *ngIf="request.status === 'Completed'">{{
            'label.title.view' | languageTransform: 'System' | async
          }}</span>
          <span id="fail" *ngIf="request.status === 'Failed'">{{
            'label.title.fail' | languageTransform: 'System' | async
          }}</span>
        </div>
      </div>
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-column>
    <ng-template kendoGridCellTemplate let-package>
      <div *ngIf="translatedRequests && allowRefresh(package, translatedRequests)">
        <kendo-button
          kendoGridEditCommand
          icon="refresh"
          (click)="handleRefresh(package, translatedRequests)"></kendo-button>
      </div>
    </ng-template>
  </kendo-grid-column>

  <!-- NO Data-->
  <ng-template kendoGridNoRecordsTemplate></ng-template>
</kendo-grid>
