<ion-header>
  <ion-toolbar>
    <!-- Menu -->
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="true"></ion-menu-button>
    </ion-buttons>
    <!-- Title -->
    <ion-title>{{'menucontent.title.clientmanagement'| languageTransform:'System' | async }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <shop-client-management
    *ngIf="(isAuthorised$ | async)"
    (onRequestNewClientPhoneNumber)="createNewClient($event)"></shop-client-management>
</ion-content>
