<form-header
  [title]="form.headerTitle"
  [readOnly]="form.readOnly"
  [enabledSavebutton]="form.enabledSavebutton"
  [action]="form.action"
  (onClickDismiss)="dismiss()"
  (onClickCreate)="handleCreate()"
  (onClickEdit)="handleEdit()"
  (onClickSave)="handleSave()"
  (onClickDelete)="handleDelete()">
</form-header>
<ion-content [scrollable]="true" *ngIf="current">
  <flex-col class="modal-container">
    <flex-row id="info">
      <flex-row-item>
        <text-box
          title="label.title.title"
          tooltip="label.description.translatedvalueguiance"
          [readOnly]="form.readOnly"
          [(value)]="current.service.titleProp"
          [(validate)]="validator.title"
          (valueChange)="onChangeTitleProp()"
          [min]="2"
          [max]="100"
          [isRequired]="true"></text-box>
      </flex-row-item>
      <flex-row-item>
        <flex-col id="check-boxes">
          <flex-col-item id="check-box-container">
            <div id="insurance-cover">
              <kendo-label
                text="{{ 'label.title.insurance' | languageTransform: 'System' | async }}">
                <input
                  kendoCheckBox
                  type="checkbox"
                  [disabled]="form.readOnly"
                  [(ngModel)]="current.service.isInsuranceCover"
                  (ngModelChange)="handleEnabledSaveBtn()" />
              </kendo-label>
            </div>
          </flex-col-item>
          <flex-col-item id="check-box-container">
            <div id="pregnant">
              <kendo-label
                text="{{ 'label.title.pregnant' | languageTransform: 'System' | async }}">
                <input
                  kendoCheckBox
                  type="checkbox"
                  [disabled]="form.readOnly"
                  [(ngModel)]="current.service.recommandForPregnant"
                  (ngModelChange)="handleEnabledSaveBtn()" />
              </kendo-label>
            </div>
          </flex-col-item>
          <flex-col-item id="check-box-container">
            <div id="oil">
              <kendo-label text="{{ 'label.title.oil' | languageTransform: 'System' | async }}">
                <input
                  kendoCheckBox
                  type="checkbox"
                  [disabled]="form.readOnly"
                  [(ngModel)]="current.service.isOil"
                  (ngModelChange)="handleEnabledSaveBtn()" />
              </kendo-label>
            </div>
          </flex-col-item>
        </flex-col>
      </flex-row-item>
    </flex-row>

    <flex-col-item id="description-container">
      <text-area
        title="label.title.description"
        tooltip="label.description.translatedvalueguiance"
        [readOnly]="form.readOnly"
        [isRequired]="true"
        [min]="10"
        (valueChange)="onChangeDescriptionProp()"
        [(value)]="current.service.descriptionProp"
        [(validate)]="validator.description">
      </text-area>
    </flex-col-item>

    <flex-row id="selections">
      <flex-row-item id="related-service">
        <name-value-pair-single-dropdown-selection
          [isRequired]="true"
          [readOnly]="form.readOnly"
          title="label.title.relatedservice"
          [(selected)]="current.service.relatedService"
          (selectedChange)="handleEnabledSaveBtn()"
          [selection]="current.relatedServiceTypes"></name-value-pair-single-dropdown-selection>
      </flex-row-item>
      <flex-row-item id="specialized-employees">
        <name-value-pair-multi-dropdown-selection
          [readOnly]="form.readOnly"
          title="label.title.specializedemployees"
          [(selected)]="current.service.specializedEmployees"
          [selection]="current.specializedEmployees"></name-value-pair-multi-dropdown-selection>
      </flex-row-item>

      <flex-row-item id="extra">
        <name-value-pair-multi-dropdown-selection
          [readOnly]="form.readOnly"
          title="label.title.extra"
          [(selected)]="selectedExtras"
          [selection]="extraSelection"
          (selectedChange)="onChangeExtra()"></name-value-pair-multi-dropdown-selection>
      </flex-row-item>
    </flex-row>

    <flex-col-item id="option-container">
      <legend>
        {{ 'label.title.option' | languageTransform: 'System' | async }}
      </legend>
      <button
        kendoButton
        id="option-add-button"
        (click)="createOption()"
        *ngIf="!form.readOnly && (form.action === 'create' || form.action === 'edit')">
        <span class="k-icon k-i-plus"></span>
      </button>
    </flex-col-item>
  </flex-col>
  <flex-row class="options">
    <flex-row-item class="minute-option mintue-title">
      {{ 'label.title.minute' | languageTransform: 'System' | async }}
    </flex-row-item>
    <flex-row-item class="price-option price-title">
      {{ 'label.title.price' | languageTransform: 'System' | async }}
    </flex-row-item>
    <flex-row-item
      *ngIf="
        !form.readOnly && (form.action === 'create' || form.action === 'edit')
      "></flex-row-item>
  </flex-row>
  <div *ngIf="!form.readOnly && (form.action === 'create' || form.action === 'edit')">
    <div *ngFor="let opt of current.service.options">
      <flex-row class="options" *ngIf="country !== undefined">
        <!--Min -->
        <flex-row-item class="minute-option">
          <kendo-numerictextbox
            format="##"
            [(value)]="opt.min"
            [decimals]="0"
            [spinners]="false"
            [min]="0"
            [max]="180"
            (valueChange)="onChangeOption(opt)"
            [readonly]="form.readOnly"></kendo-numerictextbox>
          <p>{{ 'label.title.minute' | languageTransform: 'System' | async }}</p>
        </flex-row-item>
        <!-- Price -->
        <flex-row-item class="price-option">
          <p *ngIf="country.currency === 'AUD'">$</p>
          <kendo-numerictextbox
            [(value)]="opt.price"
            [decimals]="2"
            [min]="0"
            [spinners]="false"
            (valueChange)="onChangeOption(opt)"
            [readonly]="form.readOnly"></kendo-numerictextbox>
        </flex-row-item>

        <flex-row-item
          class="price-option"
          *ngIf="!form.readOnly && (form.action === 'create' || form.action === 'edit')">
          <button
            kendoButton
            themeColor="error"
            id="option-delete-button"
            (click)="deleteOption(opt)"
            *ngIf="!form.readOnly && (form.action === 'create' || form.action === 'edit')">
            <span class="k-icon k-i-trash"></span>
          </button>
        </flex-row-item>
      </flex-row>
    </div>
  </div>

  <div *ngIf="form.readOnly">
    <div *ngFor="let opt of current.service.options">
      <flex-row>
        <flex-row-item id="readonly-option-min">
          {{ opt.min | minuteTransform | async }}
        </flex-row-item>
        <flex-row-item> {{ opt.price | currencyTransform }} </flex-row-item>
      </flex-row>
    </div>
  </div>
</ion-content>
