#booking-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  --background: var(--background);
}
#logo-container {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-btn,
#logout-btn {
  background: transparent;
}
