<flex-row id="booking-header">
  <div id="logo-container" (click)="openMenu()" *ngIf="isLogout$ | async">
    <img src="assets/logo/prettyofsystem-logo-white.svg" alt="Prettyofsystem Logo" />
  </div>

  <ion-buttons slot="start" *ngIf="isLogin$ | async">
    <ion-menu-button auto-hide="true"></ion-menu-button>
  </ion-buttons>

  <div id="btn-container">
    <div *ngIf="isLoginRequired">
      <kendo-button id="login-btn" kendoButton *ngIf="isLoginRequired && isLogout$ | async" (click)="logIn()">
        {{ 'label.title.login' | languageTransform: 'System' | async }}
      </kendo-button>
      <kendo-button id="logout-btn" kendoButton *ngIf="isLoginRequired && isLogin$ | async" (click)="logout()">
        {{ 'label.title.logout' | languageTransform: 'System' | async }}
      </kendo-button>
    </div>
    <booking-language-selection></booking-language-selection>
  </div>
</flex-row>
