<kendo-label text="{{ title | languageTransform | async }}">
  <kendo-button id="dropdown-list-btn" (click)="presentDropdownList($event)">
    <span id="selected-name" *ngIf="loading"> </span>
    <span id="selected-name" *ngIf="!loading">{{
      selectedSelection.name | languageTransform | async
    }}</span>
    <span id="dropdown-list-down" *ngIf="!isOpenStatus" class="k-icon k-i-arrow-60-down"></span>
    <span id="dropdown-list-up" *ngIf="isOpenStatus" class="k-icon k-i-arrow-60-up"></span>
  </kendo-button>
</kendo-label>
