#dropdown-list-btn {
  width: 100%;
  justify-content: flex-start;
  height: 30px;
  margin-top: 12px;
  margin-bottom: 10px;
}

#dropdown-list-down,
#dropdown-list-up {
  position: absolute;
  right: 5px;
  bottom: 5px;
}
