<form-header action="read" (onClickDismiss)="onDismiss()" title="label.title.updatebreaktime"></form-header>

<div class="container">
  <flex-col>
    <error-message-item *ngIf="updateBreakTime.conflictWithBreakTimes()">
      <p>{{ 'messageerror.description.conflictwithbreaktimes' | languageTransform: 'System' | async }}</p>
    </error-message-item>
    <error-message-item *ngIf="updateBreakTime.conflictWithConsults()">
      <p>{{ 'messageerror.description.conflictwithconsults' | languageTransform: 'System' | async }}</p>
    </error-message-item>
    <error-message-item *ngIf="updateBreakTime.conflictWithStartEndTime()">
      <p>{{ 'messageerror.description.conflictwithstartendtime' | languageTransform: 'System' | async }}</p>
    </error-message-item>
    <error-message-item *ngIf="updateBreakTime.isInvalid()">
      <p>{{ 'messageerror.description.invalidworkhours' | languageTransform: 'System' | async }}</p>
    </error-message-item>
    <time-from-to
      [min]="updateBreakTime.employeeStartTimeItem()"
      [timeFrom]="updateBreakTime.breakStartTimeItem()"
      (timeFromChange)="updateBreakTime.onUpdateAfterStartTimeItem($event)"
      [timeTo]="updateBreakTime.breakEndTimeItem()"
      (timeToChange)="updateBreakTime.onUpdateAfterEndTimeItem($event)"></time-from-to>
  </flex-col>

  <flex-row class="button-container">
    <flex-row-item>
      <button kendoButton (click)="onUpdate()" class="apply" [disabled]="!updateBreakTime.allowUpdate()">
        {{ 'label.title.apply' | languageTransform: 'System' | async }}
      </button>
    </flex-row-item>
    <flex-row-item>
      <button kendoButton (click)="onDismiss()">
        {{ 'button.title.cancel' | languageTransform: 'System' | async }}
      </button>
    </flex-row-item>
  </flex-row>
</div>
