#login-option-container {
  flex: 3;
}
#check-box-container {
  flex: 1;
  display: flex;
  align-items: baseline;
  justify-content: center;
}
#check-box {
  margin: 0px;
  font-size: 11px;
  padding: 5px;
  color: #b3b3b3;
  display: flex;
  justify-content: flex-end;
}

#associated-shop-active,
#delete-btn {
  margin-top: 7px;
}

//Mobile
@media (max-width: 480px) {
  #check-box {
    font-size: 8px;
  }
}
