<kendo-grid [kendoGridBinding]="services" [height]="600" [sortable]="true">
  <!-- Add -->
  <ng-template kendoGridToolbarTemplate>
    <button kendoGridAddCommand (click)="onClickCreate()" *ngIf="isAuthorisedRole()">
      {{ 'button.title.add' | languageTransform | async }}
    </button>
  </ng-template>

  <!-- Title -->
  <kendo-grid-column
    [sortable]="true"
    [width]="100"
    field="titleProp"
    title="{{ 'label.title.title' | languageTransform | async }}">
    <ng-template kendoGridCellTemplate let-service>
      <p (click)="onClickEdit(service)" id="service-name">{{ service.titleProp }}</p>
    </ng-template>
  </kendo-grid-column>

  <!--Service Options-->
  <kendo-grid-column
    [sortable]="true"
    [width]="50"
    field="options.length"
    title="{{ 'label.title.option' | languageTransform | async }}">
    <ng-template kendoGridCellTemplate let-service>
      <p>{{ service.options.length }}</p>
    </ng-template>
  </kendo-grid-column>

  <!-- Insurance -->
  <kendo-grid-column
    [sortable]="true"
    [width]="50"
    field="options.isInsuranceCover"
    title="{{ 'label.title.insurance' | languageTransform | async }}">
    <ng-template kendoGridCellTemplate let-service>
      <input
        id="insurance-check-box"
        kendoCheckBox
        type="checkbox"
        [disabled]="true"
        [ngModel]="service.isInsuranceCover" />
    </ng-template>
  </kendo-grid-column>

  <!-- Title -->
  <kendo-grid-column
    [sortable]="true"
    [width]="75"
    title="{{ 'label.title.title' | languageTransform | async }}">
    <ng-template kendoGridCellTemplate let-service>
      <div *ngFor="let request of translatedRequests">
        <div
          class="translated-status-container"
          [ngClass]="{
            create: request.status === 'create',
            pending: request.status === 'pending',
            inprogress: request.status === 'inProgress',
            success: request.status === 'Success',
            completed: request.status === 'Completed',
            failed: request.status === 'Failed'
          }"
          (click)="handleRequeue(request, service, 'title')"
          *ngIf="request.serviceId === service.id && request.format === 'title'">
          <span id="create" *ngIf="request.status === 'create'">{{
            'label.title.created' | languageTransform | async
          }}</span>
          <span id="pending" *ngIf="request.status === 'pending'">{{
            'label.title.pending' | languageTransform | async
          }}</span>
          <span id="inprogress" *ngIf="request.status === 'inProgress'">{{
            'label.title.inprogress' | languageTransform | async
          }}</span>
          <span id="success" *ngIf="request.status === 'Success'">{{
            'label.title.success' | languageTransform | async
          }}</span>
          <span id="completed" *ngIf="request.status === 'Completed'">{{
            'label.title.view' | languageTransform | async
          }}</span>
          <span id="fail" *ngIf="request.status === 'Failed'">{{
            'label.title.fail' | languageTransform | async
          }}</span>
        </div>
      </div>
    </ng-template>
  </kendo-grid-column>

  <!-- Description -->
  <kendo-grid-column
    [sortable]="true"
    [width]="75"
    title="{{ 'label.title.description' | languageTransform | async }}">
    <ng-template kendoGridCellTemplate let-service>
      <div *ngFor="let request of translatedRequests">
        <div
          class="translated-status-container"
          [ngClass]="{
            create: request.status === 'create',
            pending: request.status === 'pending',
            inprogress: request.status === 'inProgress',
            success: request.status === 'Success',
            completed: request.status === 'Completed',
            failed: request.status === 'Failed'
          }"
          (click)="handleRequeue(request, service, 'description')"
          *ngIf="request.serviceId === service.id && request.format === 'description'">
          <span id="create" *ngIf="request.status === 'create'">{{
            'label.title.created' | languageTransform | async
          }}</span>
          <span id="pending" *ngIf="request.status === 'pending'">{{
            'label.title.pending' | languageTransform | async
          }}</span>
          <span id="inprogress" *ngIf="request.status === 'inProgress'">{{
            'label.title.inprogress' | languageTransform | async
          }}</span>
          <span id="success" *ngIf="request.status === 'Success'">{{
            'label.title.success' | languageTransform | async
          }}</span>
          <span id="completed" *ngIf="request.status === 'Completed'">{{
            'label.title.view' | languageTransform | async
          }}</span>
          <span id="fail" *ngIf="request.status === 'Failed'">{{
            'label.title.fail' | languageTransform | async
          }}</span>
        </div>
      </div>
    </ng-template>
  </kendo-grid-column>
  <!-- NO Data-->
  <ng-template kendoGridNoRecordsTemplate></ng-template>
</kendo-grid>
