#service-name {
  text-decoration: underline;
  color: white;
  &:hover {
    color: var(--active);
    cursor: pointer;
  }
}

#insurance-check-box,
#pregnant-check-box {
  margin: 0;
}

.translated-status-container {
  border-radius: 5px;
  height: 100%;
  padding: 0px 1px 1px 0px;
  font-weight: bold;
  text-align: center;
}

.create {
  background-color: var(--created);
}

.pending {
  background-color: var(--title);
}

.inprogress {
  background-color: var(--inprogress);
  cursor: pointer;
  text-decoration: underline;
}

.failed {
  background-color: var(--error);
  cursor: pointer;
  text-decoration: underline;
}

.success {
  background-color: var(--success);
}

.completed {
  background-color: var(--completed);
  cursor: pointer;
  text-decoration: underline;
}

.options {
  justify-content: flex-end;
  margin-left: 32px;
}

.price-option {
  display: flex;
  flex-direction: row;
  max-width: 100px;

  kendo-numerictextbox {
    margin: 0;
    margin-left: 5px;
    margin-top: 10px;
    height: 28px;
    max-width: 100px;
  }
}

.minute-option {
  display: flex;
  flex-direction: row;
  max-width: 110px;
  margin: 0;
  margin: 0;
  kendo-numerictextbox {
    margin: 10px;
    height: 28px;
    max-width: 50px;
  }
}
#check-box {
  margin: 0px;
  margin-left: 5px;
}

#options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#option-title {
  padding: 0px 25px;
}

@media (max-width: 500px) {
  #recommandForPregnant,
  #oil,
  #specialist {
    display: none;
  }
}
