#booking-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

#booking-query-container {
  max-width: 1290px;
  margin: auto;
}

@media (max-width: 768px) {
  #booking-container {
    flex-direction: column;
  }
}
