#booking-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

#booking-query-container {
  max-width: 1290px;
  margin: auto;
}

ion-header {
  --background: var(--background);
  --background-color: var(--background);
  background: var(--background);
  background-color: var(--background);
}

@media (max-width: 768px) {
  #booking-container {
    flex-direction: column;
  }
}
