<!-- Title -->
<ion-header>
  <ion-toolbar>
    <kendo-buttongroup slot="start">
      <!-- Save -->
      <button
        *ngIf="!editMode"
        kendoButton
        size="large"
        rounded="large"
        (click)="onClickSaveRoleConfiguration()">
        {{ 'button.title.save' | languageTransform: 'System' | async }}
      </button>
      <!-- Edit -->
      <button
        *ngIf="editMode"
        kendoButton
        size="large"
        rounded="large"
        (click)="onClickEditRoleConfiguration()"
        themeColor="success">
        {{ 'button.title.edit' | languageTransform: 'System' | async }}
      </button>
    </kendo-buttongroup>
    <ion-title *ngIf="!editMode">{{
      'label.title.newrole' | languageTransform: 'System' | async
    }}</ion-title>
    <ion-title *ngIf="editMode"
      >{{ editedTitle | languageTransform: 'System' | async }}
      {{ 'label.title.editrole' | languageTransform: 'System' | async }}</ion-title
    >
    <ion-icon class="toolbar-icon" name="close-outline" slot="end" (click)="dismiss()"></ion-icon>
  </ion-toolbar>
</ion-header>
<!--Role Label-->
<ion-content>
  <flex-col class="modal-container">
    <flex-col-item>
      <!-- Role Description-->
      <kendo-label text="{{ 'label.title.role' | languageTransform: 'System' | async }}">
        <kendo-textbox [(ngModel)]="role.description" size="large" [clearButton]="true">
        </kendo-textbox>
      </kendo-label>

      <!--Role Config -->
      <yes-no-selection-group>
        <yes-no-selection
          title="label.title.systemadmin"
          [(value)]="role.accessLevel.isSystemAdmin"
          (valueChange)="onChangeSystemAdminAccessCtrl($event)"></yes-no-selection>
        <yes-no-selection
          title="label.title.admin"
          [(value)]="role.accessLevel.isAdmin"
          (valueChange)="onChangeAdminAccessCtrl($event)"></yes-no-selection>
        <yes-no-selection
          title="label.title.manager"
          [(value)]="role.accessLevel.isManager"
          (valueChange)="onChangeManagerAccessCtrl($event)"></yes-no-selection>
        <yes-no-selection
          title="label.title.employee"
          [(value)]="role.accessLevel.isEmployee"
          (valueChange)="onChangeEmployeeAccessCtrl($event)"></yes-no-selection>
        <yes-no-selection
          title="label.title.reception"
          [(value)]="role.accessLevel.isReception"
          (valueChange)="onChangeReceptionAccessCtrl($event)"></yes-no-selection>
      </yes-no-selection-group>
    </flex-col-item>
  </flex-col>
</ion-content>
