<!-- Title -->
<ion-toolbar>
  <kendo-buttongroup slot="start">
    <!-- Save -->
    <button
      *ngIf="!editMode"
      kendoButton
      size="large"
      rounded="large"
      (click)="onClickSaveRoleConfiguration()">
      {{ 'button.title.save' | languageTransform | async }}
    </button>
    <!-- Edit -->
    <button
      *ngIf="editMode"
      kendoButton
      size="large"
      rounded="large"
      (click)="onClickEditRoleConfiguration()"
      themeColor="success">
      {{ 'button.title.edit' | languageTransform | async }}
    </button>
  </kendo-buttongroup>
  <ion-title *ngIf="!editMode">{{ 'label.title.newrole' | languageTransform | async }}</ion-title>
  <ion-title *ngIf="editMode"
    >{{ editedTitle | languageTransform | async }}
    {{ 'label.title.editrole' | languageTransform | async }}</ion-title
  >
  <ion-icon class="toolbar-icon" name="close-outline" slot="end" (click)="dismiss()"></ion-icon>
</ion-toolbar>

<!--Role Label-->
<ion-content>
  <section class="modal-container">
    <!-- Role Description-->
    <kendo-label text="{{ 'label.title.role' | languageTransform | async }}">
      <kendo-textbox [(ngModel)]="role.description" size="large" [clearButton]="true">
      </kendo-textbox>
    </kendo-label>

    <!--Role Config -->
    <yes-no-selection-group>
      <yes-no-selection
        label="label.title.systemadmin"
        [(value)]="role.accessLevel.isSystemAdmin"
        (valueChange)="onChangeSystemAdminAccessCtrl($event)"></yes-no-selection>
      <yes-no-selection
        label="label.title.admin"
        [(value)]="role.accessLevel.isAdmin"
        (valueChange)="onChangeAdminAccessCtrl($event)"></yes-no-selection>
      <yes-no-selection
        label="label.title.manager"
        [(value)]="role.accessLevel.isManager"
        (valueChange)="onChangeManagerAccessCtrl($event)"></yes-no-selection>
      <yes-no-selection
        label="label.title.employee"
        [(value)]="role.accessLevel.isEmployee"
        (valueChange)="onChangeEmployeeAccessCtrl($event)"></yes-no-selection>
      <yes-no-selection
        label="label.title.reception"
        [(value)]="role.accessLevel.isReception"
        (valueChange)="onChangeReceptionAccessCtrl($event)"></yes-no-selection>
    </yes-no-selection-group>
  </section>
</ion-content>
