#login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-top: 50px;
}

#logo-img {
  width: 230px;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 30px;
}

#homepage-btn,
#logout-btn {
  background: transparent;
  font-size: 15px;
}
