#login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-top: 50px;
}

#logo-img {
  width: 230px;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30px;
}
#logo-container {
  width: 50px;
}

#homepage-btn,
#logout-btn {
  background: transparent;
  font-size: 14px;
  color: white;
}

#btn-container {
  display: flex;
  justify-content: flex-end;
}
