<ion-content [fullscreen]="true" scroll-y="false">
  <div id="header">
    <div id="logo-container" (click)="redirectToBooking()">
      <img src="assets/logo/prettyofsystem-logo-white.svg" alt="Prettyofsystem Logo" />
    </div>
    <div id="btn-container">
      <button id="homepage-btn" kendoButton (click)="redirectToBooking()">
        {{ 'label.title.homepage' | languageTransform | async }}
      </button>
      <booking-language-selection></booking-language-selection>
    </div>
  </div>
  <div id="login-container">
    <login></login>
  </div>
</ion-content>
