#role-management-container {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  system-role-list-card {
    margin: 25px 15px 10px 15px;
    min-width: 300px;
    max-width: 1000px;
  }
}
