<form-header
  *ngIf="!isLoading()"
  [title]="form.headerTitle"
  [readOnly]="form.readOnly"
  [enabledSavebutton]="form.enabledSavebutton"
  [action]="form.action"
  [isDeleteRequired]="false"
  (onClickDismiss)="dismiss()"
  (onClickEdit)="handleEdit()"
  (onClickSave)="handleSave()">
</form-header>
<ion-content [scrollable]="true" *ngIf="!isLoading()" class="modal-container">
  <flex-col>
    <flex-col-item>
      <name-value-pair-single-dropdown-selection
        title="label.title.timeout"
        [selection]="timeoutSessionSelection"
        [(selected)]="selectedTimeoutSession"
        [readOnly]="form.readOnly"
        (selectedChange)="onChangeTimeoutSession()">
      </name-value-pair-single-dropdown-selection>
    </flex-col-item>
    <flex-col-item class="qr-code-header">
      <button kendoButton icon="download" id="download-btn" (click)="exportPNG()"></button>
      <button
        kendoButton
        icon="refresh"
        id="refresh-btn"
        (click)="onRefreshQRCode()"
        *ngIf="!form.readOnly"></button>
    </flex-col-item>
    <flex-col-item>
      <kendo-qrcode [value]="url" #qrcode errorCorrection="Q" size="200px"> </kendo-qrcode>
    </flex-col-item>
  </flex-col>
</ion-content>
