<form-header
  [title]="form.headerTitle"
  [readOnly]="form.readOnly"
  [enabledSavebutton]="form.enabledSavebutton"
  [action]="form.action"
  [isDeleteRequired]="false"
  (onClickDismiss)="dismiss()"
  (onClickEdit)="handleEdit()"
  (onClickSave)="handleSave()">
</form-header>
<ion-content [scrollable]="true">
  <flex-col class="modal-container" *ngIf="role.currentRole$ | async as role">
    <flex-col-item *ngIf="role.accessLevel.isSystemAdmin">
      <p>{{ url }}</p>
    </flex-col-item>
    <flex-col-item>
      <name-value-pair-single-dropdown-selection
        title="label.title.timeout"
        [selection]="timeSelection"
        [(selected)]="selectedTimeoutSession"
        [readOnly]="form.readOnly"
        [orderByName]="false"
        [filterable]="false"
        (selectedChange)="onChangeTimeoutSession()">
      </name-value-pair-single-dropdown-selection>
    </flex-col-item>
    <flex-col-item>
      <name-value-pair-single-dropdown-selection
        title="label.title.intervalmin"
        [selection]="timeSelection"
        [(selected)]="selectedIntervalMin"
        [readOnly]="form.readOnly"
        [orderByName]="false"
        [filterable]="false"
        (selectedChange)="onChangeIntervalMin()"></name-value-pair-single-dropdown-selection>
    </flex-col-item>
    <flex-col-item class="qr-code-header">
      <kendo-button kendoButton icon="download" id="download-btn" (click)="exportPNG()"></kendo-button>
      <kendo-button
        kendoButton
        icon="refresh"
        id="refresh-btn"
        (click)="onRefreshQRCode()"
        *ngIf="!form.readOnly && url"></kendo-button>
    </flex-col-item>
    <flex-col-item *ngIf="url">
      <kendo-qrcode [value]="url" #qrcode errorCorrection="Q" size="200px"> </kendo-qrcode>
    </flex-col-item>
  </flex-col>
</ion-content>
