<ion-card id="role-list-card">
  <!--Header-->
  <ion-card-header>
    <ion-card-title>{{'menu.role.title' | languageTransform | async}} </ion-card-title>
    <p><ion-icon class="ion-card-title-icon" name="add-outline" slot="end" (click)="presentAddRole()"></ion-icon></p>
  </ion-card-header>

  <!--List-->
  <ion-card-content id="role-list">
    <ion-list  *ngFor="let role of roles let i = index">
        <!-- Sliding -->
        <ion-item-sliding id="role-list-slider">
          <ion-item lines="full" [ngClass]="role.name === selectedRole.name ? 'active' : ''" (click)="onClickRole(role)">
            <ion-label> {{role.name | languageTransform | async}}</ion-label>
          </ion-item>
          <ion-item-options side="start">
            <ion-item-option color="danger" (click)="onClickDeleteRole(role)"> <p>{{'button.name.delete' | languageTransform | async }} </p> </ion-item-option>
          </ion-item-options>
          <ion-item-options side="end">
            <ion-item-option (click)="presentEditRole(role)"> <p>{{'button.name.edit' | languageTransform | async }} </p> </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
    </ion-list>
  </ion-card-content>
</ion-card>
