<legend>
  {{ 'label.title.roleconfiguration' | languageTransform | async }}
</legend>
<kendo-grid [data]="gridData" [height]="500">
  <!-- Add Button -->
  <ng-template kendoGridToolbarTemplate>
    <button kendoGridAddCommand (click)="presentAddRole()">
      {{ 'button.title.add' | languageTransform | async }}
    </button>
  </ng-template>

  <!--Role Name -->
  <kendo-grid-column title="{{ 'label.title.name' | languageTransform | async }}">
    <ng-template kendoGridCellTemplate let-role>
      {{ role.name }}
    </ng-template>
  </kendo-grid-column>

  <!--Role Configuration Tablet Version-->
  <!-- Employee -->
  <kendo-grid-column
    *ngIf="!global.deviceWidth.deviceType.isMobile"
    title="{{ 'label.title.employee' | languageTransform | async }}">
    <ng-template kendoGridCellTemplate let-role>
      <input type="checkbox" kendoCheckBox [checked]="role.accessLevel.isEmployee" disabled />
    </ng-template>
  </kendo-grid-column>

  <!-- Manager -->
  <kendo-grid-column
    *ngIf="!global.deviceWidth.deviceType.isMobile"
    title="{{ 'label.title.reception' | languageTransform | async }}">
    <ng-template kendoGridCellTemplate let-role>
      <input type="checkbox" kendoCheckBox [checked]="role.accessLevel.isReception" disabled />
    </ng-template>
  </kendo-grid-column>

  <!-- Manager -->
  <kendo-grid-column
    *ngIf="!global.deviceWidth.deviceType.isMobile"
    title="{{ 'label.title.manager' | languageTransform | async }}">
    <ng-template kendoGridCellTemplate let-role>
      <input type="checkbox" kendoCheckBox [checked]="role.accessLevel.isManager" disabled />
    </ng-template>
  </kendo-grid-column>

  <!-- Admin -->
  <kendo-grid-column
    *ngIf="!global.deviceWidth.deviceType.isMobile"
    title="{{ 'label.title.admin' | languageTransform | async }}">
    <ng-template kendoGridCellTemplate let-role>
      <input type="checkbox" kendoCheckBox [checked]="role.accessLevel.isAdmin" disabled />
    </ng-template>
  </kendo-grid-column>

  <!--System Admin -->
  <kendo-grid-column
    *ngIf="!global.deviceWidth.deviceType.isMobile"
    title="{{ 'label.title.systemadmin' | languageTransform | async }}">
    <ng-template kendoGridCellTemplate let-role>
      <input type="checkbox" kendoCheckBox [checked]="role.accessLevel.isSystemAdmin" disabled />
    </ng-template>
  </kendo-grid-column>

  <!--Role Configuration Mobile Version -->
  <kendo-grid-column
    *ngIf="global.deviceWidth.deviceType.isMobile"
    title="{{ 'label.title.role' | languageTransform | async }}">
    <ng-template kendoGridCellTemplate let-role>
      <p *ngIf="role.accessLevel.isSystemAdmin">
        {{ 'label.title.systemadmin' | languageTransform | async }}
      </p>
      <p *ngIf="role.accessLevel.isAdmin">
        {{ 'label.title.admin' | languageTransform | async }}
      </p>
      <p *ngIf="role.accessLevel.isManager">
        {{ 'label.title.manager' | languageTransform | async }}
      </p>
      <p *ngIf="role.accessLevel.isReception">
        {{ 'label.title.reception' | languageTransform | async }}
      </p>
      <p *ngIf="role.accessLevel.isEmployee">
        {{ 'label.title.employee' | languageTransform | async }}
      </p>
    </ng-template>
  </kendo-grid-column>

  <!--Edit-->
  <kendo-grid-command-column>
    <ng-template kendoGridCellTemplate let-role>
      <button
        kendoGridEditCommand
        themeColor="tertiary"
        icon="edit"
        (click)="presentEditRole(role)"></button>
      <button
        kendoGridRemoveCommand
        themeColor="error"
        icon="trash"
        (click)="onClickDeleteRole(role)"></button>
    </ng-template>
  </kendo-grid-command-column>
</kendo-grid>
