<legend> {{'label.name.roleconfiguration' | languageTransform | async}} </legend>
<kendo-grid [data]="roles"
            [height]="500">
  <!-- Add Button -->
  <ng-template kendoGridToolbarTemplate>
    <button kendoGridAddCommand (click)="presentAddRole()">{{'button.name.add' | languageTransform | async}}</button>
  </ng-template>

  <!--Role Name -->
  <kendo-grid-column title="{{'label.name.roledescription' | languageTransform | async}}">
    <ng-template kendoGridCellTemplate let-role>
      {{role.name | languageTransform | async}}
    </ng-template>
  </kendo-grid-column>

<!--Role Configuration Tablet Version-->
  <!-- Employee -->
  <kendo-grid-column *ngIf="!global.deviceWidth.deviceType.isMobile" title="{{'label.name.employee' | languageTransform | async}}">
    <ng-template kendoGridCellTemplate let-role>
      <input type="checkbox" kendoCheckBox [checked]="role.accessLevel.isEmployee" disabled/>
    </ng-template>
  </kendo-grid-column>

  <!-- Manager -->
  <kendo-grid-column *ngIf="!global.deviceWidth.deviceType.isMobile" title="{{'label.name.reception' | languageTransform | async}}">
    <ng-template kendoGridCellTemplate let-role>
      <input type="checkbox" kendoCheckBox [checked]="role.accessLevel.isReception" disabled/>
    </ng-template>
  </kendo-grid-column>

  <!-- Manager -->
  <kendo-grid-column *ngIf="!global.deviceWidth.deviceType.isMobile" title="{{'label.name.manager' | languageTransform | async}}">
    <ng-template kendoGridCellTemplate let-role>
      <input type="checkbox" kendoCheckBox [checked]="role.accessLevel.isManager" disabled/>
    </ng-template>
  </kendo-grid-column>

  <!-- Admin -->
  <kendo-grid-column *ngIf="!global.deviceWidth.deviceType.isMobile" title="{{'label.name.admin' | languageTransform | async}}">
    <ng-template kendoGridCellTemplate let-role>
      <input type="checkbox" kendoCheckBox [checked]="role.accessLevel.isAdmin" disabled/>
    </ng-template>
  </kendo-grid-column>

  <!--System Admin -->
  <kendo-grid-column *ngIf="!global.deviceWidth.deviceType.isMobile" title="{{'label.name.systemadmin' | languageTransform | async}}">
    <ng-template kendoGridCellTemplate let-role>
      <input type="checkbox" kendoCheckBox [checked]="role.accessLevel.isSystemAdmin" disabled/>
    </ng-template>
  </kendo-grid-column>

  <!--Role Configuration Mobile Version -->
  <kendo-grid-column *ngIf="global.deviceWidth.deviceType.isMobile" title="{{'label.name.role' | languageTransform | async}}">
    <ng-template kendoGridCellTemplate let-role>
      <p *ngIf="role.accessLevel.isSystemAdmin">{{'label.name.systemadmin' | languageTransform | async}}</p>
      <p *ngIf="role.accessLevel.isAdmin">{{'label.name.admin' | languageTransform | async}}</p>
      <p *ngIf="role.accessLevel.isManager">{{'label.name.manager' | languageTransform | async}}</p>
      <p *ngIf="role.accessLevel.isReception">{{'label.name.reception' | languageTransform | async}}</p>
      <p *ngIf="role.accessLevel.isEmployee">{{'label.name.employee' | languageTransform | async}}</p>
    </ng-template>
  </kendo-grid-column>

  <!--Edit-->
  <kendo-grid-command-column>
    <ng-template kendoGridCellTemplate let-role>
        <button kendoGridEditCommand themeColor="tertiary" icon="edit" (click)="presentEditRole(role)"></button>
        <button kendoGridRemoveCommand themeColor="error" icon="trash" (click)="onClickDeleteRole(role)"></button>
    </ng-template>
  </kendo-grid-command-column>
</kendo-grid>
