<ion-header>
  <ion-toolbar>
    <!-- Menu -->
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="true"></ion-menu-button>
    </ion-buttons>
    <!-- Title -->
    <ion-title>{{'menu.name.systemmanagement'| languageTransform | async }}</ion-title>
    <!--System Menu-->
    <ion-icon class="toolbar-icon" id="system-menu" slot="end" [name]="systemMenuIcon" (click)="onClickSystemMenu($event)"></ion-icon>

  </ion-toolbar>

</ion-header>

<ion-content>
  <!--TODO ADD COMPONENT-->
</ion-content>
