<ion-header>
  <ion-toolbar>

    <!-- Menu -->
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="true"></ion-menu-button>
    </ion-buttons>

    <!-- Title -->
    <ion-title>{{'menu.systemManagement'| languageTransform : language.currentLanguage}}</ion-title>
    <!--Subtitle-->
    <ion-icon *ngIf="isDevelopment" class="icon page-toolbar-icon" id="click-trigger" slot="end" name="terminal-outline" (click)="presentDevelopmentPopOver($event)"></ion-icon>
    <ion-icon class="icon page-toolbar-icon" slot="end" name="chevron-down-outline" (click)="presentSysManagementMenuPopOver($event)"></ion-icon>
  </ion-toolbar>

</ion-header>

<ion-content>
  <system-route-management *ngIf="menuSelection.isRouteManagement"></system-route-management>
</ion-content>
