#number-of-coupon,
#expired-month {
  margin: 0px;
  margin-top: 12px;
  margin-bottom: 10px;
}

.check-box {
  margin: 17px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  max-width: 45px;
  justify-content: flex-start;
  #check-box-input {
    margin: 0;
  }
}
.option {
  justify-content: flex-start;
}
.price-option {
  margin: 0;
  display: flex;
  flex-direction: row;
  max-width: 100px;
  kendo-numerictextbox {
    margin: 0;
    margin-top: 10px;
    height: 28px;
    max-width: 100px;
  }
}

.minute-option {
  margin: 0px 15px 0px 0px;
  display: flex;
  flex-direction: row;
  max-width: 90px;
  kendo-numerictextbox {
    margin: 10px;
    height: 28px;
    max-width: 50px;
  }
}

.total-price-original,
.total-price-discounted {
  display: flex;
  flex-direction: row;

  kendo-numerictextbox {
    height: 32px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
