kendo-calendar {
  width: 300px;
  background: var(--background) !important;
  background-color: var(--background) !important;
  padding-bottom: 15px;
}
::ng-deep kendo-calendar {
  .k-calendar,
  .k-calendar-table {
    background: var(--background) !important;
    background-color: var(--background) !important;
  }
}

flex-row-item {
  margin: 0;
}

kendo-button {
  width: 100%;
}

.apply {
  background: var(--title);
}
