<flex-row>
  <flex-row-item class="setting-title">
    <legend>{{ 'label.title.privateinsurance' | languageTransform: 'System' | async }}</legend>
    <button *ngIf="readOnly" (click)="readOnly = false" class="edit-btn">
      {{ 'button.title.edit' | languageTransform: 'System' | async }}
    </button>
    <button
      *ngIf="!readOnly"
      class="save-btn"
      themeColor="success"
      (click)="onSave()"
      [disabled]="!enableSaveBtn || requesting">
      {{ 'button.title.save' | languageTransform: 'System' | async }}
    </button>
  </flex-row-item>
</flex-row>

<flex-row *ngIf="(privateInsurance || privateInsurance === null) && !requesting">
  <flex-row-item *ngIf="privateInsurance === null && readOnly" class="default-placeholder"
    >{{ 'label.description.noprivateinsuranceprovided' | languageTransform: 'System' | async }}
  </flex-row-item>
  <flex-row-item *ngIf="(privateInsurance || privateInsurance === null) && !readOnly"
    >{{ 'label.description.doyouwanttoprovideprivateinsurance' | languageTransform: 'System' | async }}
    <input
      type="checkbox"
      kendoCheckBox
      [checked]="privateInsurance !== null"
      [disabled]="readOnly"
      (click)="onChangeProvidePrivateInsurance()" />
  </flex-row-item>
</flex-row>

<flex-col *ngIf="privateInsurance && selected && !requesting">
  <flex-col-item>
    <name-value-pair-single-dropdown-selection
      title="label.title.company"
      [(selected)]="selected"
      [selection]="selection"
      (selectedChange)="onChangeCompany($event)"></name-value-pair-single-dropdown-selection>
  </flex-col-item>
  <flex-col-item>
    <text-box
      title="label.title.membershipnumber"
      [isRequired]="true"
      [readOnly]="readOnly"
      [min]="1"
      [max]="100"
      [(value)]="privateInsurance.memberNum"
      [(validate)]="validator.num"
      (validateChange)="handleEnabledSaveBtn()"></text-box>
  </flex-col-item>
  <flex-col-item>
    <text-box
      title="label.title.referencenumber"
      [isRequired]="false"
      [readOnly]="readOnly"
      [(value)]="privateInsurance.reference"></text-box>
  </flex-col-item>
</flex-col>

<flex-col>
  <flex-col-item>
    <kendo-loader *ngIf="requesting" size="large"></kendo-loader>
  </flex-col-item>
</flex-col>
