/*itl-phone*/
.iti__flag-container {
  position: relative;
}

/*itl-phone*/
.iti__selected-flag {
  padding: 0px 5px;
}

/*itl-phone*/
.iti--allow-dropdown input[type='tel'] {
  height: 30px;
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-left: 0px;
  background-color: unset;
  border-radius: unset;
  border: unset;
  &:hover {
    border: unset;
  }
  &:focus-visible {
    border-color: unset;
    box-shadow: unset;
    outline: unset;
  }
  &:disabled {
    color: white;
  }
}

/*itl-phone*/
.iti--allow-dropdown input::placeholder,
.iti--allow-dropdown input:disabled {
  color: white;
  font-size: 14px;
}

/*itl-phone*/
.dropdown-menu.country-dropdown.show {
  border: rgba(255, 255, 255, 0.08) 1px solid;
  border-radius: 0px;
  background-color: #101010;
  min-width: 200px;
  max-width: 260px;
  padding: 0px;
  border-collapse: collapse;
  .iti__country {
    padding: 5px 0px;
  }
  .search-container,
  .iti__country-list {
    font-size: 14px;
    color: white;
    #country-search-box {
      padding: 15px;
      background-color: #101010;
      border-bottom: unset;
      border: unset;
      height: 30px;
      &:hover {
        border: unset;
      }
      &:focus-visible {
        border-color: unset;
        box-shadow: unset;
        outline: unset;
      }
    }
    &:hover {
      border: unset;
    }
    &:focus-visible {
      border-color: unset;
      box-shadow: unset;
      outline: unset;
    }
  }
  .iti__country-list {
    background: #101010;
    color: white;
    max-width: 300px;
  }
}
