<ion-header *ngIf="loaded$ | async">
  <ion-toolbar>
    <!-- Title -->
    <ion-title>{{'label.title.personalinformation'| languageTransform:'System' | async }}</ion-title>
    <button slot="end" kendoButton *ngIf="category$ | async as category" (click)="onClickNext(category)">
      {{'label.title.next' | languageTransform:'System' | async}}
    </button>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" *ngIf="(loaded$ | async)">
  <waiting-list-stepper
    *ngIf="sessionId"
    [sessionId]="sessionId"
    title="label.title.personalinformation"></waiting-list-stepper>
  <div *ngIf="{isRelatedToMedicalService: isRelatedToMedicalService$ | async, client: client$ | async} as view">
    <div
      class="client-info-container"
      *ngIf="view.client && (view.isRelatedToMedicalService !== true || view.isRelatedToMedicalService === true)">
      <user-information
        [isRequiredSignature]="false"
        [isRequiredLoginOption]="false"
        [allowAddress]="view.isRelatedToMedicalService !== null ? view.isRelatedToMedicalService : false"
        [allowEmergencyContact]="view.isRelatedToMedicalService !== null ? view.isRelatedToMedicalService : false"
        [isRequiredInsurance]="view.isRelatedToMedicalService !== null ? view.isRelatedToMedicalService :  false"
        [onlyUserInfo]="true"></user-information>
    </div>
    <div class="client-info-container">
      <user-information
        *ngIf="view.isRelatedToMedicalService && view.client"
        [isRequiredSignature]="false"
        [isRequiredLoginOption]="false"
        [onlyMedical]="true"></user-information>
    </div>
  </div>
</ion-content>

<div class="loading-container" *ngIf="isLoading$ | async">
  <kendo-loader size="large"></kendo-loader>
</div>
