<ion-header>
  <ion-toolbar>
    <!-- Menu -->
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="true"></ion-menu-button>
    </ion-buttons>
    <!-- Title -->
    <ion-title
      >{{selected.name | languageTransform: 'System' | async }} {{'label.title.management' |
      languageTransform: 'System' | async }}
    </ion-title>
    <ion-buttons slot="end" id="preview-btn">
      <kendo-button
        icon="hyperlink-open"
        themeColor="success"
        routerLink="/reservation/price-list"></kendo-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="selection-btn-container">
    <div id="selection-btn">
      <ng-container *ngFor="let btn of selection">
        <div id="btn">
          <div
            id="icon-btn"
            [ngClass]="{
          activeIconBtn: isActive(btn.name) ,
          deActiveIconBtn: !isActive(btn.name)
        }"
            (click)="buttonChange(btn)">
            <div id="btn-title">{{ btn.name | languageTransform:'System' | async }}</div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <shop-service-management *ngIf="selected.isServiceManagement"></shop-service-management>
  <shop-extra-management *ngIf="selected.isExtraManagement"></shop-extra-management>
  <shop-package-management *ngIf="selected.isPackageManagement"></shop-package-management>
  <shop-coupon-management *ngIf="selected.isCouponManagement"></shop-coupon-management>
</ion-content>
