shop-service-management,
shop-extra-management,
shop-package-management,
shop-coupon-management {
  justify-content: center;
  display: flex;
}

#preview-btn {
  margin-right: 12px;
  kendo-button {
    width: 23px;
    height: 23px;
  }
}

#selection-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#selection-btn {
  display: flex;
  flex-direction: row;
  flex: 1;
  max-width: 500px;
  min-width: 0px;
  justify-content: center;
}

#btn {
  width: 80px;
  display: flex;
  flex-direction: column;
}

#btn-img {
  margin: auto;
  width: 50px;
  height: 50px;
  &:hover {
    cursor: pointer;
  }
}
#btn-title {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  &:hover {
    cursor: pointer;
  }
}
