#container {
  margin-top: 12px;
}
#price-section {
  display: flex;
  margin-top: 12px;
}

#price-input {
  margin: 0;
}
#symbol {
  margin: 7px;
}
#translated-guide {
  font-size: 8px;
  padding: 0px 0px 0px 12px;
}
