<form-header
  [title]="form.headerTitle"
  [readOnly]="form.readOnly"
  [enabledSavebutton]="form.enabledSavebutton"
  [action]="form.action"
  (onClickDismiss)="dismiss()"
  (onClickCreate)="handleCreate()"
  (onClickEdit)="handleEdit()"
  (onClickSave)="handleSave()"
  (onClickDelete)="handleDelete()">
</form-header>
<ion-content [scrollable]="true" *ngIf="current && country" id="container">
  <flex-col id="container">
    <p *ngIf="form.action !== 'read' && !form.readOnly" id="translated-guide">
      {{ 'label.description.translatedvalueguiance' | languageTransform | async }}
    </p>
    <flex-col-item id="title-prop">
      <text-box
        [readOnly]="form.readOnly"
        [(value)]="current.titleProp"
        (valueChange)="onChangeTitle()"
        title="label.title.title"
        [min]="1"
        [max]="100"
        [isRequired]="true">
      </text-box>
    </flex-col-item>
    <flex-col-item id="price">
      <kendo-label text="{{ 'label.title.price' | languageTransform | async }}">
        <div id="price-section">
          <p *ngIf="country.currency === 'AUD'" id="symbol">$</p>
          <kendo-numerictextbox
            id="price-input"
            [(value)]="current.price"
            [decimals]="2"
            [min]="0"
            [spinners]="false"
            (valueChange)="onChangePrice()"
            [readonly]="form.readOnly"></kendo-numerictextbox>
        </div>
      </kendo-label>
    </flex-col-item>
  </flex-col>
</ion-content>
