<div class="action-footer-container">
  <flex-row class="action-footer" [ngStyle]="{ 'max-width': maxwidth }">
    <flex-row-item class="secondary-action-button" *ngIf="isRequiredSecondaryButton">
      <kendo-button kendoButton [disabled]="!secondaryButtonEnabled" (click)="onClickSecondaryButton()">
        {{ secondaryButtonLabel | languageTransform: 'System' | async }}
      </kendo-button>
    </flex-row-item>
    <flex-row-item class="primary-action-button" *ngIf="isRequiredPrimaryButton">
      <kendo-button kendoButton [disabled]="!primaryButtonEnabled" (click)="onClickPrimaryButton()">
        {{ primaryButtonLabel | languageTransform: 'System' | async }}
      </kendo-button>
    </flex-row-item>
  </flex-row>
</div>
