<ion-content>
  <kendo-button id="apply-btn" (click)="apply()">{{
    'label.title.apply' | languageTransform: 'System' | async
  }}</kendo-button>
  <div id="container" [ngStyle]="{ 'max-height': '200px' }">
    <ng-container *ngFor="let service of services">
      <legend id="service-title">{{ service.title | languageTransform: 'User' | async }}</legend>
      <ng-container *ngFor="let option of service.options">
        <flex-row class="options">
          <!--Check Box -->
          <flex-row-item class="check-box-container">
            <input
              id="check-box"
              kendoCheckBox
              type="checkbox"
              (click)="handleService(service, option.min, option.price)"
              [ngModel]="isSelectedService(service.id, option.min, option.price)" />
          </flex-row-item>
          <!-- Min -->
          <flex-row-item class="minute-option">
            <kendo-numerictextbox
              format="##"
              [(value)]="option.min"
              [decimals]="0"
              [spinners]="false"
              [min]="0"
              [readonly]="true"></kendo-numerictextbox>
            <p>{{ 'label.title.minute' | languageTransform: 'System' | async }}</p>
          </flex-row-item>

          <!-- Dollar -->
          <flex-row-item class="price-option">
            <p>$</p>
            <kendo-numerictextbox
              [(value)]="option.price"
              [decimals]="2"
              [min]="0"
              [spinners]="false"
              [readonly]="true"></kendo-numerictextbox>
          </flex-row-item>
        </flex-row>
      </ng-container>
    </ng-container>
  </div>
</ion-content>
