ion-header {
  max-width: 800px;
  margin: auto;
  ion-title {
    color: var(--title);
  }
}

kendo-button {
  margin: 0px 15px;
  background: transparent;
  &:hover {
    background: transparent;
  }
}

.client-info-container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
  padding-top: 15px;
  cart-check-out-extras {
    padding-top: 30px;
    margin: 0px 10px;
  }
}
