.email-verification-title {
  color: var(--title);
  text-align: center;
  display: flex;
  justify-content: center;
}

.email-verification-description {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.request-up-btn {
  width: 100%;
  background: var(--title);
}
