kendo-button {
  width: 100%;
  background: var(--title);
}

.parent-consent {
  font-size: 12px;
}

.signature-delete {
  display: flex;
  justify-content: flex-start;

  span {
    text-decoration: underline;
    font-size: 10px;
    cursor: pointer;
    &:hover {
      cursor: pointer;
    }
  }
}
