<ion-header *ngIf="loaded$ | async">
  <ion-toolbar>
    <button class="goback-btn" slot="start" kendoButton (click)="onClickGoback()">
      {{'label.title.goback' | languageTransform:'System' | async}}
    </button>
    <!-- Title -->
    <ion-title>{{'label.title.medicalinformation'| languageTransform:'System' | async }}</ion-title>
    <button class="next-btn" slot="end" kendoButton (click)="onClickNext()">
      {{'label.title.next' | languageTransform:'System' | async}}
    </button>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" *ngIf="(loaded$ | async)">
  <div class="client-info-container">
    <user-information
      *ngIf="client$ | async as client"
      [isRequiredSignature]="false"
      [isRequiredLoginOption]="false"
      [onlyMedical]="true"></user-information>
  </div>
</ion-content>

<div class="loading-container" *ngIf="isLoading$ | async">
  <kendo-loader size="large"></kendo-loader>
</div>
