<flex-col *ngIf="loaded() && url">
  <div *ngIf="transfer.status$ | async as status">
    <div class="container">
      <flex-col-item *ngIf="status !== null && status === 'Connected'" class="signature-qr-code-loading-container">
        <kendo-loader size="large"></kendo-loader>
      </flex-col-item>
      <flex-col-item class="qrcode-container" *ngIf="status === 'StandBy'">
        <kendo-qrcode *ngIf="url" [value]="url" #qrcode errorCorrection="Q" size="200px"> </kendo-qrcode>
        <kendo-button class="btn" kendoButton (click)="copyText()">
          {{ 'label.title.copy' | languageTransform: 'System' | async }}
        </kendo-button>
      </flex-col-item>
    </div>
  </div>
</flex-col>

<flex-col *ngIf="!loaded() || !url" class="signature-qr-code-loading-container">
  <kendo-loader size="large"></kendo-loader>
</flex-col>
