<ion-content>
  <!--Label-->
  <kendo-label text="{{ 'label.title.description' | languageTransform: 'System' | async }}">
    <kendo-textbox [(ngModel)]="category.description" size="large" [clearButton]="true">
    </kendo-textbox>
  </kendo-label>

  <!--Icon-->
  <ionic-icon-selection [(icon)]="category.icon"></ionic-icon-selection>

  <!--Role Config -->
  <yes-no-selection-group>
    <yes-no-selection
      title="label.title.systemadmin"
      [(value)]="category.accessLevel.isSystemAdmin"
      (valueChange)="onChangeSystemAdminAccessCtrl($event)"></yes-no-selection>
    <yes-no-selection
      title="label.title.admin"
      [(value)]="category.accessLevel.isAdmin"
      (valueChange)="onChangeAdminAccessCtrl($event)"></yes-no-selection>
    <yes-no-selection
      title="label.title.manager"
      [(value)]="category.accessLevel.isManager"
      (valueChange)="onChangeManagerAccessCtrl($event)"></yes-no-selection>
    <yes-no-selection
      title="label.title.employee"
      [(value)]="category.accessLevel.isEmployee"
      (valueChange)="onChangeEmployeeAccessCtrl($event)"></yes-no-selection>
    <yes-no-selection
      title="label.title.reception"
      [(value)]="category.accessLevel.isReception"
      (valueChange)="onChangeReceptionAccessCtrl($event)"></yes-no-selection>
  </yes-no-selection-group>

  <!--Button-->
  <ion-button *ngIf="!editMode" expand="full" (click)="onClickSaveNewCategory()">{{
    'button.title.save' | languageTransform: 'System' | async
  }}</ion-button>
  <ion-button *ngIf="editMode" expand="full" (click)="onClickEditCategory()">{{
    'button.title.edit' | languageTransform: 'System' | async
  }}</ion-button>
</ion-content>
