#is-day-off {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  kendo-label {
    margin: 5px 0px;
  }
}

#current-status {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  p {
    margin: 5px 0px;
    font-size: 10px;
  }
  legend {
    text-wrap: nowrap;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.break-time-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.new-break {
  margin: 0px 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  time-picker {
    max-width: 120px;
  }
  span {
    margin: 0px 5px;
  }
}

button {
  span {
    text-decoration: underline;
  }

  background: transparent;
  &:hover {
    background: transparent;
  }
}

#break-container {
  margin-bottom: 15px;
  .title-container {
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 12px;
    max-width: 245px;
    legend {
      margin: 0;
    }
    justify-content: space-between;
  }
}

.break-time {
  display: flex;
  align-items: center;
  gap: 10px;
  .time {
    margin: 0;
    font-size: 14px;
    width: 150px;
  }
  .duration {
    width: 70px;
    font-size: 12px;
    text-wrap: nowrap;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

#break-add {
  margin-top: 5px;
}

:host {
  ::ng-deep .form-error-container {
    height: unset;
  }
  ::ng-deep kendo-formerror {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 10px;
  }
  .validator-checkbox {
    margin: 0;
  }
}
