<form-header
  [title]="form.headerTitle"
  [readOnly]="form.readOnly"
  [enabledSavebutton]="form.enabledSavebutton"
  [action]="form.action"
  [isDeleteRequired]="false"
  [isSkipEdit]="true"
  (onClickDismiss)="dismiss()"
  (onClickEdit)="handleEdit()"
  (onClickSave)="handleSave()"></form-header>

<ion-content>
  <flex-col class="modal-container">
    <flex-row>
      <flex-row-item id="current-status">
        <legend>
          {{ prop.date | dateTransform: 'LongDate' }}
          {{ prop.day | languageTransform: 'System' | async }}
        </legend>
        <p *ngIf="roster.isOpen">
          {{ 'label.title.workhours' | languageTransform: 'System' | async }}:
          {{ roster.workHours }}
          {{ 'date.title.hour' | languageTransform: 'System' | async }}
        </p>
        <p *ngIf="roster.isOpen">
          {{ 'label.title.breaktime' | languageTransform: 'System' | async }}: {{ breakHours() }}
          {{ 'date.title.hour' | languageTransform: 'System' | async }}
        </p>
      </flex-row-item>
      <flex-row-item id="is-day-off">
        <kendo-label text="{{ 'label.title.dayoff' | languageTransform: 'System' | async }}">
          <input
            type="checkbox"
            kendoCheckBox
            [(ngModel)]="!roster.isOpen"
            [disabled]="form.readOnly"
            (ngModelChange)="onChangeDayOff()" />
        </kendo-label>
        <kendo-label text="{{ 'label.title.applyall' | languageTransform: 'System' | async }}">
          <input type="checkbox" kendoCheckBox [(ngModel)]="applyAllWeek" [disabled]="form.readOnly" />
        </kendo-label>
      </flex-row-item>
    </flex-row>

    <flex-col-item
      id="error-container"
      *ngIf="{ shift: shiftValidator$ | async, consult: consultValidator$ | async } as validator">
      <div class="form-error-container" *ngIf="changed && !validator.shift">
        <kendo-formerror>{{
          'messageerror.description.workhours' | languageTransform: 'System' | async
        }}</kendo-formerror>
      </div>
      <div
        class="form-error-container"
        *ngIf="changed && validator.consult !== null && validator.consult.cannotDayOff">
        <kendo-formerror>{{
          'label.description.cannotdayoff' | languageTransform: 'System' | async
        }}</kendo-formerror>
      </div>
      <div
        class="form-error-container"
        *ngIf="changed && validator.consult !== null && validator.consult.hasOutSideBooking">
        <kendo-formerror>{{
          'label.description.shfitconflictedwithexistingconsults' | languageTransform: 'System' | async
        }}</kendo-formerror>
      </div>
      <div
        class="form-error-container"
        *ngIf="changed && validator.consult !== null && validator.consult.hasOverlapBreak">
        <kendo-formerror>{{
          'label.description.breaktimconflictedwithexistingconsults' | languageTransform: 'System' | async
        }}</kendo-formerror>
      </div>
    </flex-col-item>
    <flex-row>
      <flex-row-item *ngIf="roster.isOpen">
        <time-picker
          title="date.title.start"
          [(time)]="startTime"
          [readOnly]="form.readOnly"
          [openTime]="prop.operating.openTime"
          [closeTime]="prop.operating.closeTime"
          (timeChange)="handleShfitValidator()"></time-picker>
      </flex-row-item>
      <flex-row-item *ngIf="roster.isOpen">
        <time-picker
          title="date.title.end"
          [(time)]="endTime"
          [readOnly]="form.readOnly"
          [openTime]="prop.operating.openTime"
          [closeTime]="prop.operating.closeTime"
          (timeChange)="handleShfitValidator()"></time-picker>
      </flex-row-item>
    </flex-row>

    <flex-col id="break-container" *ngIf="roster.isOpen">
      <flex-col-item class="title-container">
        <legend>{{ 'label.title.breaktime' | languageTransform: 'System' | async }}</legend>
        <button
          kendoButton
          icon="plus"
          id="break-add"
          *ngIf="!form.readOnly && !tempBreakTime"
          (click)="addBreak()"
          [disabled]="tempBreakTime !== undefined"></button>
      </flex-col-item>

      <flex-row class="new-break" *ngIf="tempBreakTime !== undefined && roster.isOpen">
        <time-picker
          [(time)]="tempBreakTime.start"
          [readOnly]="form.readOnly"
          [openTime]="prop.operating.openTime"
          [closeTime]="prop.operating.closeTime"
          (timeChange)="handleShfitValidator()"></time-picker>
        <span>-</span>
        <time-picker
          [(time)]="tempBreakTime.end"
          [readOnly]="form.readOnly"
          [openTime]="prop.operating.openTime"
          [closeTime]="prop.operating.closeTime"
          (timeChange)="handleShfitValidator()"></time-picker>
        <button
          kendoButton
          id="break-add"
          *ngIf="!form.readOnly"
          (click)="updateBreak()"
          [disabled]="disableAddBreak()">
          <span>{{ 'button.title.add' | languageTransform: 'System' | async }}</span>
        </button>
      </flex-row>
    </flex-col>
  </flex-col>

  <flex-row *ngFor="let breakTime of roster.breakTimes" ß>
    <flex-row-item *ngIf="roster.isOpen" class="break-time">
      <p class="time">{{ breakTime.start | timeItemTransform }} - {{ breakTime.end | timeItemTransform }}</p>
      <span class="duration">
        ({{ breakTime.durationHour }} {{ 'date.title.hour' | languageTransform: 'System' | async }})
      </span>
      <button kendoButton icon="trash" (click)="deleteBreak(breakTime)"></button>
    </flex-row-item>
  </flex-row>

  <flex-col id="consults-container" *ngIf="consultValidators$ | async as data">
    <flex-col-item class="title-container">
      <legend>{{ 'label.title.consult' | languageTransform: 'System' | async }}</legend>
    </flex-col-item>
    <flex-col-item>
      <kendo-grid [kendoGridBinding]="data" [sortable]="true" [height]="200" [autoSize]="true">
        <kendo-grid-column
          [sortable]="true"
          [width]="110"
          field="consult.scheduled.startOfDay"
          title="{{ 'date.title.date' | languageTransform: 'System' | async }}">
          <ng-template kendoGridCellTemplate let-data>
            {{ data.consult.scheduled.startOfDay | dateTransform: 'LongDate' }}
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column
          [sortable]="true"
          [width]="90"
          field="consult.scheduled.startDateTime"
          title="{{ 'label.title.start' | languageTransform: 'System' | async }}">
          <ng-template kendoGridCellTemplate let-data>
            {{ data.consult.scheduled.startDateTime | dateTransform: 'Time' }}
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column
          [sortable]="true"
          [width]="90"
          field="consult.scheduled.endDateTime"
          title="{{ 'label.title.end' | languageTransform: 'System' | async }}">
          <ng-template kendoGridCellTemplate let-data>
            {{ data.consult.scheduled.endDateTime | dateTransform: 'Time' }}
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column
          [sortable]="true"
          [width]="100"
          field="consult.status.description"
          title="{{ 'label.title.status' | languageTransform: 'System' | async }}">
          <ng-template kendoGridCellTemplate let-data>
            {{ data.consult.status.description | languageTransform: 'System' | async }}
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column
          [sortable]="true"
          [width]="140"
          field="validator.hasOverlapBreak"
          title="{{ 'label.title.conflictedbreaktime' | languageTransform: 'System' | async }}">
          <ng-template kendoGridCellTemplate let-data>
            <input
              type="checkbox"
              class="validator-checkbox"
              kendoCheckBox
              [disabled]="true"
              [checked]="data.validator.hasOverlapBreak" />
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column
          [sortable]="true"
          field="validator.hasOutSideBooking"
          [width]="140"
          title="{{ 'label.title.conflictedshift' | languageTransform: 'System' | async }}">
          <ng-template kendoGridCellTemplate let-data>
            <input
              type="checkbox"
              class="validator-checkbox"
              kendoCheckBox
              [disabled]="true"
              [checked]="data.validator.hasOutSideBooking" />
          </ng-template>
        </kendo-grid-column>
        <!-- NO Data-->
        <ng-template kendoGridNoRecordsTemplate></ng-template>
      </kendo-grid>
    </flex-col-item>
  </flex-col>
</ion-content>
