<ion-datetime
  [(ngModel)]="time"
  [min]="prop.minDateTime"
  [max]="prop.maxDateTime"
  [hourValues]="prop.hourSelection"
  [minuteValues]="prop.minSelection"
  (ngModelChange)="onChangeTime($event)"
  presentation="time"
  hourCycle="h12"></ion-datetime>
<flex-row>
  <flex-row-item>
    <kendo-button (click)="onClickApply()" kendoButton class="apply">
      {{ 'label.title.apply' | languageTransform: 'System' | async }}
    </kendo-button>
  </flex-row-item>
  <flex-row-item>
    <kendo-button (click)="onClickCancel()" kendoButton>
      {{ 'button.title.cancel' | languageTransform: 'System' | async }}
    </kendo-button>
  </flex-row-item>
</flex-row>
