<ion-datetime
  presentation="time"
  [(ngModel)]="time"
  hourCycle="h11"
  [min]="prop.minDateTime"
  [max]="prop.maxDateTime"
  [hourValues]="prop.hourSelection"
  [minuteValues]="prop.minSelection"
  (ngModelChange)="onChangeTime($event)"></ion-datetime>

<flex-row>
  <flex-row-item>
    <button kendoButton (click)="onClickApply()" class="apply">
      {{ 'label.title.apply' | languageTransform: 'System' | async }}
    </button>
  </flex-row-item>
  <flex-row-item>
    <button kendoButton (click)="onClickCancel()">
      {{ 'button.title.cancel' | languageTransform: 'System' | async }}
    </button>
  </flex-row-item>
</flex-row>
