flex-row-item {
  margin: 0;
}

kendo-button {
  width: 100%;
}

.apply {
  background: var(--title);
}

ion-datetime::part(active) {
  color: var(--title);
}

:host ::ng-deep ion-datetime::part(content) {
  .datetime-presentation-time > .datetime-time {
    background: var(--background) !important;
    --background: var(--background) !important;
    background-color: var(--background) !important;
  }
}
