ion-datetime {
  --background: var(--background);
}

flex-row {
  gap: 10px;
}

flex-row-item {
  margin: 0;
}

button {
  width: 100%;
}

.cancel {
  background: var(--title);
}

ion-datetime::part(active) {
  color: var(--title);
}
