<flex-row class="modal-container user-information-container" *ngIf="user">
  <flex-col class="user-info" *ngIf="!onlyMedical">
    <user-info [user]="user" [isRequiredLoginOption]="isRequiredLoginOption"></user-info>
    <user-address [address]="user.address"></user-address>
    <user-private-insurance [privateInsurance]="user.setting.privateInsurance"></user-private-insurance>
  </flex-col>

  <flex-col class="medical" *ngIf="!onlyUserInfo" [class.border-left]="!onlyMedical">
    <user-medical-history [user]="user"></user-medical-history>
    <user-medical-other-condition [otherStatus]="user.setting.medical.otherStatus"></user-medical-other-condition>
    <user-signature [signature]="user.signature" *ngIf="isRequiredSignature"></user-signature>
  </flex-col>
</flex-row>
