.time {
  cursor: pointer;
  display: flex;
  justify-items: center;
  gap: 4px;
  padding: 5px 12px;
  border-radius: 12px;
  background: var(--card);
  width: 100px;
  font-weight: 500;
}

.selected-time {
  background: var(--active);
  font-weight: 700;
}
