<ion-list>
  <ion-item>
    <ion-label position="{{ionic.ionLabel.position}}"> {{'language'| languageTransform : language.currentLanguage}}</ion-label>
    <ion-select interface="{{ionic.ionSelect.interface}}" (ionChange)="onChangeLanguage()" [(ngModel)]="selectedLangauge">
        <ion-select-option *ngFor="let lang of language.languages" [value]="lang.language.code">  {{lang.language.flag}} {{lang.language.name | languageTransform : language.currentLanguage}} </ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>
