<section id="menu-container">
  <div id="user-info-card" *ngIf="user.isLoggedin$ | async">
    <div id="shop-container" *ngIf="shopSelection.length > 0">
      <name-value-pair-single-dropdown-selection
        [(selected)]="selectedShop"
        [selection]="shopSelection"
        [isRequiredTitle]="false"
        (selectedChange)="handleCurrentShopChange()"
        id="user-shop-list"></name-value-pair-single-dropdown-selection>
    </div>
    <ion-card-header>
      <div id="user-info-title">
        <ion-card-title
          ><u id="user-name" (click)="presentEdit()">
            {{ (user.data$ | async)?.firstName }} {{ (user.data$ | async)?.lastName }}</u
          ></ion-card-title
        >
        <ion-card-subtitle
          ><p *ngIf="{ role: user.currentRole$ | async } as data">
            {{ data.role?.name | languageTransform: 'System' | async }}
          </p></ion-card-subtitle
        >
      </div>
    </ion-card-header>
  </div>

  <!--Menu-->
  <div id="menu-content">
    <!-- Home -->
    <ion-accordion-group>
      <ion-accordion>
        <ion-item
          button
          slot="header"
          class="menu-selector"
          [class.menu-active]="selectedTitleHeading === 'booking'"
          (click)="clickHome()">
          <ion-icon slot="start" name="home-outline"></ion-icon>
          {{ 'label.title.homepage' | languageTransform: 'System' | async }}
        </ion-item>
      </ion-accordion>
    </ion-accordion-group>

    <!-- User -->
    <ion-accordion-group *ngIf="user.isLoggedin$ | async">
      <ion-accordion>
        <ion-item slot="header" class="menu-selector" [class.menu-active]="selectedTitleHeading === 'user'">
          <ion-icon slot="start" name="document-lock-outline"></ion-icon>
          {{ 'label.title.profile' | languageTransform: 'System' | async }}
        </ion-item>
        <ion-list slot="content">
          <ion-item
            button
            routerLink="/user/information"
            routerLinkActive="menu-active"
            (click)="onChangeMenu('user/information')"
            class="content-selector">
            <ion-icon slot="start" name="body-outline"></ion-icon>
            {{ 'label.title.information' | languageTransform: 'System' | async }}
          </ion-item>
          <ion-item
            button
            routerLink="/user/user-massage-setting"
            routerLinkActive="menu-active"
            (click)="onChangeMenu('user/user-massage-setting')"
            class="content-selector">
            <ion-icon slot="start" name="settings-outline"></ion-icon>
            {{ 'label.title.massagepreference' | languageTransform: 'System' | async }}
          </ion-item>
        </ion-list>
      </ion-accordion>
    </ion-accordion-group>
    <ion-accordion-group *ngIf="user.isLoggedin$ | async">
      <!--Route Link-->
      <ion-accordion *ngFor="let menu of menus">
        <!--Header-->
        <ion-item
          slot="header"
          class="menu-selector"
          [ngClass]="menu.name === selectedTitleHeading ? 'menu-active' : ''">
          <ion-icon slot="start" [name]="menu.icon"></ion-icon>
          {{ menu.name | languageTransform: 'System' | async }}
        </ion-item>

        <!--Content-->
        <ion-list slot="content" *ngFor="let content of menu.content">
          <ion-item
            button
            routerLink="{{ content.url }}"
            routerLinkActive="menu-active"
            class="content-selector"
            (click)="onChangeMenu(content.url)">
            <ion-icon slot="start" name="{{ content.icon }}"></ion-icon>
            {{ content.name | languageTransform: 'System' | async }}
          </ion-item>
        </ion-list>
      </ion-accordion>

      <!-- Login Status-->
      <div id="footer-container">
        <flex-col id="footer">
          <flex-col-item id="log-in-out-btn">
            <span id="log-out-btn" *ngIf="user.isLoggedin$ | async" (click)="logout()">
              {{ 'button.title.logout' | languageTransform: 'System' | async }}</span
            >
            <span *ngIf="user.isLoggedout$ | async" id="log-in-btn" (click)="login()">
              {{ 'button.title.login' | languageTransform: 'System' | async }}
            </span>
          </flex-col-item>
          <flex-col-item id="privacy-terms-condition-btn">
            <span id="version">V 0.0.0</span>
            <span id="terms-conditions" (click)="presentTermsandConditions()">{{
              'label.title.termsandconditions' | languageTransform: 'System' | async
            }}</span>
            <span id="privacy" (click)="presentPrivacyPolicy()">{{
              'label.title.privacypolicy' | languageTransform: 'System' | async
            }}</span>
          </flex-col-item>
        </flex-col>
      </div>
    </ion-accordion-group>
  </div>
</section>
