#selected-shop-info-card,
#user-info-card {
  margin: 0px 0px 0px 0px;
}

#menu-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  --background: #191919;
}

#shop-container {
  margin-top: -12px;
  margin-bottom: -10px;
}

.menu-selector {
  --background: #3f3f3f;
}
.content-selector {
  --background: #3f3f3f;
}
.menu-active {
  --background: #787586 !important;
}

#user-info-card ion-card-header {
  --background: #191919;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-items: center;

  p {
    margin: 0;
  }
  #user-name {
    &:hover {
      cursor: pointer;
    }
  }
  margin-bottom: 10px;
}

ion-list {
  padding: 0;
}

#user-shop-list {
  width: 100%;
}

#menu {
  padding-bottom: 50px;
}

#log-out,
#log-in {
  position: absolute;
  bottom: 0;
  width: 100%;
  #log-out-btn,
  #log-in-btn {
    --background: transparent;
    &:hover {
      cursor: pointer;
    }
  }
}
