#selected-shop-info-card,
#user-info-card {
  margin: 0px 0px 0px 0px;
}

#menu-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  --background: #191919;
}

#shop-container {
  margin-top: -12px;
  margin-bottom: -10px;
}

.menu-selector {
  --background: #3f3f3f;
}
.content-selector {
  --background: #1e2221;
  border-bottom: 1px solid black;
}
.menu-active {
  --background: #787586 !important;
}

#user-info-card ion-card-header {
  --background: #191919;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-items: center;

  p {
    margin: 0;
  }
  #user-name {
    &:hover {
      cursor: pointer;
    }
  }
  margin-bottom: 10px;
}

ion-list {
  padding: 0;
}

#user-shop-list {
  width: 100%;
}

#menu {
  max-height: 900px;
  overflow-y: auto;
}

#footer {
  position: absolute;
  bottom: 0;
  flex-col-item {
    span {
      padding: 5px;
    }
  }
  #log-in-out-btn,
  #privacy-terms-condition-btn {
    display: flex;
    justify-content: center;
  }
}

#terms-conditions:hover,
#log-in-btn:hover,
#log-out-btn:hover,
#privacy:hover,
.hover-effect:hover {
  color: #787586;
  cursor: pointer;
}

#version,
#terms-conditions,
#privacy {
  font-size: 8px;
}

@media (max-height: 1180px) {
  #menu-content {
    max-height: 700px;
  }
}

@media (max-height: 712px) {
  #menu-content {
    max-height: 450px;
    overflow: hidden;
    overflow-y: scroll;
  }
}

@media (max-height: 630px) {
  #menu-content {
    max-height: 390px;
  }
}

@media (max-height: 550px) {
  #menu-content {
    max-height: 200px;
    overflow: hidden;
    overflow-y: scroll;
  }
}

@media (max-height: 420px) {
  #menu-content {
    max-height: 190px;
    overflow: hidden;
    overflow-y: scroll;
  }
}
