<!--TODO: add user information and menu information from app.component-->
<!--User Info-->
<section id="menu-container">
  <ion-card id="user-info-card">
    <ion-card-header>
      <div id="user-info-title">
        <ion-card-title><u id="user-name"></u></ion-card-title>
        <ion-card-subtitle
          ><p>
            {{ 'role.title.systemadmin' | languageTransform | async }}
          </p></ion-card-subtitle
        >
      </div>
    </ion-card-header>
    <ion-card-content>
      <kendo-dropdownlist id="user-shop-list"></kendo-dropdownlist>
    </ion-card-content>
  </ion-card>

  <!--Menu-->
  <ion-accordion-group>
    <!--Route Link-->
    <ion-accordion *ngFor="let menu of menus">
      <!--Header-->
      <ion-item slot="header" [ngClass]="menu.name === selectedTitleHeading ? 'active' : ''">
        <ion-icon slot="start" [name]="menu.icon"></ion-icon>
        {{ menu.name | languageTransform | async }}
      </ion-item>

      <!--Content-->
      <ion-list slot="content" *ngFor="let content of menu.content">
        <ion-item
          button
          routerLink="{{ content.url }}"
          routerLinkActive="active"
          (click)="onChangeMenu(content.url)">
          <ion-label>
            <ion-icon slot="start" name="{{ content.icon }}"></ion-icon>
            {{ content.name | languageTransform | async }}
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>

  <!--Language Setting-->
  <section id="language-setting-container">
    <langauge-selection></langauge-selection>
  </section>
  <section id="log-out" *ngIf="user">
    <ion-button expand="block" id="log-out-btn" (click)="logout()">
      {{ 'button.title.logout' | languageTransform | async }}</ion-button
    >
  </section>
</section>
