<ion-header>
  <ion-toolbar>
    <!-- Menu -->
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="true"></ion-menu-button>
    </ion-buttons>
    <!-- Title -->
    <ion-title>{{'label.title.shopmanagement'| languageTransform:'System' | async }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <kendo-buttongroup selection="single" width="100%">
    <kendo-button
      kendoButton
      *ngFor="let button of systemMenu"
      [toggleable]="true"
      [selected]="button.name === selectedSystemMenu.name"
      (selectedChange)="processSystemMenuOption(button)">
      {{button.name}}
    </kendo-button>
  </kendo-buttongroup>

  <system-shop-management *ngIf="selectedSystemMenu.isShopManagement"></system-shop-management>
  <shop-capacity-management *ngIf="selectedSystemMenu.isShopCapacityManagement"></shop-capacity-management>
</ion-content>
