<flex-col id="shop-extra">
  <flex-col-item id="shop-extra-grid" *ngIf="!loading()">
    <shop-limited-progressbar [progressbar]="progressBar$"></shop-limited-progressbar>
    <shop-extra-grid
      [extras]="extra"
      [country]="country"
      [isReachToMax]="isReachToMax"
      [translatedRequests]="translatedRequest"
      (onCreate)="handleCreate()"
      (onEdit)="handleEdit($event)"
      (onEditPackage)="handleEditPackage($event)"></shop-extra-grid>
  </flex-col-item>

  <div class="loading-container" *ngIf="loading()">
    <kendo-loader size="large"></kendo-loader>
  </div>
</flex-col>
