<form-header
  [title]="form.headerTitle"
  [readOnly]="form.readOnly"
  [enabledSavebutton]="form.enabledSavebutton"
  [action]="form.action"
  (onClickDismiss)="dismiss()"></form-header>

<ion-content>
  <flex-col>
    <!-- 1. Information -->
    <flex-col-item>
      <legend class="title">
        {{ 'label.title.introduction' | languageTransform: 'System' | async }}
      </legend>
      {{ 'confirmation.description.appintroduction' | languageTransform: 'System' | async }}
    </flex-col-item>

    <!-- 2. Information We Collect -->
    <flex-col-item>
      <legend class="title">
        {{ 'label.title.informationwecollect' | languageTransform: 'System' | async }}
      </legend>
      <div class="information-we-collect-detail">
        <span>{{ 'label.title.name' | languageTransform: 'System' | async }}</span>
        <span>{{ 'label.title.contactinformation' | languageTransform: 'System' | async }}</span>
        <span>{{ 'label.title.transactiondetails' | languageTransform: 'System' | async }}</span>
        <span> {{ 'label.title.ipaddress' | languageTransform: 'System' | async }}</span>
        <span> {{ 'label.title.macaddress' | languageTransform: 'System' | async }}</span>
        <span> {{ 'label.title.cookies' | languageTransform: 'System' | async }}</span>
        <span>{{
          'label.description.additionalpertinentinformationforserviceprovision'
            | languageTransform: 'System'
            | async
        }}</span>
      </div>
    </flex-col-item>

    <!-- 3. Reasons For Collecting MAC and IP Address -->
    <flex-col-item>
      <legend class="title">
        {{ 'label.title.reasonsforcollectingmacandipaddress' | languageTransform: 'System' | async }}
      </legend>
      {{ 'confirmation.description.appreasonsforcollectingmacandipaddress' | languageTransform: 'System' | async }}
    </flex-col-item>

    <!-- 4. Cookies Detail-->
    <flex-col-item>
      <legend class="title">
        {{ 'label.title.cookiesdetail' | languageTransform: 'System' | async }}
      </legend>

      <div class="cookies-detail">
        <span>
          {{ 'confirmation.title.strictlynecessarycookies' | languageTransform: 'System' | async
          }}{{ 'confirmation.description.strictlynecessarycookies' | languageTransform: 'System' | async }}
        </span>
        <span>
          {{ 'confirmation.title.performancecookies' | languageTransform: 'System' | async
          }}{{ 'confirmation.description.performancecookies' | languageTransform: 'System' | async }}
        </span>
        <span>
          {{ 'confirmation.title.targetingadvertisingcookies' | languageTransform: 'System' | async }}
          {{ 'confirmation.description.targetingadvertisingcookies' | languageTransform: 'System' | async }}
        </span>
      </div>
    </flex-col-item>

    <!-- 5. Third Party Provider -->
    <flex-col-item>
      <legend class="title">
        {{ 'label.title.thridpartyprovider' | languageTransform: 'System' | async }}
      </legend>
      {{ 'confirmation.description.appthridpartyprovider' | languageTransform: 'System' | async }}
    </flex-col-item>

    <!-- 6. How We Use Your Information-->
    <flex-col-item>
      <legend class="title">
        {{ 'label.title.howweuseyourinformation' | languageTransform: 'System' | async }}
      </legend>
      {{ 'confirmation.description.howweuseyourinformation' | languageTransform: 'System' | async }}
    </flex-col-item>

    <!-- 7. How We Share Your Information-->
    <flex-col-item>
      <legend class="title">
        {{ 'label.title.howweshareyourinformation' | languageTransform: 'System' | async }}
      </legend>
      {{ 'confirmation.description.howweshareyourinformation' | languageTransform: 'System' | async }}
    </flex-col-item>

    <!-- 8. Children’s Privacy-->
    <flex-col-item>
      <legend class="title">
        {{ 'label.title.childrensprivacy' | languageTransform: 'System' | async }}
      </legend>
      {{ 'confirmation.description.childrensprivacy' | languageTransform: 'System' | async }}
    </flex-col-item>

    <!-- 9. Data Security Measures-->
    <flex-col-item>
      <legend class="title">
        {{ 'label.title.datasecuritymeasures' | languageTransform: 'System' | async }}
      </legend>
      {{ 'confirmation.description.datasecuritymeasures' | languageTransform: 'System' | async }}
    </flex-col-item>

    <!-- 10. Your Rights and User Consent-->
    <flex-col-item>
      <legend class="title">
        {{ 'label.title.yourrightsanduserconsent' | languageTransform: 'System' | async }}
      </legend>
      {{ 'confirmation.description.yourrightsanduserconsent' | languageTransform: 'System' | async }}
    </flex-col-item>

    <!-- 11. Data Retention and Deletion-->
    <flex-col-item>
      <legend class="title">
        {{ 'label.title.dataretentionanddeletion' | languageTransform: 'System' | async }}
      </legend>
      {{ 'confirmation.description.dataretentionanddeletion' | languageTransform: 'System' | async }}
    </flex-col-item>

    <!-- 12. User Consent and Withdrawal-->
    <flex-col-item>
      <legend class="title">
        {{ 'label.title.userconsentandwithdrawal' | languageTransform: 'System' | async }}
      </legend>
      {{ 'confirmation.description.userconsentandwithdrawal' | languageTransform: 'System' | async }}
    </flex-col-item>

    <!-- 13. Data Breach Procedures-->
    <flex-col-item>
      <legend class="title">
        {{ 'label.title.databreachprocedures' | languageTransform: 'System' | async }}
      </legend>
      {{ 'confirmation.description.databreachprocedures' | languageTransform: 'System' | async }}
    </flex-col-item>

    <!-- 14. Opt-Out Process-->
    <flex-col-item>
      <legend class="title">
        {{ 'label.title.optoutprocess' | languageTransform: 'System' | async }}
      </legend>
      {{ 'confirmation.description.optoutprocess' | languageTransform: 'System' | async }}
    </flex-col-item>

    <!-- 15. Complaints Process-->
    <flex-col-item>
      <legend class="title">
        {{ 'label.title.complaintsprocess' | languageTransform: 'System' | async }}
      </legend>
      {{ 'confirmation.description.complaintsprocess' | languageTransform: 'System' | async }}
    </flex-col-item>

    <!-- 16. Consequences of Non-Provision of Data-->
    <flex-col-item>
      <legend class="title">
        {{ 'label.title.consequencesofnonprovisionofdata' | languageTransform: 'System' | async }}
      </legend>
      {{ 'confirmation.description.consequencesofnonprovisionofdata' | languageTransform: 'System' | async }}
    </flex-col-item>

    <!-- 17. Legitimate Interests-->
    <flex-col-item>
      <legend class="title">
        {{ 'label.title.legitimateinterests' | languageTransform: 'System' | async }}
      </legend>
      {{ 'confirmation.description.legitimateinterests' | languageTransform: 'System' | async }}
    </flex-col-item>

    <!-- 18. Jurisdiction and Governing Law-->
    <flex-col-item>
      <legend class="title">
        {{ 'label.title.jurisdictionandgoverninglaw' | languageTransform: 'System' | async }}
      </legend>
      {{ 'confirmation.description.jurisdictionandgoverninglaw' | languageTransform: 'System' | async }}
    </flex-col-item>

    <!-- 19. User Rights under Australian Privacy Laws-->
    <flex-col-item>
      <legend class="title">
        {{ 'label.title.userrightsunderaustralianprivacylaws' | languageTransform: 'System' | async }}
      </legend>
      {{ 'confirmation.description.userrightsunderaustralianprivacylaws' | languageTransform: 'System' | async }}
    </flex-col-item>

    <!-- 20. Third Party Links-->
    <flex-col-item>
      <legend class="title">
        {{ 'label.title.thirdpartylinks' | languageTransform: 'System' | async }}
      </legend>
      {{ 'confirmation.description.thirdpartylinks' | languageTransform: 'System' | async }}
    </flex-col-item>

    <!-- 21. Modifications and Updates to Policy-->
    <flex-col-item>
      <legend class="title">
        {{ 'label.title.modificationsandupdatestopolicy' | languageTransform: 'System' | async }}
      </legend>
      {{ 'confirmation.description.modificationsandupdatestopolicy' | languageTransform: 'System' | async }}
    </flex-col-item>

    <!-- 22. Contact Information For Inquiries And Concerns-->
    <flex-col-item>
      <legend class="title">
        {{ 'label.title.contactinformationforinquiriesandconcerns' | languageTransform: 'System' | async }}
      </legend>
      {{ 'confirmation.description.appcontact' | languageTransform: 'System' | async }}
    </flex-col-item>
    <flex-col-item id="contact-info">
      <a href="tel:+61439007010"><span>+61439007010</span></a>
      <a href="mailto:admin@pos.clinic"><span>admin@pos.clinic</span></a>
    </flex-col-item>

    <!-- 23. Privacy Policy Conclusion-->
    <flex-col-item>
      <legend class="title">
        {{ 'label.title.privacypolicyconclusion' | languageTransform: 'System' | async }}
      </legend>
      {{ 'confirmation.description.privacypolicyconclusion' | languageTransform: 'System' | async }}
    </flex-col-item>
  </flex-col>
</ion-content>
