.setting-title {
  display: flex;
  justify-content: space-between;
  legend {
    color: var(--title);
  }
  kendo-button {
    background-color: transparent;
    text-decoration: underline;
    font-weight: 700;
  }
  .edit-btn {
    color: var(--title);
  }
}

.default-placeholder {
  color: var(--active);
}

.description {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 0px;
  justify-content: flex-start;
  p {
    margin: 2px;
    flex-wrap: wrap;
  }
}

::ng-deep .pregrency-due-date-picker-container date-picker {
  kendo-datepicker {
    margin: 0;
  }
}
