#catch-phrase-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 100px;
}

#catch-phrase {
  color: #cd7867;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
