<!--Login Option -->
<div id="recaptcha-container"></div>
<!--Login-->
<flex-col *ngIf="!login.verifying && !sendOTP">
  <flex-col-item class="phone">
    <phone-number
      [isRequired]="true"
      [isTitleRequired]="false"
      [(phone)]="login.phoneNumber"
      [(validate)]="validator.phone"></phone-number>
  </flex-col-item>
  <flex-col-item class="login">
    <kendo-button
      class="login-btn"
      kendoButton
      [disabled]="!validator.phone || login.verifying"
      (click)="verifyingAccount()">
      {{ 'label.title.findmyaccount' | languageTransform: 'System' | async }}
    </kendo-button>
  </flex-col-item>
</flex-col>

<!--OTP-->
<flex-col *ngIf="sendOTP && !login.verifying">
  <flex-col-item class="otp-container">
    <otp-input [(otp)]="login.otp" [(validator)]="validator.otp"></otp-input>
  </flex-col-item>
  <flex-col-item>
    <p id="otp-verification-timer">{{ timer.label }}</p>
    <kendo-progressbar [value]="timer.percent.used" [label]="{ visible: false }" [max]="100"> </kendo-progressbar>
  </flex-col-item>
  <flex-col-item class="verify-btn">
    <kendo-button kendoButton [disabled]="!(validator.otp && timer && !timer.end)" (click)="verifyPhoneOTP()">
      {{ 'label.title.securityconfirmation' | languageTransform: 'System' | async }}
    </kendo-button>
  </flex-col-item>
</flex-col>

<flex-col *ngIf="!login.verifying">
  <flex-col-item id="account-container">
    <flex-col-item *ngIf="sendOTP">
      <kendo-button id="resend" kendoButton (click)="resendOTP()">
        {{ 'label.title.resend' | languageTransform: 'System' | async }}
      </kendo-button>
    </flex-col-item>
    <kendo-button id="change-phone-number-btn" (click)="changePhoneNumber()">
      {{ 'label.description.changephonenumber' | languageTransform: 'System' | async }}
    </kendo-button>
  </flex-col-item>
</flex-col>

<flex-col *ngIf="!login.verifying">
  <flex-col-item id="login-policy-container">
    <kendo-button id="privacy-policy-btn" (click)="presentPrivacyPolicy()">
      {{ 'label.title.privacypolicy' | languageTransform: 'System' | async }}
    </kendo-button>
    <kendo-button id="terms-and-condition-btn" (click)="presentTermandCondition()">
      {{ 'label.title.termsandconditions' | languageTransform: 'System' | async }}
    </kendo-button>
  </flex-col-item>
</flex-col>

<div class="loading-container" *ngIf="login.verifying">
  <kendo-loader size="large"></kendo-loader>
</div>
