<!--Login Option -->
<div id="recaptcha-container"></div>

<flex-col *ngIf="!login.verifying">
  <flex-col-item class="phone">
    <phone-number
      [isRequired]="true"
      [isTitleRequired]="false"
      [(phone)]="login.phoneNumber"
      [(validate)]="validator.phone"></phone-number>
  </flex-col-item>
  <flex-col-item class="login">
    <button
      class="login-btn"
      kendoButton
      [disabled]="!validator.phone || login.verifying"
      (click)="verifyingAccount()">
      {{ 'label.title.login' | languageTransform: 'System' | async }}
    </button>
  </flex-col-item>
</flex-col>

<div class="loading-container" *ngIf="login.verifying">
  <kendo-loader size="large"></kendo-loader>
</div>
