<flex-row *ngIf="otherStatus || otherStatus === null">
  <flex-row-item class="edit-btn-group">
    <kendo-button
      *ngIf="readOnly"
      class="edit-btn"
      icon="edit"
      themeColor="success"
      (click)="readOnly = false"></kendo-button>
    <kendo-button
      *ngIf="!readOnly"
      class="edit-btn"
      icon="save"
      themeColor="success"
      (click)="onSave()"
      [disabled]="!enableSaveBtn || requesting">
    </kendo-button>
  </flex-row-item>
  <flex-row-item>
    <legend>{{ 'label.title.ohterstatus' | languageTransform: 'System' | async }}</legend>
  </flex-row-item>
</flex-row>

<flex-row *ngIf="(otherStatus || otherStatus === null) && !requesting">
  <flex-row-item *ngIf="readOnly">
    {{ otherStatus | transformMedicalHsitoryOtherStatus | async }}
  </flex-row-item>
  <flex-row-item *ngIf="otherStatus === null && !readOnly"
    >{{ 'label.description.doyouwanttoprovideothermedicalstatus' | languageTransform: 'System' | async }}
    {{ 'label.description.medicalotherstatusinputstatus' | languageTransform: 'System' | async }}
    {{ 'label.description.itmaytakebetweentenandthritysecond' | languageTransform: 'System' | async }}
  </flex-row-item>
  <flex-row-item *ngIf="otherStatus && !readOnly"
    >{{ 'label.description.doyouwanttoreset' | languageTransform: 'System' | async }}
    <input type="checkbox" kendoCheckBox [checked]="false" [disabled]="readOnly" (click)="reset()" />
  </flex-row-item>
</flex-row>

<flex-col *ngIf="!readOnly && otherStatus === null && !requesting">
  <flex-col-item>
    <text-area
      [isTitleRequired]="false"
      [isRequired]="true"
      [min]="10"
      [max]="200"
      [showCounter]="true"
      [(value)]="translatingProp"
      [(validate)]="translatingPropValidator"></text-area>
  </flex-col-item>
  <flex-row>
    <flex-row-item>
      <kendo-button class="save-btn" [disabled]="!translatingPropValidator" (click)="translating()">{{
        'button.title.save' | languageTransform: 'System' | async
      }}</kendo-button>
    </flex-row-item>
    <flex-row-item> </flex-row-item>
  </flex-row>
</flex-col>

<flex-col>
  <flex-col-item>
    <kendo-loader *ngIf="requesting" size="large"></kendo-loader>
  </flex-col-item>
</flex-col>
