<flex-col *ngIf="massage && !requesting" class="modal-container">
  <massage-pressure-level-selector
    [(level)]="massage.pressureLevel"
    (levelChange)="onChangePressureLevel()"></massage-pressure-level-selector>
</flex-col>

<desktop-version-body-selector
  *ngIf="massage && !requesting"
  [readOnly]="false"
  [isReport]="false"
  [(selectedAreas)]="massage.areas"
  (selectedAreasChange)="onChangeAreas($event)"></desktop-version-body-selector>
<mobile-version-body-selector
  *ngIf="massage && !requesting"
  [readOnly]="false"
  [isReport]="false"
  [(selectedAreas)]="massage.areas"
  (selectedAreasChange)="onChangeAreas($event)"></mobile-version-body-selector>

<client-massage-body-summary
  *ngIf="massage && !requesting"
  [selectedAreas]="massage.areas"></client-massage-body-summary>

<flex-col *ngIf="!massage || requesting">
  <flex-col-item class="loading-container">
    <kendo-loader size="large"></kendo-loader>
  </flex-col-item>
</flex-col>
