.filter-tooltip {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex: 1;
  align-items: flex-end;
  margin-bottom: 20px;
  kendo-button {
    height: 30px;
    width: 100%;
  }
  .apply-btn {
    background: var(--title);
  }
}
