<div id="container" *ngIf="loaded">
  <div id="options">
    <ng-container *ngFor="let option of options">
      <div id="option" (click)="handleClickOption(option)">
        <div class="svg-icon-container">
          <div class="svg-icon">
            <img [src]="option.img" />
          </div>
        </div>
        <p class="svg-icon-title">{{ option.name | languageTransform: 'System' | async }}</p>
      </div>
    </ng-container>
  </div>
</div>

<div class="loading-container" *ngIf="!loaded">
  <kendo-loader size="large"></kendo-loader>
</div>
