<div id="shop-configuration-list">
  <legend>
    {{ 'label.title.shopconfiguration' | languageTransform | async }}
  </legend>
  <kendo-grid
    [kendoGridBinding]="configs"
    [height]="500"
    [sortable]="true"
    [autoSize]="true"
    scrollable="virtual"
    [selectable]="true"
    filterable="row"
    (cellClick)="onClickCell($event)">
    <!-- Add Button -->
    <ng-template kendoGridToolbarTemplate>
      <button kendoGridAddCommand (click)="onClickCreateShopConfiguration()">
        {{ 'button.title.add' | languageTransform | async }}
      </button>
    </ng-template>

    <!-- Name -->
    <kendo-grid-column
      title="{{ 'label.title.name' | languageTransform | async }}"
      [filterable]="true"
      field="name">
      <ng-template kendoGridCellTemplate let-config>{{ config.name }}</ng-template>
      <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
        <kendo-grid-string-filter-cell [showOperators]="false" [column]="column" [filter]="filter">
        </kendo-grid-string-filter-cell>
      </ng-template>
    </kendo-grid-column>

    <!-- Suburb -->
    <kendo-grid-column
      title="{{ 'label.title.suburb' | languageTransform | async }}"
      field="address.suburb"
      [filterable]="true">
      <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
        <kendo-grid-string-filter-cell [showOperators]="false" [column]="column" [filter]="filter">
        </kendo-grid-string-filter-cell>
      </ng-template>
    </kendo-grid-column>

    <!-- Category -->
    <kendo-grid-column
      title="{{ 'label.title.category' | languageTransform | async }}"
      field="category.name"
      [filterable]="false">
      <ng-template kendoGridCellTemplate let-config>
        {{ config.category.name | languageTransform | async }}
      </ng-template>
    </kendo-grid-column>

    <!--Active-->
    <kendo-grid-column
      *ngIf="!device.deviceType.isMobile"
      title="{{ 'label.title.active' | languageTransform | async }}"
      field="active"
      [filterable]="false">
      <ng-template kendoGridCellTemplate let-config>
        <input type="checkbox" kendoCheckBox [checked]="config.active" disabled />
      </ng-template>
    </kendo-grid-column>

    <!--Over Due-->
    <kendo-grid-column
      *ngIf="!device.deviceType.isMobile"
      title="{{ 'label.title.overdue' | languageTransform | async }}"
      field="plan.isOverDue"
      [filterable]="false">
      <ng-template kendoGridCellTemplate let-config>
        <input type="checkbox" kendoCheckBox [checked]="config.plan.isOverDue" disabled />
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>
</div>
