<form-header
  [title]="form.headerTitle"
  [readOnly]="form.readOnly"
  [enabledSavebutton]="form.enabledSavebutton"
  [action]="form.action"
  [isDeleteRequired]="false"
  (onClickDismiss)="dismiss()"
  (onClickEdit)="handleEdit()"
  (onClickSave)="handleSave()">
</form-header>
<ion-content [scrollable]="true" *ngIf="setting">
  <flex-col class="modal-container">
    <flex-col-item>
      <kendo-label text="{{ 'label.title.openingbalance' | languageTransform: 'System' | async }}">
        <div id="opening-balance-section">
          <p>$</p>
          <kendo-numerictextbox
            id="opening-balance-input"
            [(value)]="setting.financial.openingBalance"
            [decimals]="2"
            [min]="0"
            [spinners]="false"
            (valueChange)="onChangeOpeningBalance()"
            [readonly]="form.readOnly"></kendo-numerictextbox>
        </div>
      </kendo-label>
    </flex-col-item>
    <flex-col-item>
      <percentage
        title="label.title.tax"
        [(value)]="setting.financial.taxRate"
        [readOnly]="form.readOnly"
        [max]="0.5"
        [autoCorrect]="true"
        (valueChange)="onChangeTaxRate()"></percentage>
    </flex-col-item>
    <flex-col-item>
      <percentage
        title="label.title.cardsurcharge"
        [(value)]="setting.financial.cardSurchargeRate"
        [readOnly]="form.readOnly"
        [max]="0.5"
        [autoCorrect]="true"
        (onChangeValue)="onChangeCardSurcharge()"></percentage>
    </flex-col-item>
    <flex-col-item>
      <kendo-label text="{{ 'label.title.cashdiscount' | languageTransform: 'System' | async }}">
        <input
          type="checkbox"
          kendoCheckBox
          [checked]="setting.financial.cashDiscount !== null"
          (click)="onClickCashDiscount()"
          [disabled]="form.readOnly" />
      </kendo-label>
    </flex-col-item>
  </flex-col>
  <flex-col *ngIf="setting.financial.cashDiscount">
    <flex-col-item class="cash-discount-rate">
      <percentage
        *ngIf="setting.financial.cashDiscount"
        [(value)]="setting.financial.cashDiscount.rate"
        [readOnly]="form.readOnly"
        [max]="0.5"
        [autoCorrect]="true"
        (onChangeValue)="onChangeCashDiscount()"></percentage>
    </flex-col-item>
    <flex-col-item class="cash-discount-type">
      <kendo-label text="{{ 'label.title.applycouponproductcashdiscount' | languageTransform: 'System' | async }}">
        <input
          type="checkbox"
          kendoCheckBox
          [(ngModel)]="setting.financial.cashDiscount.enableCoupon"
          [disabled]="form.readOnly" />
      </kendo-label>
    </flex-col-item>
    <flex-col-item class="cash-discount-type">
      <kendo-label
        text="{{ 'label.title.applypackageproductcashdiscount' | languageTransform: 'System' | async }}">
        <input
          type="checkbox"
          kendoCheckBox
          [(ngModel)]="setting.financial.cashDiscount.enablePackage"
          [disabled]="form.readOnly" />
      </kendo-label>
    </flex-col-item>
    <flex-col-item class="cash-discount-type">
      <kendo-label
        text="{{ 'label.title.applyserviceproductcashdiscount' | languageTransform: 'System' | async }}">
        <input
          type="checkbox"
          kendoCheckBox
          [(ngModel)]="setting.financial.cashDiscount.enableService"
          [disabled]="form.readOnly" />
      </kendo-label>
    </flex-col-item>
    <flex-col-item class="cash-discount-type">
      <kendo-label text="{{ 'label.title.applyextraproductcashdiscount' | languageTransform: 'System' | async }}">
        <input
          type="checkbox"
          kendoCheckBox
          [(ngModel)]="setting.financial.cashDiscount.enableService"
          [disabled]="form.readOnly" />
      </kendo-label>
    </flex-col-item>
  </flex-col>
</ion-content>
