<form-header
  [title]="form.headerTitle"
  [readOnly]="form.readOnly"
  [enabledSavebutton]="form.enabledSavebutton"
  [action]="form.action"
  [isDeleteRequired]="false"
  (onClickDismiss)="dismiss()"
  (onClickEdit)="handleEdit()"
  (onClickSave)="handleSave()">
</form-header>
<ion-content *ngIf="setting" [scrollable]="true">
  <flex-col class="modal-container">
    <flex-col-item>
      <percentage
        [(value)]="setting.financial.taxRate"
        [readOnly]="form.readOnly"
        [max]="0.5"
        [autoCorrect]="true"
        (valueChange)="onChangeTaxRate()"
        title="label.title.tax"></percentage>
    </flex-col-item>
    <flex-col-item>
      <percentage
        [(value)]="setting.financial.cardSurchargeRate"
        [readOnly]="form.readOnly"
        [max]="0.5"
        [autoCorrect]="true"
        (onChangeValue)="onChangeCardSurcharge()"
        title="label.title.cardsurcharge"></percentage>
    </flex-col-item>
    <flex-col-item>
      <kendo-label text="{{ 'label.title.cashdiscount' | languageTransform: 'System' | async }}">
        <input
          [checked]="setting.financial.cashDiscount !== null"
          [disabled]="form.readOnly"
          (click)="onClickCashDiscount()"
          type="checkbox"
          kendoCheckBox />
      </kendo-label>
    </flex-col-item>
  </flex-col>
  <flex-col *ngIf="setting.financial.cashDiscount">
    <flex-col-item class="cash-discount-rate">
      <percentage
        *ngIf="setting.financial.cashDiscount"
        [(value)]="setting.financial.cashDiscount.rate"
        [readOnly]="form.readOnly"
        [max]="0.5"
        [autoCorrect]="true"
        (onChangeValue)="onChangeCashDiscount()"></percentage>
    </flex-col-item>
    <flex-col-item class="cash-discount-type">
      <kendo-label text="{{ 'label.title.applycouponproductcashdiscount' | languageTransform: 'System' | async }}">
        <input
          [(ngModel)]="setting.financial.cashDiscount.enableCoupon"
          [disabled]="form.readOnly"
          type="checkbox"
          kendoCheckBox />
      </kendo-label>
    </flex-col-item>
    <flex-col-item class="cash-discount-type">
      <kendo-label
        text="{{ 'label.title.applypackageproductcashdiscount' | languageTransform: 'System' | async }}">
        <input
          [(ngModel)]="setting.financial.cashDiscount.enablePackage"
          [disabled]="form.readOnly"
          type="checkbox"
          kendoCheckBox />
      </kendo-label>
    </flex-col-item>
    <flex-col-item class="cash-discount-type">
      <kendo-label
        text="{{ 'label.title.applyserviceproductcashdiscount' | languageTransform: 'System' | async }}">
        <input
          [(ngModel)]="setting.financial.cashDiscount.enableService"
          [disabled]="form.readOnly"
          type="checkbox"
          kendoCheckBox />
      </kendo-label>
    </flex-col-item>
    <flex-col-item class="cash-discount-type">
      <kendo-label text="{{ 'label.title.applyextraproductcashdiscount' | languageTransform: 'System' | async }}">
        <input
          [(ngModel)]="setting.financial.cashDiscount.enableService"
          [disabled]="form.readOnly"
          type="checkbox"
          kendoCheckBox />
      </kendo-label>
    </flex-col-item>
  </flex-col>
</ion-content>
