<form-header
  [title]="form.headerTitle"
  [readOnly]="form.readOnly"
  [enabledSavebutton]="form.enabledSavebutton"
  [action]="form.action"
  [isDeleteRequired]="false"
  (onClickDismiss)="dismiss()"
  (onClickEdit)="handleEdit()"
  (onClickSave)="handleSave()">
</form-header>
<ion-content [scrollable]="true" *ngIf="setting">
  <flex-col id="container">
    <flex-row>
      <flex-row-item>
        <opening-closing-hour-picker
          title="label.title.autoopeningtime"
          [readOnly]="true"
          [(hour)]="setting.financial.openingHour"></opening-closing-hour-picker>
      </flex-row-item>
      <flex-row-item>
        <opening-closing-hour-picker
          title="label.title.autoclosingtime"
          [readOnly]="true"
          [(hour)]="setting.financial.closingHour"></opening-closing-hour-picker>
      </flex-row-item>
    </flex-row>
    <flex-col-item>
      <kendo-label text="{{ 'label.title.openingbalance' | languageTransform | async }}">
        <div id="opening-balance-section">
          <p>$</p>
          <kendo-numerictextbox
            id="opening-balance-input"
            [(value)]="setting.financial.openingBalance"
            [decimals]="2"
            [min]="0"
            [spinners]="false"
            (valueChange)="onChangeOpeningBalance()"
            [readonly]="form.readOnly"></kendo-numerictextbox>
        </div>
      </kendo-label>
    </flex-col-item>
    <flex-col-item>
      <percentage
        title="label.title.cashdiscount"
        [(value)]="setting.financial.cashDiscountRate"
        [readOnly]="form.readOnly"
        [max]="0.5"
        [autoCorrect]="true"
        (onChangeValue)="onChangeCashDiscount()"></percentage>
    </flex-col-item>
    <flex-col-item>
      <percentage
        title="label.title.cardsurcharge"
        [(value)]="setting.financial.cardSurchargeRate"
        [readOnly]="form.readOnly"
        [max]="0.5"
        [autoCorrect]="true"
        (onChangeValue)="onChangeCardSurcharge()"></percentage>
    </flex-col-item>
    <flex-col-item>
      <percentage
        title="label.title.tax"
        [(value)]="setting.financial.taxRate"
        [readOnly]="form.readOnly"
        [max]="0.5"
        [autoCorrect]="true"
        (valueChange)="onChangeTaxRate()"></percentage>
    </flex-col-item>
  </flex-col>
</ion-content>
