<form-header
  action="read"
  (onClickDismiss)="onDismiss()"
  title="label.title.addbreaktime"
  *ngIf="newBreakTime.loaded()"></form-header>

<div class="container" *ngIf="newBreakTime.loaded()">
  <flex-col>
    <error-message-item *ngIf="newBreakTime.conflictWithBreaktimes()">
      <p>{{ 'messageerror.description.conflictwithbreaktimes' | languageTransform: 'System' | async }}</p>
    </error-message-item>
    <error-message-item *ngIf="newBreakTime.conflictWithConsults()">
      <p>{{ 'messageerror.description.conflictwithconsults' | languageTransform: 'System' | async }}</p>
    </error-message-item>
    <error-message-item *ngIf="newBreakTime.conflictWithStartEndTime()">
      <p>{{ 'messageerror.description.conflictwithstartendtime' | languageTransform: 'System' | async }}</p>
    </error-message-item>
    <error-message-item *ngIf="newBreakTime.invalidBreakTime()">
      <p>{{ 'messageerror.description.invalidworkhours' | languageTransform: 'System' | async }}</p>
    </error-message-item>
    <time-from-to
      [min]="newBreakTime.employeeStartTimeItem()"
      [max]="newBreakTime.employeeEndTimeItem()"
      [timeFrom]="newBreakTime.breakStartTimeItem()"
      (timeFromChange)="newBreakTime.onUpdateStartTimeItem($event)"
      [timeTo]="newBreakTime.breakEndTimeItem()"
      (timeToChange)="newBreakTime.onUpdateEndTimeItem($event)"></time-from-to>
  </flex-col>

  <flex-row class="button-container">
    <flex-row-item>
      <button kendoButton (click)="onSave()" class="apply" [disabled]="!newBreakTime.allowAddBreakTime()">
        {{ 'label.title.apply' | languageTransform: 'System' | async }}
      </button>
    </flex-row-item>
    <flex-row-item>
      <button kendoButton (click)="onDismiss()">
        {{ 'button.title.cancel' | languageTransform: 'System' | async }}
      </button>
    </flex-row-item>
  </flex-row>
</div>
