flex-row-item {
  margin: 0;
}

kendo-button {
  width: 100%;
}

.apply {
  background: var(--title);
}

.container {
  background: var(--background) !important;
  padding-top: 15px;
}
.button-container {
  padding-top: 15px;
}
