.popover-title {
  .popover-title-position-type-title {
    font-size: 8px;
  }
}

.title-container {
  margin: 0px 0px 0px 10px;
}

.popover-title {
  font-size: 16px;

  .popover-title-position-type-title {
    font-size: 12px;
  }
}

.title-container {
  margin: 0px 10px 0px 10px;
}

.lists {
  padding-top: 12px;
  background-color: var(--background);
}

.popover-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .btn {
    font-size: 14px;
    min-width: 50px;
    padding: 3px;
    font-weight: 600;
    border-radius: 5px;
    text-align: center;
    text-decoration: underline;
    &:hover {
      cursor: pointer;
    }
  }
  .delete {
    background: var(--error);
  }
  .edit {
    background: var(--card);
  }
  .save {
    width: 100%;
    background: var(--card);
  }
}
.justify-end {
  justify-content: flex-end;
}

ion-range {
  padding: 0;
  margin: 5px;
  --bar-background: #3f3f3f;
  --tick-background: #3f3f3f;
  --bar-background-active: #ff6358;
  --knob-background: var(--title);
  --knob-size: 16px;
}

ion-range::part(tick) {
  background: var(--title);
}

ion-range::part(tick-active) {
  background: var(--title);
}

ion-range::part(pin) {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background: var(--title);
  color: #fff;

  border-radius: 50%;
  min-width: 28px;
  height: 28px;
  transition:
    transform 120ms ease,
    background 120ms ease;
}

ion-range::part(pin)::before {
  content: none;
}
