.setting-title {
  display: flex;
  justify-content: space-between;
  legend {
    color: var(--title);
  }
  button {
    background-color: transparent;
    text-decoration: underline;
    font-weight: 700;
  }
  .edit-btn {
    color: var(--title);
  }
}
