<flex-row *ngIf="user">
  <flex-row-item class="setting-title">
    <legend>{{ 'label.title.information' | languageTransform: 'System' | async }}</legend>
    <button *ngIf="readOnly" (click)="readOnly = false" class="edit-btn">
      {{ 'button.title.edit' | languageTransform: 'System' | async }}
    </button>
    <button
      *ngIf="!readOnly"
      class="save-btn"
      themeColor="success"
      (click)="onSave()"
      [disabled]="!enableSaveBtn || requesting">
      {{ 'button.title.save' | languageTransform: 'System' | async }}
    </button>
  </flex-row-item>
</flex-row>

<flex-row *ngIf="user && !requesting">
  <flex-row-item>
    <login-option-selection [readOnly]="true" [loginOption]="user.loginOption"></login-option-selection>
  </flex-row-item>
</flex-row>

<flex-row *ngIf="user && !requesting">
  <flex-row-item>
    <gender-selection [readOnly]="readOnly" [(gender)]="user.gender"></gender-selection>
  </flex-row-item>
  <flex-row-item>
    <langauge-selection [readOnly]="readOnly" [(selectedCode)]="user.setting.preferLanguage"></langauge-selection>
  </flex-row-item>
</flex-row>

<flex-row *ngIf="user && !requesting">
  <flex-row-item>
    <text-box
      title="label.title.firstname"
      [readOnly]="readOnly"
      [isRequired]="true"
      [min]="1"
      [max]="100"
      [(value)]="user.firstName"
      [(validate)]="validator.firstName"
      (validateChange)="handleEnableSaveBtn()">
    </text-box>
  </flex-row-item>
  <flex-row-item>
    <text-box
      title="label.title.lastname"
      [readOnly]="readOnly"
      [isRequired]="true"
      [min]="1"
      [max]="100"
      [(value)]="user.lastName"
      [(validate)]="validator.lastName"
      (validateChange)="handleEnableSaveBtn()">
    </text-box>
  </flex-row-item>
</flex-row>

<flex-row *ngIf="user && !requesting">
  <flex-row-item>
    <phone-number
      [isRequired]="true"
      [isTitleRequired]="true"
      [readOnly]="readOnly"
      [(phone)]="user.phoneNumber"
      [(validate)]="validator.phone"
      (validateChange)="handleEnableSaveBtn()"></phone-number>
  </flex-row-item>
</flex-row>
<flex-row *ngIf="user && !requesting">
  <flex-row-item>
    <e-mail
      [isRequired]="true"
      [readOnly]="readOnly"
      [(email)]="user.email"
      [(validate)]="validator.email"
      (validateChange)="handleEnableSaveBtn()"></e-mail>
  </flex-row-item>
</flex-row>

<flex-row *ngIf="user && !requesting">
  <flex-row-item>
    <date-picker
      title="label.title.dateofbrith"
      [displayNextDay]="0"
      [isDateOfBrith]="true"
      [readOnly]="readOnly"
      [(date)]="user.dob"></date-picker>
  </flex-row-item>
</flex-row>

<flex-col>
  <flex-col-item>
    <kendo-loader *ngIf="requesting" size="large"></kendo-loader>
  </flex-col-item>
</flex-col>
