<section id="dictonary-container">
  <section id="language-selection-container">
    <flex-row>
      <flex-row-item>
        <name-pair-value-single-selection
          title="label.title.language"
          [selection]="languageSelectionList"
          [(selected)]="selectedLang"
          [filterable]="true"
          (selectedChange)="onChangeLanguageSelection()"></name-pair-value-single-selection>
      </flex-row-item>
      <flex-row-item>
        <text-box
          title="label.title.search"
          [(value)]="query"
          (valueChange)="onChangeQuery()"></text-box>
      </flex-row-item>
    </flex-row>
  </section>
  <section id="language-key-pair-container">
    <flex-col>
      <flex-col-item>
        <kendo-grid [data]="gridData" [height]="400" [sortable]="true" [autoSize]="true">
          <ng-template kendoGridToolbarTemplate>
            <button kendoGridAddCommand (click)="openAddLanguageTransform($event)">
              {{ 'button.title.add' | languageTransform | async }}
            </button>
            <button kendoGridAddCommand (click)="export()">
              {{ 'button.title.download' | languageTransform | async }}
            </button>
          </ng-template>
          <kendo-grid-column
            title="{{ 'label.title.key' | languageTransform | async }}"
            [filterable]="true"
            field="key">
          </kendo-grid-column>

          <kendo-grid-column
            title="{{ 'label.title.value' | languageTransform | async }}"
            [filterable]="true"
            field="value">
          </kendo-grid-column>

          <kendo-grid-column [filterable]="false" [width]="100">
            <ng-template kendoGridCellTemplate let-data>
              <language-key-pair-select-option
                [keyPairValue]="data"
                [languageCode]="selectedLang.value.toString()"
                (keyPairValueChange)="setLanguageSelection()"></language-key-pair-select-option>
            </ng-template>
          </kendo-grid-column>
        </kendo-grid>
      </flex-col-item>
    </flex-col>
  </section>
</section>
