<flex-col *ngIf="scheduler.loaded()">
  <shop-reservation-scheduler-toolbar 
  [loaded]="scheduler.loaded()"
  [showWorkHours]="scheduler.showWorkHours()" 
  [allowPreviousDate]="scheduler.allowPreviousDate()"
  [allowToday]="scheduler.allowToday()"
  [allowNextDate]="scheduler.allowNextDate()"
  [timezone]="scheduler.timezone()"
  [displayNextDays]="scheduler.displayNextDays()"
  [displayPreviousDays]="scheduler.displayPreviousDay()"
  [operatingHours]="scheduler.operatingHours()"
  [startOfDay]="scheduler.startOfDay()"
  [isDayView]="scheduler.isDayViewMode()"
  [isTimelineView]="scheduler.isTimelineViewMode()"
  (onClickPreviousDate)="scheduler.previousDay()"
  (onClickNextDate)="scheduler.nextDay()"
  (onClickView)="onChangeView($event)"
  (onClickToday)="scheduler.today()"
  (onChangeDate)="scheduler.startOfDay.set($event)"
  (onClickClock)="scheduler.showWorkHours.set(!scheduler.showWorkHours())"
  ></shop-reservation-scheduler-toolbar>

<flex-col *ngIf="scheduler.isDayViewMode()">
  <flex-col-item class="horizontal-container">
    <kendo-scheduler
      class="scheduler"
      [showWorkHours]="scheduler.showWorkHours()"
      [loading]="!scheduler.loaded()"
      [kendoSchedulerBinding]="scheduler.events()"
      [selectedDate]="scheduler.selectedDate()"
      [group]="{
        resources: ['EmployeeName'],
        orientation: 'horizontal'
      }"
      [resources]="scheduler.resources()"
      [minDate]="scheduler.minDate()"
      [maxDate]="scheduler.maxDate()"
      [slotDuration]="scheduler.slotDuration()"
      [slotDivisions]="scheduler.slotDivision()"
      [workDayStart]="scheduler.workDayStart()"
      [workDayEnd]="scheduler.workDayEnd()"
      [currentTimeMarker]="scheduler.currentTimeMarker()"
      [editable]="scheduler.editable()">
      <!-- Header -->
      <ng-template kendoSchedulerGroupHeaderTemplate let-resource="resource">
        <span class="hey">{{ resource?.firstName }} {{ resource?.lastName }}</span>
      </ng-template>
      <kendo-scheduler-day-view> </kendo-scheduler-day-view>
    </kendo-scheduler>
  </flex-col-item>
</flex-col>

<flex-col *ngIf="scheduler.isTimelineViewMode()">
  <flex-col-item>
    <kendo-scheduler
      [showWorkHours]="scheduler.showWorkHours()"
      [loading]="!scheduler.loaded()"
      [kendoSchedulerBinding]="scheduler.events()"
      [selectedDate]="scheduler.selectedDate()"
      [group]="{
        resources: ['EmployeeName'],
        orientation: 'vertical'
      }"
      [slotFill]="1"
      [resources]="scheduler.resources()"
      [minDate]="scheduler.minDate()"
      [maxDate]="scheduler.maxDate()"
      [slotDuration]="scheduler.slotDuration()"
      [slotDivisions]="scheduler.slotDivision()"
      [workDayStart]="scheduler.workDayStart()"
      [workDayEnd]="scheduler.workDayEnd()"
      [currentTimeMarker]="scheduler.currentTimeMarker()"
      [editable]="scheduler.editable()"
      [columnWidth]="75">
      <!-- Header -->
      <ng-template kendoSchedulerGroupHeaderTemplate let-resource="resource">
        <span class="hey">{{ resource?.firstName }} {{ resource?.lastName }}</span>
      </ng-template>
      <kendo-scheduler-timeline-view></kendo-scheduler-timeline-view>
    </kendo-scheduler>
  </flex-col-item>
</flex-col>
