<flex-col *ngIf="scheduler.loaded()">
  <flex-row>
    <!--Date-->
    <flex-row-item>
      <div class="date-picker-query-container">
        <kendo-buttongroup class="date-picker-button">
          <kendo-button kendoButton *ngIf="scheduler.showWorkHours()" (click)="scheduler.showWorkHours.set(false)">
            <kendo-svgicon [icon]="kendo.icon.fullClock"></kendo-svgicon>
          </kendo-button>
          <kendo-button kendoButton *ngIf="!scheduler.showWorkHours()" (click)="scheduler.showWorkHours.set(true)">
            <kendo-svgicon [icon]="kendo.icon.halfClock"></kendo-svgicon>
          </kendo-button>
        </kendo-buttongroup>

        <kendo-buttongroup class="date-picker-button">
          <kendo-button kendoButton [disabled]="!scheduler.allowPreviousDate()" (click)="scheduler.previousDay()">
            <kendo-svgicon [icon]="kendo.icon.left"></kendo-svgicon>
          </kendo-button>
          <kendo-button kendoButton [disabled]="!scheduler.allowToday()" (click)="scheduler.today()">
            <p>{{ 'label.title.today' | languageTransform: 'System' | async }}</p>
          </kendo-button>
          <kendo-button kendoButton [disabled]="!scheduler.allowNextDate()" (click)="scheduler.nextDay()">
            <kendo-svgicon [icon]="kendo.icon.right"></kendo-svgicon>
          </kendo-button>
        </kendo-buttongroup>
        <date-picker
          [date]="scheduler.startOfDay()"
          [shopTimeZone]="scheduler.timezone()"
          [displayNextDay]="scheduler.displayNextDays()"
          [displayPreviousDay]="scheduler.displayPreviousDay()"
          [operatingHours]="scheduler.operatingHours()"
          (dateChange)="scheduler.startOfDay.set($event)"></date-picker>
        <kendo-buttongroup class="display-picker-button">
          <kendo-button
            kendoButton
            [ngClass]="{ active: scheduler.isDayViewMode() }"
            [svgIcon]="kendo.icon.alignHorizontalIcon"
            [selected]="scheduler.isDayViewMode()"
            (click)="onChangeView(scheduler.dayMode)"></kendo-button>
          <kendo-button
            kendoButton
            [ngClass]="{ active: scheduler.isTimelineViewMode() }"
            [svgIcon]="kendo.icon.alignVerticalIcon"
            [selected]="scheduler.isTimelineViewMode()"
            (click)="onChangeView(scheduler.timelineMode)"></kendo-button>
        </kendo-buttongroup>
      </div>
    </flex-row-item>
  </flex-row>
</flex-col>

<flex-col *ngIf="scheduler.isDayViewMode()">
  <flex-col-item class="horizontal-container">
    <kendo-scheduler
      class="scheduler"
      [showWorkHours]="scheduler.showWorkHours()"
      [loading]="!scheduler.loaded()"
      [kendoSchedulerBinding]="scheduler.events()"
      [selectedDate]="scheduler.selectedDate()"
      [group]="{
        resources: ['EmployeeName'],
        orientation: 'horizontal'
      }"
      [resources]="scheduler.resources()"
      [minDate]="scheduler.minDate()"
      [maxDate]="scheduler.maxDate()"
      [slotDuration]="scheduler.slotDuration()"
      [slotDivisions]="scheduler.slotDivision()"
      [workDayStart]="scheduler.workDayStart()"
      [workDayEnd]="scheduler.workDayEnd()"
      [currentTimeMarker]="scheduler.currentTimeMarker()"
      [editable]="scheduler.editable()">
      <!-- Header -->
      <ng-template kendoSchedulerGroupHeaderTemplate let-resource="resource">
        <span class="hey">{{ resource?.firstName }} {{ resource?.lastName }}</span>
      </ng-template>
      <kendo-scheduler-day-view> </kendo-scheduler-day-view>
    </kendo-scheduler>
  </flex-col-item>
</flex-col>

<flex-col *ngIf="scheduler.isTimelineViewMode()">
  <flex-col-item>
    <kendo-scheduler
      [showWorkHours]="scheduler.showWorkHours()"
      [loading]="!scheduler.loaded()"
      [kendoSchedulerBinding]="scheduler.events()"
      [selectedDate]="scheduler.selectedDate()"
      [group]="{
        resources: ['EmployeeName'],
        orientation: 'vertical'
      }"
      [slotFill]="1"
      [resources]="scheduler.resources()"
      [minDate]="scheduler.minDate()"
      [maxDate]="scheduler.maxDate()"
      [slotDuration]="scheduler.slotDuration()"
      [slotDivisions]="scheduler.slotDivision()"
      [workDayStart]="scheduler.workDayStart()"
      [workDayEnd]="scheduler.workDayEnd()"
      [currentTimeMarker]="scheduler.currentTimeMarker()"
      [editable]="scheduler.editable()"
      [columnWidth]="75">
      <!-- Header -->
      <ng-template kendoSchedulerGroupHeaderTemplate let-resource="resource">
        <span class="hey">{{ resource?.firstName }} {{ resource?.lastName }}</span>
      </ng-template>
      <kendo-scheduler-timeline-view></kendo-scheduler-timeline-view>
    </kendo-scheduler>
  </flex-col-item>
</flex-col>
