:host ::ng-deep .k-scheduler-table > tr > th {
  width: 100px !important;
}

:host ::ng-deep .k-scheduler-content.k-user-select-none > .k-scheduler-table > tr > td {
  width: 100px !important;
}

:host ::ng-deep .k-scheduler-times > .k-scheduler-table {
  width: 82px !important;
  tr > th {
    width: 80px !important;
  }
}

:host ::ng-deep .header-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.horizontal-container {
  overflow-y: auto;
  height: 600px;
  overflow: hidden;
  overflow-y: auto;

  :host ::ng-deep kendo-scheduler {
    overflow-y: scroll;
    height: 600px;
    overflow-y: auto;
    width: 100%;
  }
}

.scheduler {
  height: 600px !important;
  overflow-y: auto;
}
