<ion-content>
  <!--Label-->
  <ion-item>
    <ion-label>{{ 'label.title.description' | languageTransform: 'System' | async }}</ion-label>
    <ion-input [(ngModel)]="categoryContent.description"></ion-input>
  </ion-item>

  <!--URL-->
  <ion-item>
    <ion-label>{{ 'label.upper.url' | languageTransform: 'System' | async }}</ion-label>
    <ion-input [(ngModel)]="categoryContent.url"></ion-input>
  </ion-item>
  <!--Icon-->
  <ionic-icon-selection [(icon)]="categoryContent.icon"></ionic-icon-selection>

  <!--Button-->
  <ion-button *ngIf="!editMode" expand="full" (click)="onClickSaveNewCategoryContent()">{{
    'button.title.save' | languageTransform: 'System' | async
  }}</ion-button>
  <ion-button *ngIf="editMode" expand="full" (click)="onClickEditCategoryContent()">{{
    'button.title.edit' | languageTransform: 'System' | async
  }}</ion-button>
</ion-content>
