<kendo-label text="{{ title | languageTransform: 'System' | async }}" *ngIf="mode === 'form'">
  <kendo-buttongroup selection="single" width="100%">
    <kendo-button
      kendoButton
      [disabled]="readOnly"
      [selected]="inputLoginOption.phoneNumber"
      (click)="onClickPhoneButton()">
      {{ 'label.title.phone' | languageTransform: 'System' | async }}
    </kendo-button>
    <kendo-button
      kendoButton
      [disabled]="readOnly"
      [selected]="inputLoginOption.email"
      (click)="onClickEmailButton()">
      {{ 'label.title.email' | languageTransform: 'System' | async }}
    </kendo-button>
  </kendo-buttongroup>
</kendo-label>

<kendo-buttongroup selection="single" width="100%" *ngIf="mode === 'login'">
  <kendo-button
    kendoButton
    [disabled]="readOnly"
    [selected]="inputLoginOption.phoneNumber"
    (click)="onClickPhoneButton()">
    {{ 'label.title.phone' | languageTransform: 'System' | async }}
  </kendo-button>
  <kendo-button
    kendoButton
    [disabled]="readOnly"
    [selected]="inputLoginOption.email"
    (click)="onClickEmailButton()">
    {{ 'label.title.email' | languageTransform: 'System' | async }}
  </kendo-button>
</kendo-buttongroup>
