<kendo-label text="{{ title | languageTransform | async }}">
  <kendo-buttongroup selection="single" width="100%">
    <button
      kendoButton
      [disabled]="readOnly"
      [selected]="inputLoginOption.phoneNumber"
      (click)="onClickPhoneButton()">
      {{ 'label.title.phone' | languageTransform | async }}
    </button>
    <button
      kendoButton
      [disabled]="readOnly"
      [selected]="inputLoginOption.email"
      (click)="onClickEmailButton()">
      {{ 'label.title.email' | languageTransform | async }}
    </button>
  </kendo-buttongroup>
</kendo-label>
