.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  flex-direction: row;
}

.signature-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  flex-direction: row;
}

.confirmation-btn {
  width: 100%;
  background: var(--title);
}

.activeSignatureUpload {
  ::ng-deep kendo-button {
    background-color: var(--active);
  }
}
