<flex-col>
  <flex-col-item>
    <div class="button-container">
      <kendo-button kendoButton (click)="mode = 'input'" [ngClass]="{ active: mode === 'input' }">
        <kendo-svgicon [icon]="kendo.icon.pencil"></kendo-svgicon>
      </kendo-button>
      <signature-transfer-upload-photo
        [ngClass]="{ activeSignatureUpload: mode === 'upload' }"
        [(signature)]="signature"
        (signatureChange)="onUpload()"
        (click)="mode = 'upload'"></signature-transfer-upload-photo>
      <kendo-button kendoButton (click)="signature = ''">
        <kendo-svgicon [icon]="kendo.icon.refresh"></kendo-svgicon>
      </kendo-button>
    </div>
  </flex-col-item>
  <flex-col-item class="signature-container" *ngIf="mode !== 'none'">
    <signature-input [(signature)]="signature" [readOnly]="isReadOnly()"></signature-input>
  </flex-col-item>
  <flex-col-item>
    <kendo-button class="confirmation-btn" kendoButton (click)="send()" [disabled]="!(signature.length > 0)">
      {{ 'label.title.confirmation' | languageTransform: 'System' | async }}
    </kendo-button>
  </flex-col-item>
</flex-col>
