<!--Login Option -->
<div id="recaptcha-container"></div>

<div id="login">
  <flex-col *ngIf="!sendOTP">
    <flex-col-item *ngIf="!login.verifying">
      <login-option-selection
        mode="login"
        [(loginOption)]="loginOption"
        (loginOptionChange)="onChangeLoginOption()"></login-option-selection>
    </flex-col-item>
  </flex-col>

  <!--Phone Verification -->
  <flex-col *ngIf="!sendOTP && loginOption.phoneNumber">
    <div id="login-loading">
      <kendo-loader size="large" *ngIf="login.verifying"></kendo-loader>
    </div>

    <flex-col-item *ngIf="!login.verifying">
      <phone-number *ngIf="!sendOTP" [(phone)]="login.phoneNumber" [(validate)]="validator.phone"></phone-number>
    </flex-col-item>
    <flex-col-item *ngIf="!sendOTP && loginOption.phoneNumber">
      <kendo-button
        id="otp-btn"
        kendoButton
        [disabled]="!validator.phone || login.verifying"
        (click)="sendPhoneOTP()">
        {{ 'label.title.sendverification' | languageTransform: 'System' | async }}
      </kendo-button>
    </flex-col-item>
  </flex-col>

  <!-- OTP Verification (Phone) -->
  <flex-col *ngIf="sendOTP && loginOption.phoneNumber">
    <div id="login-loading">
      <kendo-loader size="large" *ngIf="login.verifying"></kendo-loader>
    </div>
    <flex-col-item id="otp-verification-title" *ngIf="!login.verifying">
      <legend>
        {{ 'label.title.securityconfirmation' | languageTransform: 'System' | async }}
      </legend>
      <p>
        {{ 'messagesuccess.description.verificationotpsend' | languageTransform: 'System' | async }}
      </p>
      <p id="otp-verification-phone-number">{{ login.phoneNumber }}</p>
    </flex-col-item>
    <flex-col-item>
      <otp-input [(otp)]="login.otp" [(validator)]="validator.otp" (otpChange)="onChangeOTP()"></otp-input>
    </flex-col-item>
    <flex-col-item *ngIf="!login.verifying">
      <p id="otp-verification-timer">{{ timer.label }}</p>
      <kendo-progressbar [value]="timer.percent.used" [label]="{ visible: false }" [max]="100">
      </kendo-progressbar>
    </flex-col-item>
    <flex-col-item>
      <section id="otp-tool" *ngIf="!login.verifying">
        <kendo-button id="otp-tool-btn" kendoButton (click)="reset()">
          {{ 'label.title.goback' | languageTransform: 'System' | async }}
        </kendo-button>
        <kendo-button id="otp-tool-btn" kendoButton (click)="resendOTP()">
          {{ 'label.title.resend' | languageTransform: 'System' | async }}
        </kendo-button>
      </section>
    </flex-col-item>
    <flex-col-item>
      <kendo-button
        id="otp-btn"
        kendoButton
        [disabled]="!enableOTPVerificationBtn || login.verifying"
        (click)="verifyPhoneOTP()">
        {{ 'label.title.login' | languageTransform: 'System' | async }}
      </kendo-button>
    </flex-col-item>
  </flex-col>

  <flex-col *ngIf="loginOption.email">
    <flex-col-item>
      <e-mail [(email)]="login.emailAddress" [(validate)]="validator.email" [isRequired]="true"></e-mail>
    </flex-col-item>
    <flex-col-item>
      <kendo-label text="{{ 'label.title.password' | languageTransform: 'System' | async }}">
        <kendo-textbox
          #textbox
          placeholder="{{ 'placeholder.title.required' | languageTransform: 'System' | async }}"
          [clearButton]="true"
          [(value)]="login.password"
          (valueChange)="onChangePassword()">
          <ng-template kendoTextBoxSuffixTemplate>
            <kendo-button
              *ngIf="showPassword"
              kendoButton
              look="clear"
              icon="unlock"
              (click)="toggleVisibility()"></kendo-button>
            <kendo-button
              *ngIf="!showPassword"
              kendoButton
              look="clear"
              icon="lock"
              (click)="toggleVisibility()"></kendo-button>
          </ng-template>
        </kendo-textbox>
      </kendo-label>
    </flex-col-item>
    <flex-col-item>
      <kendo-button
        kendoButton
        [disabled]="!validator.password || !validator.email"
        (click)="onClickLoginWithEmail()">
        {{ 'label.title.login' | languageTransform: 'System' | async }}
      </kendo-button>
    </flex-col-item>
  </flex-col>

  <flex-col *ngIf="!login.verifying">
    <flex-col-item id="account-container">
      <kendo-button id="create-account-btn" (click)="createAccount()">
        {{ 'label.title.signup' | languageTransform: 'System' | async }}
      </kendo-button>
      <kendo-button id="change-phone-number-btn" (click)="changePhoneNumber()">
        {{ 'label.description.changephonenumber' | languageTransform: 'System' | async }}
      </kendo-button>
    </flex-col-item>
  </flex-col>

  <flex-col *ngIf="!login.verifying">
    <flex-col-item id="login-policy-container">
      <kendo-button id="privacy-policy-btn" (click)="presentPrivacyPolicy()">
        {{ 'label.title.privacypolicy' | languageTransform: 'System' | async }}
      </kendo-button>
      <kendo-button id="terms-and-condition-btn" (click)="presentTermandCondition()">
        {{ 'label.title.termsandconditions' | languageTransform: 'System' | async }}
      </kendo-button>
    </flex-col-item>
  </flex-col>
</div>
