.date-picker-query-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  date-picker {
    width: 120px;
  }

  .display-picker-button,
  .date-picker-button {
    gap: 1px;
    height: 30px;
    margin-top: 18px;
    margin-bottom: 10px;
  }
}
