.scheduler-toolbar-container {
  justify-content: flex-start;
  gap: 20px;
}

date-picker {
  width: 175px;
}

.date-picker-button {
  width: 115px;
}

.today {
  width: 60px;
}

.date-picker-query-container,
.toolbar-query-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  flex: 0;
  margin: 0px;

  kendo-button {
    gap: 1px;
    height: 30px;
    margin-top: 18px;
    margin-bottom: 10px;
  }
}

.date-picker-query-container {
  margin-left: 15px;
}
.toolbar-query-container {
  margin-right: 15px;
}
.desktop-reviews {
  margin-top: 37px;
}
.mobile-reviews {
  display: none;
}

@media (max-width: 1120px) {
  .desktop-reviews {
    display: none;
  }
  .mobile-reviews {
    display: block;
  }
}

@media (max-width: 650px) {
  .scheduler-toolbar-container {
    flex-direction: column;
    gap: 0px;
  }
  .date-picker-query-container {
    margin-left: 15px;
    margin-right: 15px;
    height: 32px;
  }
  .toolbar-query-container {
    display: none;
  }
}

.mobile-toolbar-query-container {
  display: none;
}

@media (max-width: 650px) {
  .mobile-toolbar-query-container {
    display: block;
    kendo-button {
      background: transparent;
      background-color: transparent;
      &:hover {
        background: transparent;
        background-color: transparent;
      }
    }
  }
}
