<flex-col *ngIf="!processLink">
  <flex-row
    [class.general-term-and-condition-container]="!forceMobile"
    [class.mobile-general-term-and-condition-container]="forceMobile">
    <flex-row-item *ngIf="isRelatedToMedical">
      <flex-col>
        <flex-col-item class="signature-title-conatiner">
          <legend>{{ 'label.title.signature' | languageTransform: 'System' | async }}</legend>
          <div class="button-container">
            <signature-transfer-upload-photo [(signature)]="signature"></signature-transfer-upload-photo>
            <kendo-button kendoButton class="signature-btn" (click)="onClickLink($event)">
              <kendo-svgicon [icon]="kendo.icon.link"></kendo-svgicon>
            </kendo-button>
            <kendo-button
              kendoButton
              class="signature-btn"
              *ngIf="type === 'client' || mode === 'create'"
              (click)="onClickClearSignature()">
              <kendo-svgicon [icon]="kendo.icon.refresh"></kendo-svgicon>
            </kendo-button>
          </div>
        </flex-col-item>
        <flex-col-item class="signature-conatiner">
          <signature-input
            [(signature)]="signature"
            [readOnly]="!(type === 'client' || mode === 'create')"
            (signatureChange)="onChangeSignature($event)"></signature-input>
        </flex-col-item>
      </flex-col>
    </flex-row-item>
    <flex-row-item class="consent-container">
      <yes-no-selection-group>
        <yes-no-selection
          *ngIf="!(type === 'shop' && mode === 'edit')"
          title="label.title.acceptanceofterms"
          [(value)]="hasTermandConditionConsent"
          (valueChange)="hasTermandConditionConsentChange.emit($event)"></yes-no-selection>
        <yes-no-selection
          title="label.title.smsmarketingconsent"
          [(value)]="hasMarketingSMSConsent"
          (valueChange)="hasMarketingSMSConsentChange.emit($event)"></yes-no-selection>
        <yes-no-selection
          title="label.title.emailmarketingconsent"
          [(value)]="hasMarketingEmailConsent"
          (valueChange)="hasMarketingEmailConsentChange.emit($event)"></yes-no-selection>
      </yes-no-selection-group>
    </flex-row-item>
  </flex-row>

  <flex-col-item *ngIf="mode === 'create'">
    <kendo-button class="action-btn" kendoButton [disabled]="!validator" (click)="onClickAction.emit()">
      {{ 'label.title.registeration' | languageTransform: 'System' | async }}
    </kendo-button>
  </flex-col-item>

  <flex-row>
    <flex-row-item *ngIf="mode === 'edit' && type === 'shop'">
      <kendo-button class="delete-btn" kendoButton [disabled]="!validator" (click)="onClickDelete.emit()">
        {{ 'button.title.delete' | languageTransform: 'System' | async }}
      </kendo-button>
    </flex-row-item>
    <flex-row-item *ngIf="mode === 'edit'">
      <kendo-button class="action-btn" kendoButton [disabled]="!validator" (click)="onClickAction.emit()">
        {{ 'label.title.edit' | languageTransform: 'System' | async }}
      </kendo-button>
    </flex-row-item>
  </flex-row>
</flex-col>

<flex-col>
  <flex-col-item *ngIf="processLink">
    <kendo-loader size="large"></kendo-loader>
  </flex-col-item>
</flex-col>
