<div id="add-menu-container">
  <!--Label-->
  <ion-item>
    <ion-label>{{'label.name.description' | languageTransform | async}}</ion-label>
    <ion-input [(ngModel)]="category.description"></ion-input>
  </ion-item>
  <!--Icon-->
  <ionic-icon-selection [(icon)]="category.icon"></ionic-icon-selection>

  <!--Button-->
  <ion-button *ngIf="!editMode" expand="full" (click)="onClickSaveNewCategory()">{{'button.name.save' | languageTransform | async}}</ion-button>
  <ion-button *ngIf="editMode" expand="full" (click)="onClickEditCategory()">{{'button.name.edit' | languageTransform | async}}</ion-button>
</div>
