<flex-col>
  <!--1. Acceptance of Terms-->
  <flex-col-item>
    <legend class="title">
      {{ 'label.title.acceptanceofterms' | languageTransform: 'System' | async }}
    </legend>
  </flex-col-item>
  <flex-col-item>
    {{ 'confirmation.description.massagegeneralagreement' | languageTransform: 'System' | async }}
  </flex-col-item>
  <flex-col-item>
    {{ 'confirmation.description.massageusageformagreement' | languageTransform: 'System' | async }}
  </flex-col-item>
  <flex-col-item>
    {{ 'confirmation.description.massageperformagreement' | languageTransform: 'System' | async }}
  </flex-col-item>
  <flex-col-item>
    {{ 'confirmation.description.massageriskagreement' | languageTransform: 'System' | async }}
  </flex-col-item>
  <flex-col-item>
    {{ 'confirmation.description.massagereleaseinformationagreement' | languageTransform: 'System' | async }}
  </flex-col-item>
  <flex-col-item>
    {{ 'confirmation.description.massagesummaryagreement' | languageTransform: 'System' | async }}
  </flex-col-item>
</flex-col>
