<!-- Option Button-->
<ion-icon name="chevron-down-outline" style="margin-right: 40px" (click)="presentOption($event)"></ion-icon>

<!-- Option Selection-->
<ion-popover [isOpen]="isOpen" (didDismiss)="isOpen = false">
  <ng-template>
    <!-- Edit Button -->
    <ion-content class="ion-padding">
      <ion-button (click)="onClickEdit()">
        <ion-icon name="build-outline"></ion-icon>
      </ion-button>
    </ion-content>
    <!-- Delete Button -->
    <ion-content class="ion-padding">
      <ion-button (click)="onClickDelete()">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-content>
  </ng-template>
</ion-popover>

<!--TODO: EDIT POP OVER-->
