#shop-service {
  display: flex;
  justify-content: center;
  justify-self: center;
  margin-top: 25px;
}
#shop-service-title {
  max-width: 1000px;
}
#shop-service-grid {
  max-width: 1000px;
  margin: auto;
}
