<ion-header>
  <ion-toolbar>
    <!-- Menu -->
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="true"></ion-menu-button>
    </ion-buttons>
    <!-- Title -->
    <ion-title
      >{{'menu.name.systemmanagement'| languageTransform | async }}</ion-title
    >
    <!--System Menu-->
    <ion-icon
      class="toolbar-icon"
      id="system-menu"
      slot="end"
      [name]="systemMenuIcon"
      (click)="onClickSystemMenu($event)"
    ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Button -->
  <section id="button-selection">
    <kendo-buttongroup selection="single" width="100%">
      <button
        kendoButton
        *ngFor="let button of systemMenu"
        [toggleable]="true"
        [selected]="button.name === selectedSystemMenu.name"
        (selectedChange)="processSystemMenuOption(button)"
      >
        {{button.name}}
      </button>
    </kendo-buttongroup>
  </section>

  <!-- Content -->
  <system-menu-management
    *ngIf="selectedSystemMenu.isMenuManagement"
  ></system-menu-management>
  <system-role-management
    *ngIf="selectedSystemMenu.isRoleManagement"
  ></system-role-management>
  <system-plan-management
    *ngIf="selectedSystemMenu.isPlanManagement"
  ></system-plan-management>
  <system-shop-management
    *ngIf="selectedSystemMenu.isShopManagement"
  ></system-shop-management>
</ion-content>
