#info-container {
  margin-top: 20px;
}

#active,
#display-in-booking,
#password-reset {
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 450px) {
  #login-gender-container {
    flex-direction: column;
  }
}
