<form-header
  [title]="form.headerTitle"
  [readOnly]="form.readOnly"
  [enabledSavebutton]="form.enabledSavebutton"
  [action]="form.action"
  (onClickDismiss)="dismiss()"
  (onClickCreate)="handleCreate()"
  (onClickEdit)="handleEdit()"
  (onClickSave)="handleSave()"
  (onClickDelete)="handleDelete()">
</form-header>

<ion-content [scrollable]="true">
  <!-- Page 1. Information -->
  <flex-col class="modal-container">
    <flex-row>
      <flex-row-item>
        <name-value-pair-single-dropdown-selection
          [readOnly]="form.readOnly"
          [selection]="availableRoleFilter"
          [(selected)]="selectedRole"
          (selectedChange)="onChangeRole()"
          title="label.title.role"></name-value-pair-single-dropdown-selection>
      </flex-row-item>
      <flex-row-item>
        <flex-col>
          <flex-col-item id="active">
            <kendo-label text="{{ 'label.title.active' | languageTransform: 'System' | async }}">
              <input
                [disabled]="form.readOnly || isReachToMax"
                [(ngModel)]="employee.active"
                (ngModelChange)="onChangeActive()"
                kendoCheckBox
                type="checkbox" />
            </kendo-label>
          </flex-col-item>
          <flex-col-item id="display-in-booking">
            <kendo-label text="{{ 'label.title.displayinBooking' | languageTransform: 'System' | async }}">
              <input
                [disabled]="form.readOnly || employee.role.accessLevel.isReception"
                [(ngModel)]="employee.displayInSystem"
                (ngModelChange)="handleEnabledSaveBtn()"
                kendoCheckBox
                type="checkbox" />
            </kendo-label>
          </flex-col-item>
        </flex-col>
      </flex-row-item>
    </flex-row>

    <!-- Role -->
    <flex-row>
      <flex-row-item>
        <date-picker
          [displayNextDay]="0"
          [displayCenter]="true"
          [isDateOfBrith]="true"
          [readOnly]="form.readOnly"
          [(date)]="employee.dob"
          title="label.title.dateofbrith"></date-picker>
      </flex-row-item>
      <flex-row-item>
        <langauge-selection
          [readOnly]="form.readOnly"
          [(selectedCode)]="employee.setting.preferLanguage"
          (selectedCodeChange)="handleEnabledSaveBtn()"></langauge-selection>
      </flex-row-item>
    </flex-row>

    <!-- General -->
    <flex-row id="login-gender-container">
      <flex-row-item id="login-option-container">
        <login-option-selection
          [loginOption]="employee.loginOption"
          [readOnly]="true"
          (loginOptionChange)="handleEnabledSaveBtn()"
          mode="form"></login-option-selection>
      </flex-row-item>
      <flex-row-item>
        <gender-selection
          [(gender)]="employee.gender"
          [readOnly]="form.readOnly"
          (genderChange)="handleEnabledSaveBtn()"></gender-selection>
      </flex-row-item>
    </flex-row>

    <!-- Name -->
    <flex-row>
      <flex-row-item>
        <text-box
          [(value)]="employee.firstName"
          [readOnly]="form.readOnly"
          [isRequired]="true"
          [max]="100"
          [min]="1"
          [(validate)]="validator.firstName"
          (validateChange)="handleEnabledSaveBtn()"
          title="label.title.firstname"></text-box>
      </flex-row-item>
      <flex-row-item>
        <text-box
          [(value)]="employee.lastName"
          [readOnly]="form.readOnly"
          [isRequired]="true"
          [max]="100"
          [min]="1"
          [(validate)]="validator.lastName"
          (validateChange)="handleEnabledSaveBtn()"
          title="label.title.lastname"></text-box>
      </flex-row-item>
    </flex-row>

    <!-- Contact -->
    <flex-row>
      <flex-row-item>
        <phone-number
          [(phone)]="employee.phoneNumber"
          [readOnly]="form.readOnly"
          [isRequired]="true"
          [(validate)]="validator.phone"
          (phoneChange)="handleEnabledSaveBtn()"></phone-number>
      </flex-row-item>
      <flex-row-item>
        <e-mail
          [(email)]="employee.email"
          [readOnly]="form.readOnly"
          [isRequired]="true"
          [(validate)]="validator.email"
          (emailChange)="handleEnabledSaveBtn()"></e-mail>
      </flex-row-item>
    </flex-row>
    <!-- Date -->
    <flex-row *ngIf="form.action !== 'create'">
      <flex-row-item>
        <date-picker
          *ngIf="shopConfig !== undefined"
          [readOnly]="form.readOnly"
          [dateFormatter]="shopConfig.country.dateFormat"
          [shopTimeZone]="shopConfig.timezone"
          [(date)]="employee.activeFrom"
          title="label.title.activefrom"></date-picker>
      </flex-row-item>
      <flex-row-item>
        <date-picker
          *ngIf="shopConfig !== undefined && employee.activeTo !== null"
          [readOnly]="form.readOnly"
          [displayCenter]="true"
          [dateFormatter]="shopConfig.country.dateFormat"
          [displayCenter]="true"
          [shopTimeZone]="shopConfig.timezone"
          [(date)]="employee.activeTo"
          title="label.title.activeto"></date-picker>
      </flex-row-item>
    </flex-row>

    <!-- Password -->
    <flex-col-item id="password-reset">
      <yes-no-selection
        *ngIf="employee.loginOption.email && form.action === 'edit' && !form.readOnly"
        [(value)]="resetPassword"
        [readOnly]="form.readOnly"
        (valueChange)="onClickResetPassword()"
        title="label.title.passwordreset"></yes-no-selection>
    </flex-col-item>
    <password-confirmation
      *ngIf="resetPassword"
      [(validate)]="validator.password"
      (passwordChange)="setPassword($event)"></password-confirmation>
  </flex-col>
</ion-content>
