#shop-coupon {
  display: flex;
  justify-content: center;
  justify-self: center;
  margin-top: 25px;
  justify-content: center;
  justify-items: center;
  max-width: 1000px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 50vh;
}
