<kendo-label text="{{ title | languageTransform: 'System' | async }}">
  <div class="form-error-container">
    <kendo-formerror *ngIf="!validate && mode === 'form' && entered && isRequired"
      >{{ 'messageerror.description.textbox' | languageTransform: 'System' | async }}
      {{ 'label.title.minimum' | languageTransform: 'System' | async }}: {{ min
      }}{{ 'label.title.characters' | languageTransform: 'System' | async }}
      {{ 'label.title.maximum' | languageTransform: 'System' | async }}: {{ max
      }}{{ 'label.title.characters' | languageTransform: 'System' | async }}
    </kendo-formerror>

    <p id="tooltip" *ngIf="!validate && mode === 'form' && tooltip && !entered">
      {{ tooltip | languageTransform: 'System' | async }}
    </p>
  </div>

  <kendo-textbox
    #textBox
    [(ngModel)]="validatedValue"
    (ngModelChange)="onChangeValue()"
    [readonly]="readOnly"
    [maxlength]="max"
    [placeholder]="placeholder"
    [clearButton]="true">
    <ng-template kendoTextBoxSuffixTemplate *ngIf="showCounter">
      <span class="counter">{{ counter }}</span>
    </ng-template>
  </kendo-textbox>
</kendo-label>
