<flex-col>
  <flex-col-item>
    <kendo-textbox
      *ngIf="filterable"
      [(ngModel)]="query"
      (ngModelChange)="onQueryChange()"
      placeholder="{{ 'placeholder.title.search' | languageTransform | async }}"></kendo-textbox>
  </flex-col-item>
  <flex-col-item>
    <div id="container" [ngStyle]="{ 'max-height': maxHeight }">
      <div *ngFor="let btn of gridData" id="btn-list">
        <div id="btn" (click)="onClickCell(btn)" [ngClass]="{ active: isActive(btn) }">
          <span id="name">{{ btn.name | languageTransform | async }}</span>
        </div>
      </div>
    </div>
    <div *ngIf="gridData.length === 0">
      <p>{{ 'placeholder.description.nodata' | languageTransform | async }}</p>
    </div>
  </flex-col-item>
</flex-col>
