#dropdown-list tr.active {
  background-color: red;
}

#dropdown-list tr.deactive {
  background-color: black;
}
flex-col-item {
  margin: 0;
}

#search-container {
  margin-top: 5px;
}

#btn-list {
  width: 100%;
}

#btn {
  display: flex;
  justify-content: flex-start;
  margin: 0px 1px;
  height: 32px;
  font-size: 12px;
  border-bottom: 1px solid #121212;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
#name {
  padding: 8px 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#container {
  min-height: 0px;
  justify-content: flex-start;
}
