#test-plan-switch {
  margin-top: 10px;
  margin-left: 15px;
}
yes-no-selection-group {
  justify-content: flex-start;
  width: fit-content;
}

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 1170px) and (-webkit-min-device-pixel-ratio: 3) {
  /* Styles for iPhone X to iPhone 13 Pro in both portrait and landscape */
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 1170px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  #header {
    margin-top: 50px;
  }
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 1170px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  /* Styles for iPhone X to iPhone 13 Pro in landscape */
  #header {
    margin-top: 10px;
  }
}
