#shop-package {
  display: flex;
  justify-content: center;
  justify-self: center;
  margin: 25px 15px 10px 15px;
}

#shop-package-grid {
  max-width: 1000px;
  margin: auto;
}

#bar {
  max-width: 1000px;
  margin: auto;
}
