#shop-package {
  display: flex;
  justify-content: center;
  justify-self: center;
  margin-top: 25px;
}

#shop-package-grid {
  max-width: 1000px;
  margin: auto;
}

#bar {
  max-width: 1000px;
  margin: auto;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 50vh;
}
