<flex-col>
  <flex-row>
    <flex-row-item id="title">
      <legend>{{ title | languageTransform: 'System' | async }}</legend>
      <div id="change-button-container" *ngIf="!readOnly">
        <input type="file" #fileInput style="display: none" (change)="fileChangeHandler($event)" />
        <button kendoButton (click)="openFileDialog()" id="change-button">
          <span class="k-icon k-i-change-manually"></span>
        </button>
      </div>
    </flex-row-item>
    <flex-row-item>
      <img
        [src]="currentImage"
        (load)="onImageLoad()"
        [ngClass]="{ loadingimg: !loaded, logo: type === 'logo', picture: type === 'picture' }" />
      <div
        [ngClass]="{ logoloading: type === 'logo', pictureloading: type === 'picture' }"
        *ngIf="!loaded">
        <kendo-loader size="large"></kendo-loader>
      </div>
    </flex-row-item>
  </flex-row>
</flex-col>
