<legend>{{ 'label.title.subscriptionservice' | languageTransform: 'System' | async }}</legend>

<kendo-grid [kendoGridBinding]="planOptions" [sortable]="true">
  <!-- Add Button -->
  <ng-template kendoGridToolbarTemplate>
    <button kendoGridAddCommand (click)="onClickAddPlan()">
      {{ 'button.title.add' | languageTransform: 'System' | async }}
    </button>
  </ng-template>

  <kendo-grid-column
    field="name"
    title="{{ 'label.title.name' | languageTransform: 'System' | async }}">
  </kendo-grid-column>

  <kendo-grid-column
    field="isPlanManagement"
    title="{{ 'label.title.premium' | languageTransform: 'System' | async }}">
    <ng-template kendoGridCellTemplate let-plan>
      <input type="checkbox" kendoCheckBox [checked]="plan.isPremium" disabled />
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-column
    *ngIf="global.deviceWidth.deviceType.isDesktop"
    field="isTestPlan"
    title="{{ 'label.title.test' | languageTransform: 'System' | async }}">
    <ng-template kendoGridCellTemplate let-plan>
      <input type="checkbox" kendoCheckBox [checked]="plan.isTestPlan" disabled />
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-column
    *ngIf="global.deviceWidth.deviceType.isDesktop"
    field="limitedService"
    title="{{ 'label.title.service' | languageTransform: 'System' | async }}">
  </kendo-grid-column>

  <kendo-grid-column
    *ngIf="global.deviceWidth.deviceType.isDesktop"
    field="limitedProduct"
    title="{{ 'label.title.product' | languageTransform: 'System' | async }}">
  </kendo-grid-column>

  <kendo-grid-column
    *ngIf="global.deviceWidth.deviceType.isDesktop"
    field="limitedPackage"
    title="{{ 'label.title.package' | languageTransform: 'System' | async }}">
  </kendo-grid-column>

  <kendo-grid-column
    *ngIf="global.deviceWidth.deviceType.isDesktop"
    field="limitedUser"
    title="{{ 'label.title.user' | languageTransform: 'System' | async }}">
  </kendo-grid-column>

  <ng-template kendoGridDetailTemplate let-plan let-rowIndex="rowIndex">
    <category-details [category]="plan">
      <p>
        ({{ 'date.title.weekly' | languageTransform: 'System' | async }})
        {{ 'label.title.total' | languageTransform: 'System' | async }}:
        {{ plan.weeklyPrice.total | currency }} |
        {{ 'label.title.tax' | languageTransform: 'System' | async }}:
        {{ plan.weeklyPrice.tax | currency }} |
        {{ 'label.title.excludingtax' | languageTransform: 'System' | async }}:
        {{ plan.weeklyPrice.net | currency }}
      </p>
      <p>
        ({{ 'date.title.monthly' | languageTransform: 'System' | async }})
        {{ 'label.title.total' | languageTransform: 'System' | async }}:
        {{ plan.monthlyPrice.total | currency }} |
        {{ 'label.title.tax' | languageTransform: 'System' | async }}:
        {{ plan.monthlyPrice.tax | currency }} |
        {{ 'label.title.excludingtax' | languageTransform: 'System' | async }}:
        {{ plan.monthlyPrice.net | currency }}
      </p>
      <p>
        ({{ 'date.title.annually' | languageTransform: 'System' | async }})
        {{ 'label.title.total' | languageTransform: 'System' | async }}:
        {{ plan.annuallyPrice.total | currency }} |
        {{ 'label.title.tax' | languageTransform: 'System' | async }}:
        {{ plan.annuallyPrice.tax | currency }} |
        {{ 'label.title.excludingtax' | languageTransform: 'System' | async }}:
        {{ plan.annuallyPrice.net | currency }}
      </p>
    </category-details>
  </ng-template>

  <kendo-grid-command-column>
    <ng-template kendoGridCellTemplate let-plan>
      <button
        kendoGridEditCommand
        themeColor="tertiary"
        icon="edit"
        (click)="onClickEdit(plan)"></button>
      <button
        kendoGridRemoveCommand
        themeColor="error"
        icon="trash"
        (click)="onClickDelete(plan.id, plan.name)"></button>
    </ng-template>
  </kendo-grid-command-column>
</kendo-grid>
