#schedule-date {
  margin: 0;
  font-size: 12px;
  display: flex;
  flex-direction: row;
}
#text {
  margin: 0;
}
.schedule-btn {
  width: 125px;
  height: 27px;
  font-weight: 900;
}

.work {
  background: var(--work);
  font-weight: 600;
}

.dayoff {
  background: var(--completed);
  font-weight: 600;
}

@media (max-width: 1180px) {
  #schedule-date {
    flex-direction: column;
    justify-content: center;
  }
  .schedule-btn {
    width: 65px;
    height: 60px;
  }
}

@media (max-width: 760px) {
  #schedule-date {
    flex-direction: column;
    justify-content: center;
    font-size: 10px;
  }
  .schedule-btn {
    width: 55px;
    height: 50px;
  }
}

@media (max-width: 500px) {
  #schedule-date {
    flex-direction: column;
    justify-content: center;
    font-size: 9px;
  }
  .schedule-btn {
    width: 50px;
    height: 45px;
  }
}

@media (max-width: 470px) {
  #schedule-date {
    flex-direction: column;
    justify-content: center;
    font-size: 7px;
  }
  .schedule-btn {
    width: 40px;
    height: 40px;
  }
}
