#catch-phrase {
  color: #d6aa97;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

#catch-phrase-empty-query {
  padding-top: 80px;
}

#loading-skeleton {
  display: flex;
  justify-content: center;
  flex-col {
    justify-content: center;
  }
}
