<section *ngIf="!addressParam?.suburb" id="catch-phrase-empty-query">
  <flex-col>
    <flex-col-item id="catch-phrase-container">
      <p id="catch-phrase">{{ 'label.title.catchphrase' | languageTransform: 'System' | async }}</p>
    </flex-col-item>
  </flex-col>
</section>

<section *ngIf="shops" class="shop-card-list">
  <div class="shop-cards">
    <ng-container *ngFor="let shop of shops">
      <shop-card [shop]="shop"></shop-card>
    </ng-container>
  </div>
</section>
<div class="loading-container" *ngIf="loading">
  <kendo-loader size="large"></kendo-loader>
</div>
