<kendo-label text="{{ title | languageTransform: 'System' | async }}" *ngIf="isTitleRequired">
  <div class="form-error-container">
    <kendo-formerror *ngIf="!validated && isRequired && entered">{{
      'messageerror.description.invalidphone' | languageTransform: 'System' | async
    }}</kendo-formerror>
  </div>
  <form [formGroup]="phoneNumberForm">
    <ngx-dialer-input
      [cssClass]="'custom-tel-input'"
      name="phone"
      formControlName="phone"
      customPlaceholder="{{ placeholder | languageTransform: 'System' | async }}"
      [disabled]="readOnly"
      [enableAutoCountrySelect]="true"
      [enablePlaceholder]="false"
      [searchCountryFlag]="true"
      [phoneValidation]="true"
      [preferredCountries]="preferredCountries"
      [numberFormat]="phoneNumberFormat"
      [maxLength]="15"
      (ngModelChange)="onChangeValue($event)"
      (countryChange)="onChangeCountry()"></ngx-dialer-input>
  </form>
</kendo-label>

<div *ngIf="!isTitleRequired">
  <div class="form-error-container">
    <kendo-formerror *ngIf="!validated && isRequired && entered">{{
      'messageerror.description.invalidphone' | languageTransform: 'System' | async
    }}</kendo-formerror>
  </div>
  <form [formGroup]="phoneNumberForm">
    <ngx-dialer-input
      [cssClass]="'custom-tel-input'"
      name="phone"
      formControlName="phone"
      customPlaceholder="{{ placeholder | languageTransform: 'System' | async }}"
      [disabled]="readOnly"
      [enableAutoCountrySelect]="true"
      [enablePlaceholder]="false"
      [searchCountryFlag]="true"
      [phoneValidation]="true"
      [phoneValidation]="true"
      [preferredCountries]="preferredCountries"
      [numberFormat]="phoneNumberFormat"
      [maxLength]="15"
      (ngModelChange)="onChangeValue($event)"
      (countryChange)="onChangeCountry()"></ngx-dialer-input>
  </form>
</div>
