/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@import './theme/pretty-of-system-dark-theme/dist/scss';
@import './theme/variables.scss';

/* Set variables for all modes */

:root {
  --ion-font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Roboto', sans-serif;
  --form-background-color: white;
  --background: #191919;
  --active: #787586;
  --error: #b02b36;
  --title: #cd7867;
  --hyperlink: #ff00ff;
  --completed: #474554;
  --created: #008b6a;
  --success: #8a84ee;
}

ion-app,
ion-content {
  --ion-background-color: var(--background);
  background: var(--background);
  background-color: var(--background);

  #background-content {
    --ion-background-color: var(--background);
    background: var(--background);
  }
}

ion-toolbar {
  --ion-background-color: var(--active);
  background: var(--active);
  background-color: var(--active);
}

.activeIconBtn {
  opacity: 1;
  font-weight: bold;
}

.deActiveIconBtn {
  opacity: 0.5;
}

.k-button-text {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Roboto', sans-serif !important;
}

.grecaptcha-badge {
  visibility: hidden;
}

.toolbar-icon {
  font-size: 30px;
  margin: 5px;
  cursor: pointer;
}
.title {
  color: var(--title);
  font-weight: bold;
}
.active {
  --background: var(--active);
  background-color: var(--active);
  background: var(--active);
  font-weight: bold;
}

.deactive {
  --background: var(--background);
  background-color: var(--background);
  background: var(--background);
  font-weight: bold;
}

.modal-container {
  margin: 5px;
  background-color: var(--background);
}

ion-loading {
  --backdrop-opacity: 0;
  background: transparent;
  box-shadow: none;
}

ion-popover {
  --backdrop-opacity: 0.8;
  --color: white;
}

.logo-loading {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  --background: #transparent !important;
  position: relative;
  width: 100%;
  flex-direction: column;
  height: 100vh;
}

.loading-wrapper.sc-ion-loading-md {
  flex-direction: column;
}
.loading-wrapper.sc-ion-loading-md .loading-content {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-margin-start: 0;
  -margin-inline-start: 0;
}
.sc-ion-loading-ios {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-margin-start: 0;
  -margin-inline-start: 0;
}

.loading-spinner.sc-ion-loading-md + .loading-content.sc-ion-loading-md,
.loading-spinner.sc-ion-loading-ios + .loading-content.sc-ion-loading-ios {
  -webkit-margin-start: 0;
  -webkit-margin-left: 0;
  margin-inline-start: 0;
  margin-left: 0;
}

.logo-loading::before,
.logo-loading::after,
.logo-loading::backdrop {
  content: '';
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url('./assets/logo/prettyofsystem-logo-white.svg') no-repeat center center;
  background-size: contain;
  width: 100px;
  height: 100px;
}

.date-pick-popup-container {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  animation: none !important;
  transition: none !important;
}

.pop-over-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 80px;
  --width: fit-content;
}

.delete-ion-sliding-option {
  color: red;
}

.success-toast {
  --background: white;
  --color: #121212;
}

.error-toast {
  --background: var(--error);
}

.error-text {
  color: var(--error);
}

.ion-card-title-icon {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
  margin-top: 15px;
  margin-right: 5px;
}

.form-error-container {
  width: 100%;
  height: 5px;
}

legend {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-style: normal;
}

.active-box {
  right: 0;
  margin-left: 15px;
  margin-top: 5px;
  color: #b3b3b3;
  display: flex;
  align-items: flex-end;
  font-size: 11px;
  .k-checkbox {
    margin-left: 5px;
  }
}

yes-no-selection-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  yes-no-selection {
    align-self: flex-end;
  }
}
time-picker-group {
  display: flex;
  flex-direction: row;
  background: var(--background);
}

ion-button {
  --background: var(--active);
  position: relative;
  color: white;
}

kendo-textbox,
kendo-autocomplete,
kendo-label {
  font-style: normal;
}

//Form
ion-content {
  form-header {
    position: sticky;
    top: 0;
    z-index: 100;
  }
}

flex-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  --background: var(--background);
  --background-color: var(--background);
  background: var(--background);
  background-color: var(--background);
  flex-row-item {
    flex: 1;
    --background: var(--background);
    --background-color: var(--background);
    background: var(--background);
    background-color: var(--background);
  }
}
flex-col {
  --background: var(--background);
  --background-color: var(--background);
  background: var(--background);
  background-color: var(--background);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  flex-col-item {
    flex: 1;
    --background: var(--background);
    --background-color: var(--background);
    background: var(--background);
    background-color: var(--background);
  }
}

error-message-item {
  display: flex;
  justify-content: center;
  color: var(--error);
  --background: var(--background);
  --background-color: var(--background);
  background: var(--background);
  background-color: var(--background);
  p {
    margin: 0px;
    margin-left: 5px;
    font-weight: bold;
  }
}

flex-row-item,
flex-col-item,
error-message-item {
  margin: 0px 15px 10px 15px;
}

/*itl-phone*/
.iti--allow-dropdown {
  margin-top: 12px;
  margin-bottom: 10px;
  max-width: 100%;
  min-width: 100px;
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #101010;
  border: #232323 1px solid;
  &:hover {
    border: #333333 1px solid;
  }
  &:focus-within {
    border-color: rgba(255, 255, 255, 0.16);
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.08);
    outline: unset;
  }
}

/*itl-phone*/
.iti__flag-container {
  position: relative;
}

/*itl-phone*/
.iti__selected-flag {
  padding: 0px 5px;
}

/*itl-phone*/
.iti--allow-dropdown input[type='tel'] {
  height: 30px;
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-left: 0px;
  background-color: unset;
  border-radius: unset;
  border: unset;
  &:hover {
    border: unset;
  }
  &:focus-visible {
    border-color: unset;
    box-shadow: unset;
    outline: unset;
  }
  &:disabled {
    color: white;
  }
}

/*itl-phone*/
.iti--allow-dropdown input::placeholder,
.iti--allow-dropdown input:disabled {
  color: white;
  font-size: 14px;
}

/*itl-phone*/
.dropdown-menu.country-dropdown.show {
  border: rgba(255, 255, 255, 0.08) 1px solid;
  border-radius: 0px;
  background-color: #101010;
  min-width: 200px;
  max-width: 260px;
  padding: 0px;
  border-collapse: collapse;
  .iti__country {
    padding: 5px 0px;
  }
  .search-container,
  .iti__country-list {
    font-size: 14px;
    color: white;
    #country-search-box {
      padding: 15px;
      background-color: #101010;
      border-bottom: unset;
      border: unset;
      height: 30px;
      &:hover {
        border: unset;
      }
      &:focus-visible {
        border-color: unset;
        box-shadow: unset;
        outline: unset;
      }
    }
    &:hover {
      border: unset;
    }
    &:focus-visible {
      border-color: unset;
      box-shadow: unset;
      outline: unset;
    }
  }
  .iti__country-list {
    background: #101010;
    color: white;
    max-width: 300px;
  }
}
