<ion-content>
  <flex-col>
    <flex-col-item>
      <div id="container">
        <div id="btn-list">
          <div id="btn" *ngIf="displayEdit()" (click)="onClickEdit()">
            <span id="name">{{ 'label.title.edit' | languageTransform: 'System' | async }}</span>
          </div>
          <div id="btn" *ngIf="displayNewConsult()">
            <span id="name">{{ 'label.title.newbooking' | languageTransform: 'System' | async }}</span>
          </div>
        </div>
      </div>
    </flex-col-item>
  </flex-col>
</ion-content>
