<ion-content [scrollable]="true">
  <form-header
    [title]="form.headerTitle"
    [readOnly]="form.readOnly"
    [enabledSavebutton]="form.enabledSavebutton"
    [action]="form.action"
    (onClickDismiss)="dismiss()"
    (onClickCreate)="onClickCreate()">
  </form-header>
  <flex-col>
    <kendo-buttongroup selection="single" width="100%">
      <kendo-button
        *ngFor="let page of pages"
        [toggleable]="true"
        [selected]="page.name === currentPage.name"
        (selectedChange)="onPageChange(page)"
        kendoButton>
        {{ page.name | languageTransform: 'System' | async }}
      </kendo-button>
    </kendo-buttongroup>
  </flex-col>

  <!-- Page 1. Information -->
  <flex-col *ngIf="currentPage.value === 'page1'" id="info-container">
    <flex-row id="option-container">
      <flex-col id="login-gender-container">
        <flex-col-item id="login-option-container">
          <login-option-selection
            [(loginOption)]="user.loginOption"
            [readOnly]="form.readOnly"
            (loginOptionChange)="onChangeLoginOption()"
            mode="login"></login-option-selection>
        </flex-col-item>
        <flex-col-item>
          <gender-selection [(gender)]="user.gender" [readOnly]="form.readOnly"></gender-selection>
        </flex-col-item>
      </flex-col>
      <flex-col-item id="account-setting">
        <yes-no-selection-group>
          <yes-no-selection
            [(value)]="user.isSystemAdmin"
            [readOnly]="form.readOnly"
            title="label.title.admin"></yes-no-selection>
          <yes-no-selection
            [(value)]="!user.disabledAccount"
            [readOnly]="form.readOnly"
            title="label.title.active"></yes-no-selection>
        </yes-no-selection-group>
      </flex-col-item>
    </flex-row>
    <flex-row>
      <flex-row-item>
        <text-box
          [(value)]="user.firstName"
          [readOnly]="form.readOnly"
          [isRequired]="true"
          [(validate)]="validator.firstName"
          (validateChange)="handleEnabledSaveBtn()"
          title="label.title.firstname"></text-box>
      </flex-row-item>
      <flex-row-item>
        <text-box
          [(value)]="user.lastName"
          [readOnly]="form.readOnly"
          [isRequired]="true"
          [(validate)]="validator.lastName"
          (validateChange)="handleEnabledSaveBtn()"
          title="label.title.lastname"></text-box>
      </flex-row-item>
    </flex-row>
    <flex-row>
      <flex-row-item>
        <phone-number
          [(phone)]="user.phoneNumber"
          [readOnly]="form.readOnly"
          [isRequired]="true"
          [(validate)]="validator.phone"
          (validateChange)="handleEnabledSaveBtn()"></phone-number>
      </flex-row-item>
      <flex-row-item>
        <e-mail
          [(email)]="user.email"
          [readOnly]="form.readOnly"
          [isRequired]="true"
          [(validate)]="validator.email"
          (validateChange)="handleEnabledSaveBtn()"></e-mail>
      </flex-row-item>
    </flex-row>
    <flex-row>
      <flex-row-item>
        <date-picker
          [displayCenter]="true"
          [displayNextDay]="0"
          [isDateOfBrith]="true"
          [readOnly]="form.readOnly"
          [(date)]="user.dob"
          title="label.title.dateofbrith"></date-picker>
      </flex-row-item>
      <flex-row-item>
        <langauge-selection
          [readOnly]="form.readOnly"
          [(selectedCode)]="user.setting.preferLanguage"></langauge-selection>
      </flex-row-item>
    </flex-row>
    <password-confirmation
      *ngIf="user.loginOption.email"
      [(validate)]="validator.password"
      (passwordChange)="setPassword($event)"
      (validateChange)="handleEnabledSaveBtn()"></password-confirmation>
  </flex-col>

  <!-- Page 2. Associated Shop -->
  <flex-col *ngIf="currentPage.value === 'page2'">
    <flex-col-item>
      <legend>
        {{ 'label.title.associatedshop' | languageTransform: 'System' | async }}
      </legend>
    </flex-col-item>
    <flex-col-item *ngIf="!loading">
      <kendo-grid [height]="300" [data]="user.associatedShops">
        <!-- Add -->
        <ng-template kendoGridToolbarTemplate>
          <kendo-button *ngIf="!form.readOnly" (click)="onClickAddAssociatedShopRole($event)" kendoGridAddCommand>
            {{ 'button.title.add' | languageTransform: 'System' | async }}
          </kendo-button>
        </ng-template>
        <kendo-grid-column
          [width]="125"
          title="{{ 'label.title.businessname' | languageTransform: 'System' | async }}">
          <ng-template kendoGridCellTemplate let-associatedShop>
            <ng-container *ngFor="let shop of shopFilters">
              <span *ngIf="associatedShop.shopId === shop.value">{{ shop.name }}</span>
            </ng-container>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column
          [width]="125"
          title="{{ 'label.title.role' | languageTransform: 'System' | async }}"
          field="id">
          <ng-template kendoGridCellTemplate let-shop>
            <name-value-pair-single-dropdown-selection
              [selection]="roleFilters"
              [isRequiredTitle]="false"
              [filterable]="false"
              [selected]="{
                name: shop.role.name,
                value: shop.role.id
              }"
              [readOnly]="form.readOnly"
              (selectedChange)="onChangeAssociatedShopRole($event, shop)"
              maxHeight="150"></name-value-pair-single-dropdown-selection>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column
          [width]="75"
          title="{{ 'label.title.displayinbooking' | languageTransform: 'System' | async }}">
          <ng-template kendoGridCellTemplate let-shop>
            <input
              [checked]="shop.displayInSystem"
              [disabled]="form.readOnly"
              (click)="displayChange(shop)"
              id="associated-shop-display-in-booking"
              type="checkbox"
              kendoCheckBox />
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column [width]="50" title="{{ 'label.title.active' | languageTransform: 'System' | async }}">
          <ng-template kendoGridCellTemplate let-shop>
            <input
              [checked]="shop.active"
              [disabled]="form.readOnly"
              (click)="activeChange(shop)"
              id="associated-shop-active"
              type="checkbox"
              kendoCheckBox />
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-command-column [width]="50">
          <ng-template kendoGridCellTemplate let-shop>
            <kendo-button
              *ngIf="!form.readOnly"
              (click)="onClickDeleteAssociatedShop(shop)"
              id="delete-btn"
              kendoGridRemoveCommand
              themeColor="error"
              icon="trash"></kendo-button>
          </ng-template>
        </kendo-grid-command-column>
      </kendo-grid>
    </flex-col-item>
  </flex-col>
</ion-content>
