<flex-col id="work-hours-container">
  <!-- Title -->
  <legend *ngIf="requiresTitle">
    {{ 'label.title.operatinghours' | languageTransform: 'System' | async }}
  </legend>
  <flex-row-item *ngIf="!readOnly && (action === 'create' || action === 'edit')" id="time-container">
    <time-picker-group>
      <time-picker
        [displayCenter]="true"
        [(time)]="copyValue.openTime"
        [intervalMin]="intervalMin"
        [readOnly]="readOnly"
        [displayCenter]="true"></time-picker>
      <p id="time-picker-seperator">-</p>
      <time-picker
        [displayCenter]="true"
        [(time)]="copyValue.closeTime"
        [intervalMin]="intervalMin"
        [readOnly]="readOnly"
        [displayCenter]="true"></time-picker>
      <kendo-button (click)="onClickCopy()" kendoButton id="copy-button">
        {{ 'button.title.copy' | languageTransform: 'System' | async }}
      </kendo-button>
    </time-picker-group>
  </flex-row-item>
  <!-- Error -->
  <flex-col-item id="error-container">
    <div *ngIf="!inputValidator && (action === 'create' || action === 'edit')" class="form-error-container">
      <kendo-formerror>
        {{ 'messageerror.description.workhours' | languageTransform: 'System' | async }}
      </kendo-formerror>
    </div>
  </flex-col-item>

  <!-- Sunday -->
  <flex-col-item>
    <flex-row>
      <div id="title">
        <legend [ngClass]="{ 'error-text': !validator.sun }">Sun</legend>
        <input
          [(ngModel)]="inputWorkHours.sun.isOpen"
          [disabled]="readOnly"
          (ngModelChange)="onChangeSun()"
          id="close-open-button"
          type="checkbox"
          kendoCheckBox />
      </div>
      <flex-row-item id="time-container">
        <time-picker-group *ngIf="inputWorkHours.sun.isOpen">
          <time-picker
            [displayCenter]="true"
            [(time)]="inputWorkHours.sun.operatingHours.openTime"
            [intervalMin]="intervalMin"
            [readOnly]="readOnly"
            (timeChange)="onChangeSun()"></time-picker>
          <p id="time-picker-seperator">-</p>
          <time-picker
            [displayCenter]="true"
            [(time)]="inputWorkHours.sun.operatingHours.closeTime"
            [intervalMin]="intervalMin"
            [readOnly]="readOnly"
            (timeChange)="onChangeSun()"></time-picker>
        </time-picker-group>
      </flex-row-item>
    </flex-row>
  </flex-col-item>
  <!-- Monday -->
  <flex-col-item>
    <flex-row>
      <div id="title">
        <legend [ngClass]="{ 'error-text': !validator.mon }">Mon</legend>
        <input
          [(ngModel)]="inputWorkHours.mon.isOpen"
          [disabled]="readOnly"
          (ngModelChange)="onChangeMon()"
          id="close-open-button"
          type="checkbox"
          kendoCheckBox />
      </div>
      <flex-row-item id="time-container">
        <time-picker-group *ngIf="inputWorkHours.mon.isOpen">
          <time-picker
            [displayCenter]="true"
            [(time)]="inputWorkHours.mon.operatingHours.openTime"
            [intervalMin]="intervalMin"
            [readOnly]="readOnly"
            (timeChange)="onChangeMon()"></time-picker>
          <p id="time-picker-seperator">-</p>
          <time-picker
            [displayCenter]="true"
            [(time)]="inputWorkHours.mon.operatingHours.closeTime"
            [intervalMin]="intervalMin"
            [readOnly]="readOnly"
            (timeChange)="onChangeMon()"></time-picker>
        </time-picker-group>
      </flex-row-item>
    </flex-row>
  </flex-col-item>
  <!-- Tuesday -->
  <flex-col-item>
    <flex-row>
      <div id="title">
        <legend [ngClass]="{ 'error-text': !validator.tue }">Tue</legend>
        <input
          [(ngModel)]="inputWorkHours.tue.isOpen"
          [disabled]="readOnly"
          (ngModelChange)="onChangeTue()"
          id="close-open-button"
          type="checkbox"
          kendoCheckBox />
      </div>
      <flex-row-item id="time-container">
        <time-picker-group *ngIf="inputWorkHours.tue.isOpen">
          <time-picker
            [displayCenter]="true"
            [(time)]="inputWorkHours.tue.operatingHours.openTime"
            [intervalMin]="intervalMin"
            [readOnly]="readOnly"
            (timeChange)="onChangeTue()"></time-picker>
          <p id="time-picker-seperator">-</p>
          <time-picker
            [displayCenter]="true"
            [(time)]="inputWorkHours.tue.operatingHours.closeTime"
            [intervalMin]="intervalMin"
            [readOnly]="readOnly"
            (timeChange)="onChangeTue()"></time-picker>
        </time-picker-group>
      </flex-row-item>
    </flex-row>
  </flex-col-item>
  <!-- Wednesday -->
  <flex-col-item>
    <flex-row>
      <div id="title">
        <legend [ngClass]="{ 'error-text': !validator.wed }">Wed</legend>
        <input
          [(ngModel)]="inputWorkHours.wed.isOpen"
          [disabled]="readOnly"
          (ngModelChange)="onChangeWed()"
          id="close-open-button"
          type="checkbox"
          kendoCheckBox />
      </div>
      <flex-row-item id="time-container">
        <time-picker-group *ngIf="inputWorkHours.wed.isOpen">
          <time-picker
            [displayCenter]="true"
            [(time)]="inputWorkHours.wed.operatingHours.openTime"
            [intervalMin]="intervalMin"
            [readOnly]="readOnly"
            (timeChange)="onChangeWed()"></time-picker>
          <p id="time-picker-seperator">-</p>
          <time-picker
            [displayCenter]="true"
            [(time)]="inputWorkHours.wed.operatingHours.closeTime"
            [intervalMin]="intervalMin"
            [readOnly]="readOnly"
            (timeChange)="onChangeWed()"></time-picker>
        </time-picker-group>
      </flex-row-item>
    </flex-row>
  </flex-col-item>

  <!-- Thursday -->
  <flex-col-item>
    <flex-row>
      <div id="title">
        <legend [ngClass]="{ 'error-text': !validator.thu }">Thu</legend>
        <input
          [(ngModel)]="inputWorkHours.thu.isOpen"
          [disabled]="readOnly"
          (ngModelChange)="onChangeThu()"
          id="close-open-button"
          type="checkbox"
          kendoCheckBox />
      </div>
      <flex-row-item id="time-container">
        <time-picker-group *ngIf="inputWorkHours.thu.isOpen">
          <time-picker
            [displayCenter]="true"
            [(time)]="inputWorkHours.thu.operatingHours.openTime"
            [intervalMin]="intervalMin"
            [readOnly]="readOnly"
            (timeChange)="onChangeThu()"></time-picker>
          <p id="time-picker-seperator">-</p>
          <time-picker
            [displayCenter]="true"
            [(time)]="inputWorkHours.thu.operatingHours.closeTime"
            [intervalMin]="intervalMin"
            [readOnly]="readOnly"
            (timeChange)="onChangeThu()"></time-picker>
        </time-picker-group>
      </flex-row-item>
    </flex-row>
  </flex-col-item>

  <!-- Friday -->
  <flex-col-item>
    <flex-row>
      <div id="title">
        <legend [ngClass]="{ 'error-text': !validator.fri }">Fri</legend>
        <input
          [(ngModel)]="inputWorkHours.fri.isOpen"
          [disabled]="readOnly"
          (ngModelChange)="onChangeFri()"
          id="close-open-button"
          type="checkbox"
          kendoCheckBox />
      </div>
      <flex-row-item id="time-container">
        <time-picker-group *ngIf="inputWorkHours.fri.isOpen">
          <time-picker
            [displayCenter]="true"
            [(time)]="inputWorkHours.fri.operatingHours.openTime"
            [intervalMin]="intervalMin"
            [readOnly]="readOnly"
            (timeChange)="onChangeFri()"></time-picker>
          <p id="time-picker-seperator">-</p>
          <time-picker
            [displayCenter]="true"
            [(time)]="inputWorkHours.fri.operatingHours.closeTime"
            [intervalMin]="intervalMin"
            [readOnly]="readOnly"
            (timeChange)="onChangeFri()"></time-picker>
        </time-picker-group>
      </flex-row-item>
    </flex-row>
  </flex-col-item>

  <!-- Saturday -->
  <flex-col-item>
    <flex-row>
      <div id="title">
        <legend [ngClass]="{ 'error-text': !validator.sat }">Sat</legend>
        <input
          [(ngModel)]="inputWorkHours.sat.isOpen"
          [disabled]="readOnly"
          (ngModelChange)="onChangeSat()"
          id="close-open-button"
          type="checkbox"
          kendoCheckBox />
      </div>
      <flex-row-item id="time-container">
        <time-picker-group *ngIf="inputWorkHours.sat.isOpen">
          <time-picker
            [displayCenter]="true"
            [(time)]="inputWorkHours.sat.operatingHours.openTime"
            [intervalMin]="intervalMin"
            [readOnly]="readOnly"
            (timeChange)="onChangeSat()"></time-picker>
          <p id="time-picker-seperator">-</p>
          <time-picker
            [displayCenter]="true"
            [(time)]="inputWorkHours.sat.operatingHours.closeTime"
            [intervalMin]="intervalMin"
            [readOnly]="readOnly"
            (timeChange)="onChangeSat()"></time-picker>
        </time-picker-group>
      </flex-row-item>
    </flex-row>
  </flex-col-item>
</flex-col>
