<kendo-grid [kendoGridBinding]="extras" [height]="600" [sortable]="true">
  <!-- Add -->
  <ng-template kendoGridToolbarTemplate>
    <button kendoGridAddCommand (click)="onClickCreate()">
      <span class="k-icon k-i-plus"></span>
    </button>
  </ng-template>

  <!-- Name -->
  <kendo-grid-column
    [sortable]="true"
    field="titleProp"
    title="{{ 'label.title.name' | languageTransform | async }}">
    <ng-template kendoGridCellTemplate let-extra>
      <p (click)="onClickEdit(extra)" id="extra-name">{{ extra.titleProp }}</p>
    </ng-template>
  </kendo-grid-column>

  <!-- Price -->
  <kendo-grid-column
    [sortable]="true"
    field="price"
    title="{{ 'label.title.price' | languageTransform | async }}">
    <ng-template kendoGridCellTemplate let-extra>
      <p>{{ extra.price | currency }}</p>
    </ng-template>
  </kendo-grid-column>

  <!--Title Prop-->
  <kendo-grid-column [width]="70" title="{{ 'label.title.title' | languageTransform | async }}">
    <ng-template kendoGridCellTemplate let-extra>
      <div *ngFor="let request of translatedRequests">
        <div
          class="translated-status-container"
          [ngClass]="{
            create: request.status === 'create',
            pending: request.status === 'pending',
            inprogress: request.status === 'inProgress',
            success: request.status === 'Success',
            completed: request.status === 'Completed',
            failed: request.status === 'Failed'
          }"
          (click)="handleRequeue(request, extra, 'title')"
          *ngIf="request.serviceId === extra.id && request.format === 'title'">
          <span id="create" *ngIf="request.status === 'create'">{{
            'label.title.created' | languageTransform | async
          }}</span>
          <span id="pending" *ngIf="request.status === 'pending'">{{
            'label.title.pending' | languageTransform | async
          }}</span>
          <span id="inprogress" *ngIf="request.status === 'inProgress'">{{
            'label.title.inprogress' | languageTransform | async
          }}</span>
          <span id="success" *ngIf="request.status === 'Success'">{{
            'label.title.success' | languageTransform | async
          }}</span>
          <span id="completed" *ngIf="request.status === 'Completed'">{{
            'label.title.view' | languageTransform | async
          }}</span>
          <span id="fail" *ngIf="request.status === 'Failed'">{{
            'label.title.fail' | languageTransform | async
          }}</span>
        </div>
      </div>
    </ng-template>
  </kendo-grid-column>

  <!-- NO Data-->
  <ng-template kendoGridNoRecordsTemplate></ng-template>
</kendo-grid>
