<ion-item>
  <ion-label>{{'label.name.description' | languageTransform | async}}</ion-label>
  <ion-input [(ngModel)]="category.description"></ion-input>
</ion-item>
<ion-item>
  <ion-label>{{'label.name.icon' | languageTransform | async}}</ion-label>
  <ion-icon [name]="category.icon"></ion-icon>
  <ion-input [(ngModel)]="category.icon"> </ion-input>
</ion-item>
<ion-button (click)="onClickSaveNewCategory()">{{'button.name.save' | languageTransform | async}}</ion-button>

<ion-item *ngFor="let icon of iconList">
  <ion-icon [name]="icon.name"></ion-icon>
</ion-item>
