#dropdown-list tr.active {
  background-color: red;
}

#dropdown-list tr.deactive {
  background-color: black;
}
flex-col-item,
flex-row-item {
  margin: 0;
}

::ng-deep span.k-button-text #selected-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#btn-list {
  width: 100%;
  &:hover{
    cursor: pointer;
  }
}

#btn {
  display: flex;
  justify-content: flex-start;
  margin: 0px 1px;
  height: 32px;
  font-size: 12px;
  border-bottom: 1px solid #121212;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
#name {
  padding: 8px 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#container {
  min-height: 0px;
  justify-content: flex-start;
  background-color: #191919;
}

#search-container {
  flex: 6;
}
#apply-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  #apply-btn {
    width: 100%;
    height: 32px;
  }
}
