<ion-header>
  <ion-toolbar>
    <ion-button slot="start" (click)="save()"> Save </ion-button>
    <ion-title>
      {{'system.modal.dictionary'| languageTransform : language.currentLanguage}}
    </ion-title>
    <ion-icon class="icon" slot="end" name="terminal-outline" (click)="presentUiDictionary()" ></ion-icon>
    <ion-icon class="icon" slot="end" name="close-outline" (click)="dismiss()" ></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!--Category-->
  <ion-item>
    <ion-title>Category</ion-title>
  </ion-item>
  <div id="category-container">
    <ion-item>
      <ion-label position="floating" >Description</ion-label>
      <ion-input type="numeric" [clearInput]="true" [(ngModel)]="newCategory.description"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Transform Ui</ion-label>
      <ion-input type="text" [clearInput]="true"  [(ngModel)]="newCategory.title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Icon</ion-label>
      <ion-input type="text" [clearInput]="true"  [(ngModel)]="newCategory.icon"></ion-input>
    </ion-item>
 </div>


 <ion-item *ngIf="newCategory.description && newCategory.title && newCategory.icon">
  <ion-item>
    <ion-icon slot="start" name="{{newCategory.icon}}"></ion-icon>
    {{ newCategory.title | languageTransform : language.currentLanguage}}
  </ion-item>
</ion-item>

</ion-content>
