<ion-header>
  <ion-toolbar>
    <ion-button slot="start"> Save </ion-button>
    <ion-title>
      {{'system.modal.dictionary'| languageTransform : language.currentLanguage}}
    </ion-title>
    <ion-icon class="icon" slot="end" name="close-outline" (click)="dismiss()" ></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label position="floating">Description</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Transform Ui</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Icon</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-title>Preview</ion-title>
  </ion-item>


</ion-content>
