<ion-header>
  <ion-toolbar>
    <!-- Menu -->
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="true"></ion-menu-button>
    </ion-buttons>
    <!-- Title -->
    <ion-title>
      {{schedulerStatus() | languageTransform:'System' | async }} {{'menucontent.title.reservationschedule'|
      languageTransform:'System' | async }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <shop-reservation-schedule *ngIf="loaded()" [destroy$]="destroy$"></shop-reservation-schedule>
  <div *ngIf="!loaded()" class="loading-container">
    <kendo-loader size="large"></kendo-loader>
  </div>
</ion-content>
