<kendo-label text="{{ title | languageTransform: 'System' | async }}" *ngIf="!simpleMode">
  <kendo-switch
    [(ngModel)]="value"
    (ngModelChange)="onChangeSelection()"
    [readonly]="readOnly"
    [size]="size"
    onLabel="{{ 'label.title.yes' | languageTransform: 'System' | async }}"
    offLabel="{{ 'label.title.no' | languageTransform: 'System' | async }}">
  </kendo-switch>
</kendo-label>

<kendo-switch
  *ngIf="simpleMode"
  [(ngModel)]="value"
  (ngModelChange)="onChangeSelection()"
  [readonly]="readOnly"
  onLabel=" "
  offLabel=" "
  [size]="size">
</kendo-switch>
